{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Blog - {{ object.title }} - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main blog-detail-main">
    <!-- START GRADIENT CONTENT -->

    <section class="detail-gradient-section">
        <div class="detail-gradient-container">
            <h1 class="detail-gradient-title fade fadeInUp">{{ object.title }}</h1>
            <div class="detail-gradient-image-container fade fadeInUp">
                <img src="{{ object.user.user_image.url }}" alt="">
            </div>
            <h1 class="detail-gradient-username fade fadeInUp">{{ object.user }}</h1>
            <h2 class="detail-gradient-posted fade fadeInUp">
                Posted on 
                <span class="detail-gradient-posted-date">{{ object.posted_on|date:"F d, Y" }}</span>
            </h2>
            
            {% if object.is_private %}
            <p class="detail-gradient-private fade fadeInUp">Private post</p>
            {% endif %}
        </div>
    </section>

    <!-- END GRADIENT CONTENT -->

    <!-- START DETAIL CONTENT -->

    <section class="detail-content-section">
        <div class="detail-content-container">
            <div class="detail-content-wrapper">
                {{ object.post_text|safe }}
            </div>
        </div>
    </section>

    <!-- END DETAIL CONTENT -->

    <!-- START DETAIL LINK SECTION -->

    <section class="detail-link-section">
        <div class="detail-link-container">
            <div class="detail-link-text-container fade fadeInDown">
                <h1 class="detail-link-title">Share this post with people</h1>
                <p class="detail-link-text">{{ object.short_description }}</p>
            </div>
            <div class="detail-share-container">
                <div class="detail-share-user-info-container fade slideInLeft">
                    <p class="detail-share-posted">Posted on {{ object.posted_on|date:"F d, Y" }}, by</p>
                    <p class="detail-share-username">{{ object.user }}</p>
                </div>
                <div class="detail-share-social-container fade slideInRight">
                    <p class="detail-share-social-text">Share this article</p>
                    <button class="shareBtn" id="shareBtn"><i
                            class="fa-sharp fa-solid fa-link detail-share-link-icon"></i></button>
                    <a href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}"><i class="fab fa-telegram detail-share-social-icon"></i></a>
                    <a href="https://www.instagram.com/i.really_miss.you_/"><i class="fab fa-instagram detail-share-social-icon"></i></a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri|urlencode }}"><i class="fa-brands fa-linkedin detail-share-social-icon"></i></a>

                    <div class="shareAfterText" id="shareAfterText">
                        <p>You have successfully copied the URL <i class="fa-sharp fa-solid fa-circle-check"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END DETAIL LINK SECTION -->

    <!-- START SIMILAR POPULAR POSTS SECTION -->

    <section class="similar-popular-posts fade fadeInDown">
        <div class="similar-popular-container">
            {% if similarPosts %}
                <article class="similar-popular-posts-wrapper">
                    <div class="similar-popular-posts-column-container">
                        {% for object in similarPosts %}
                        <div class="similar-popular-posts-column" data-context="Popular Similar Posts">
                            <a href="{% url 'main:blogdetail' pk=object.pk %}" class="similar-popular-post-column-title">
                                {{ object.title }}</a>
                            <p class="similar-popular-post-column-text">{{ object.short_description }}</p>
                            <span class="similar-popular-post-column-posted">Posted on</span>
                            <p class="similar-popular-post-column-date">{{ object.posted_on|date:"F d, Y" }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </article>
            {% else %}
                <article class="partners-empty-container" style="margin-top: 0;">
                    <div class="partners-empty-icon-container">
                        <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                    </div>
                    <h1 class="partners-empty-title">No matching results</h1>
                    <p class="partners-empty-text">There is no any similar blogs yet</p>
                    <a href="{% url 'main:blog' %}" class="partners-empty-clear">Go to blog <i class="fa-solid fa-rotate"></i></a>
                </article>
            {% endif %}
        </div>
    </section>

    <!-- END SIMILAR POPULAR POSTS SECTION -->

    <!-- Start READY TO TRY SECTION -->

    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column fade fadeInUp">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="{% url 'main:pricing' %}">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="{% url 'main:pricinglist' %}">
                            <button class="ready-to-try-button-without-background">Pricing</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column fade fadeInDown">
                <img src="{% static 'main/images/contactus/readytotry.png' %}" alt="">
            </div>
        </div>
    </section>

    <!-- End READY TO TRY SECTION -->

</main>
{% endblock %}

{% block js_block %}
<script>
    document.getElementById('shareBtn').addEventListener('click', function () {
        var customTextElement = document.getElementById('shareAfterText');
        customTextElement.style.display = 'flex';

        var urlToCopy = window.location.href;
        navigator.clipboard.writeText(urlToCopy);

        setTimeout(function () {
            customTextElement.style.display = 'none';
        }, 2500);
    });
    document.addEventListener('DOMContentLoaded', function () {
    // Select all code elements with the class 'detail-code'
    const codeElements = document.querySelectorAll('.detail-code');

    // Add a click event listener to each code element
    codeElements.forEach(function (element) {
        element.addEventListener('click', function () {
            // Remove any existing SVG elements in all code elements
            document.querySelectorAll('svg.js-clipboard-check-icon').forEach(function (existingSvg) {
                existingSvg.remove();
            });

            // Create a temporary input element
            const inputElement = document.createElement('input');
            // Set its value to the content of the code element
            inputElement.value = element.innerText;
            // Append it to the body
            document.body.appendChild(inputElement);
            // Select the text inside the input element
            inputElement.select();
            // Copy the selected text to the clipboard
            document.execCommand('copy');
            // Remove the temporary input element
            document.body.removeChild(inputElement);

            // Create the specific SVG element
            const svgElement = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
            svgElement.setAttribute('aria-hidden', 'true');
            svgElement.setAttribute('viewBox', '0 0 16 16');
            svgElement.classList.add('octicon', 'octicon-check', 'js-clipboard-check-icon', 'color-fg-success');

            const pathElement = document.createElementNS('http://www.w3.org/2000/svg', 'path');
            pathElement.setAttribute('d', 'M13.78 4.22a.75.75 0 0 1 0 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L2.22 9.28a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018L6 10.94l6.72-6.72a.75.75 0 0 1 1.06 0Z');
            svgElement.appendChild(pathElement);

            // Append the SVG element to the clicked code element
            element.appendChild(svgElement);
        });
    });
});
</script>

{% endblock %}