{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

{% block title %}
<title>Job Openings - CyberCode</title>
{% endblock %}
<main class="main job-main">
    <!-- START PRICING LISTS SECTION -->

    <section class="pricing-list-section">
        <div class="pricing-list-container">
            <div class="pricing-list-text-container fade slideInLeft">
                <h1 class="pricing-list-title">Join one of the World fastest growing Company</h1>
                <p class="pricing-list-text">We want to find the best specialists from all over the world. Here you can
                    see job vacancies, and we will be glad if you want to join us</p>
                <div class="pricing-list-btn-container">
                    <a href="#jobList">
                        <button class="pricing-list-btn">Join with us</button>
                    </a>
                </div>
            </div>
            <div class="pricing-list-image-container fade slideInRight">
                <img class="pricing-list-first-image" src="{% static 'main/images/pricinglist/people.png' %}" alt="">
                <img class="pricing-list-second-image" src="{% static 'main/images/pricinglist/people2.png' %}" alt="">
            </div>
        </div>
    </section>

    <!-- END PRICING LISTS SECTION -->

    <!-- START OUR SERVICES SECTION -->

    <section class="services-section" style="margin-top: 0rem;">
        <div class="services-container">
            <div class="services-text-container fade slideInLeft">
                <h1 class="services-text-title" style="font-size: 2.5rem;">Great perks of working with CyberCode Team
                </h1>
                <p class="services-text-text">We are a small, but growing team. Our expertise includes growth marketing,
                    design, software development, and product management.</p>
                <div class="services-link-container">
                    <a href="{% url 'main:pricing' %}">
                        <button>Get started</button>
                    </a>
                </div>
            </div>
            <div class="services-info-container">
                <div class="services-info-column fade fadeInDown">
                    <div class="services-icon">
                        <i class="fas fa-wrench fa-rotate-270"></i>
                    </div>
                    <h1 class="services-info-title">Gain full control</h1>
                    <p class="services-info-text">After we transfer the site to you, you will be able to manage your
                        site yourself</p>
                </div>
                <div class="services-info-column fade fadeInDown">
                    <div class="services-icon">
                        <i class="fas fa-question-circle"></i>
                    </div>
                    <h1 class="services-info-title">Dedicated support</h1>
                    <p class="services-info-text">Free support for a month after transfer of the site, as well as fixing
                        it only 1 time</p>
                </div>
                <div class="services-info-column fade fadeInDown">
                    <div class="services-icon">
                        <i class="fa-solid fa-users-gear"></i>
                    </div>
                    <h1 class="services-info-title">Order is deliveres on time</h1>
                    <p class="services-info-text">You will receive your website on time or even earlier, we guarantee
                        it!</p>
                </div>
                <div class="services-info-column fade fadeInDown">
                    <div class="services-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h1 class="services-info-title">Perfect quality</h1>
                    <p class="services-info-text">Сlean code that allows the site to work without lags and errors!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- END OUR SERVICES SECTION -->

    <!-- START JOB OPENINGS SECTION -->

    <section class="job-openings-list-section" id="jobList">
        <div class="job-openings-list-title-container">
            <h1 class="job-openings-list-main-title fade fadeInUp">What job profiles are we currently looking for?</h1>
            <p class="job-openings-list-main-text fade fadeInUp">
                We are looking for the most professional specialists in their field who will help us develop together,
                if you are one of them, join us!
            </p>
            <article class="job-openings-list-container">
                {% for object in object_list %}
                <div class="job-openings-list-column fade fadeInDown">
                    <a href="{% url 'main:jobdetail' pk=object.pk %}">
                        <div class="job-openings-list-type-container">
                            <h1 class="job-openings-list-title">{{ object.title }}</h1>
                            <h2 class="job-openings-list-type">{{ object.category }}</h2>
                        </div>
                        {% load my_tags %}
                        <div class="job-date-place-container">
                            <h2 class="job-date">
                                <i class="fa-solid fa-fire"></i> 
                                {{ object.created_at|custom_timesince }}
                            </h2>
                            <h2 class="job-place">
                                <i class="fa-solid fa-location-dot"></i> 
                                {{ object.location }}
                            </h2>
                        </div>
                        <p class="job-openings-list-text">{{ object.description|truncatechars:150 }}</p>

                        <div class="knowledges-you-need-to-know-container">
                            {% for object in object.knowledge.all %}
                            <div class="knowledges-you-need-to-know-column">
                                <h1 class="knowledges-you-need-to-know-text">{{ object.knowledge }}</h1>
                            </div>
                            {% endfor %}
                        </div>
                    </a>
                </div>

                {% empty %}
                <article class="partners-empty-container" style="margin-top: 0;">
                    <div class="partners-empty-icon-container">
                        <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                    </div>
                    <h1 class="partners-empty-title">No matching results</h1>
                    <p class="partners-empty-text">There is no any job vacancies yet</p>
                </article>
                {% endfor %}
            </article>
        </div>
    </section>

    <!-- END JOB OPENINGS SECTION -->

    <!-- START JOIN OUR TEAM SECTION -->

    <section class="join-our-team-section">
        <div class="join-our-team-container">
            <h1 class="join-our-team-title fade fadeInUp">Join Our Team and growth your carrer with us</h1>
            <p class="join-our-team-text fade fadeInUp">It's easy to let your day slip away with too many calls and meetings. Taskable
                lets you block time for deep work by adding tasks to your calendar with one click, giving you control
                back over your day.</p>
            <div class="join-our-team-btn-container fade fadeInUp">
                <a href="#jobList">
                    <button class="join-our-team-btn">Get started</button>
                </a>
            </div>
        </div>
    </section>

    <!-- END JOIN OUR TEAM SECTION -->

</main>
{% endblock %}

{% block js_block %}
{% endblock %}