{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>About us - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main about-main">
    <!-- START GRADIENT CONTENT -->
    <section class="about-page-gradient-section">
        <div class="about-page-gradient-main-container">
            <article class="about-page-gradient-text-container">
                <h1 class="about-page-gradient-title">Our mission is to make people happy and productive</h1>
                <p class="about-page-gradient-text">We are on a mission to give you more control. Start your business,
                    organizing and reacting. Spend more time doing the things that matter.</p>
                <div class="about-page-gradient-btn-container">
                    <a href="{% url 'main:contact' %}">
                        <button class="about-page-gradient-btn">Get in touch</button>
                    </a>
                </div>
            </article>
            <article class="about-page-gradient-image-container">
                <div class="about-page-gradient-image-column">
                    <img class="about-page-gradient-image"
                        src="{% static 'main/images/about-us/gradientmainimage.svg' %}" alt="">
                    <article class="about-page-gradient-image-column-info-container-border">
                        <div class="about-page-gradient-image-column-info-container">
                            <h1 class="about-page-gradient-image-column-title">In progress</h1>
                            <div class="about-page-gradient-image-column-task">
                                <div class="about-page-gradient-image-tasks-user-category-container">
                                    <p class="about-page-gradient-image-tasks-category">UX Design</p>
                                    <div class="about-page-gradient-image-tasks-users-image-container">
                                        <img src="{% static 'main/images/main-page/carousel1.png' %}" alt="">
                                        <img src="{% static 'main/images/main-page/avatar.svg' %}" alt="">
                                    </div>
                                </div>
                                <h1 class="about-page-gradient-image-column-task-title">Creating user story</h1>
                                <span class="about-page-gradient-image-column-task-date">
                                    <i class="fas fa-calendar-week"></i> 11 Oct
                                </span>
                            </div>
                        </div>
                    </article>
                </div>
            </article>
        </div>
    </section>
    <!-- END GRADIENT CONTENT -->

    <!-- START WEBSITE TECHNOLOGIES SECTION -->

    <section class="website-technologies-section">
        <div class="website-technologies-title-container">
            <h1 class="website-technologies-main-title">The Technlogies that we used to make this website</h1>
            <p class="website-technologies-main-text">
                We used these technologies because they are convenient intuitive and also provide many features as with frontend and backend
            </p>
            <article class="website-technologies-container">
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/djangoicon.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">Django</h1>
                        <h2 class="website-technologies-type">Backend</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/python.webp' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">Python</h1>
                        <h2 class="website-technologies-type">Backend</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/postgresql.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">PostgreSQL</h1>
                        <h2 class="website-technologies-type">Database</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/react.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">React</h1>
                        <h2 class="website-technologies-type">Frontend</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/html.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">HTML</h1>
                        <h2 class="website-technologies-type">Frontend</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/css.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">Css</h1>
                        <h2 class="website-technologies-type">Frontend</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/javascript.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">Javascript</h1>
                        <h2 class="website-technologies-type">Frontend</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/rest.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">Rest Framework</h1>
                        <h2 class="website-technologies-type">API</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
                <div class="website-technologies-column">
                    <div class="website-technologies-image-container">
                        <img src="{% static 'main/images/technologies/sass.svg' %}" alt="">
                    </div>
                    <div class="website-technologies-type-container">
                        <h1 class="website-technologies-title">Sass</h1>
                        <h2 class="website-technologies-type">Frontend</h2>
                    </div>
                    <p class="website-technologies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                </div>
            </article>
        </div>
    </section>

    <!-- END WEBSITE TECHNOLOGIES SECTION -->

    <!-- START CLIENTS SECTION -->

    <section class="clienst-section">
        <div class="clients-container">
            <div class="clients-column first">
                <div class="client-sphere">
                    <h1 class="client-sphere-info">{% if 50 >= users.count %}50{% else %}users.count{% endif %}</h1>
                </div>
                <h1 class="client-title">Tracked users</h1>
                <p class="client-text">All our clients are satisfied with our work!</p>
            </div>
            <div class="clients-column second">
                <div class="client-sphere">
                    <h1 class="client-sphere-info">+10</h1>
                </div>
                <h1 class="client-title">Events per month</h1>
                <p class="client-text">Every month we get about this much work from clients</p>
            </div>
            <div class="clients-column third">
                <div class="client-sphere">
                    <h1 class="client-sphere-info">$110K</h1>
                </div>
                <h1 class="client-title">Capital raised</h1>
                <p class="client-text">Until today we have earned exactly this amount, and this is just the beginning!</p>
            </div>
            <div class="clients-column fourth">
                <div class="client-sphere">
                    <h1 class="client-sphere-info">25</h1>
                </div>
                <h1 class="client-title">Team members</h1>
                <p class="client-text">All of our employees is important to us, join us!</p>
            </div>
        </div>
    </section>

    <!-- END CLIENTS SECTION -->

    <!-- START OUR TEAM MEMBERS SECTION -->
    
    <section class="team-members-section">
        <div class="team-members-container">
            <div class="team-members-image-column">
                <img src="{% static 'main/images/about-us/team-members.svg' %}" alt="">
                <div class="team-members-info-container">
                    <i class="team-members-icon"><i class="fa-solid fa-users"></i></i>
                    <h1 class="team-members-count">25</h1>
                    <h2 class="team-members-count-text">Team <br> member</h2>
                </div>
            </div>
            <div class="team-members-info-column">
                <h1 class="team-members-title">A great story always starts with a great team Work</h1>
                <p class="team-members-info-text">We are a small, but growing team. Our expertise includes growth marketing, design, software development, and product management.</p>
                <div class="team-members-btn-container">
                    <a href="">
                        <button class="team-members-btn">Join us</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- END OUR TEAM MEMBERS SECTION -->

    <!-- START OUR SYSTEM SECTION  -->

    <section class="system-section">
        <div class="system-container">
            <div class="system-info-container">
                <h1 class="system-info-title">The values that drive everything we do</h1>
                <p class="system-info-text">We are a small, but growing team. Our expertise includes growth marketing, design, software development, and product management.</p>
                <div class="system-info-btn-container">
                    <a href="">
                        <button class="system-info-btn">Join us</button>
                    </a>
                </div>
            </div>
            <div class="system-icon-text-wrapper">
                <div class="system-column first">
                    <div class="system-icon-container">
                        <i class="system-icon fa-sharp fa-solid fa-lightbulb"></i>
                    </div>
                    <h1 class="system-title">Innovation</h1>
                    <p class="system-text">Every month we introduce innovation to our agency</p>
                </div>
                <div class="system-column second">
                    <div class="system-icon-container">
                        <i class="system-icon fas fa-award"></i>
                    </div>
                    <h1 class="system-title">Accountability</h1>
                    <p class="system-text">Our responsibility is to provide quality work to our clients.</p>
                </div>
                <div class="system-column third">
                    <div class="system-icon-container">
                        <i class="system-icon fa-solid fa-business-time"></i>
                    </div>
                    <h1 class="system-title">Commitment</h1>
                    <p class="system-text">Make each of our clients happy and satisfied</p>
                </div>
                <div class="system-column fourth">
                    <div class="system-icon-container">
                        <i class="system-icon fa-solid fa-users"></i>
                    </div>
                    <h1 class="system-title">Team Work</h1>
                    <p class="system-text">Working with a team is much better than working alone</p>
                </div>
            </div>
        </div>
    </section>

    <!-- END OUR SYSTEM SECTION  -->

    <!-- START ABOUT PAGE GET IN TOUCH SECTION -->

    <section class="about-get-in-touch-section">
        <div class="about-get-in-touch-container">
            <div class="about-get-in-touch-text-column">
                <h1 class="about-get-in-touch-title">Stay get in touch with us</h1>
                <p class="about-get-in-touch-text">Questions? Comments? Want to schedule a demo? We’d love to chat!</p>
            </div>
            <div class="about-get-in-touch-info-container">
                <div class="about-get-in-touch-info-column">
                    <div class="about-get-in-touch-icon-container">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="about-get-in-touch-email-phone-container">
                        <h1 class="about-get-in-touch-email-phone-title">Email us</h1>
                        <a href="mailto:supportcybercode@gmail.com" class="about-get-in-touch-email-phone-info">supportcybercode</a>
                    </div>
                </div>
                <div class="about-get-in-touch-info-column">
                    <div class="about-get-in-touch-icon-container">
                        <i class="fa-sharp fa-solid fa-phone"></i>
                    </div>
                    <div class="about-get-in-touch-email-phone-container">
                        <h1 class="about-get-in-touch-email-phone-title">Phone number</h1>
                        <a href="tel:+998331701706" class="about-get-in-touch-email-phone-info">+998 33 170 17 06</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END ABOUT PAGE GET IN TOUCH SECTION -->
</main>
{% endblock %}