{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Blog - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main blog-main">
    <!-- START GRADIENT CONTENT -->
    <section class="blog-gradient-section">
        <div class="blog-gradient-container">
            <h1 class="blog-gradient-title">Our best tips for building and launching creative projects.</h1>
        </div>
    </section>
    <!-- END GRADIENT CONTENT -->

    <!-- START LATEST POST SECTION -->

    <section class="latest-posts-section">
        <div class="latest-posts-container">
            <h1 class="latest-posts-title">Latest posts</h1>
            <div class="latest-post-wrapper">
                {% for object in latestPost %}
                <div class="post-image-container">
                    <img src="{{ object.image.url }}" alt="">
                </div>
                <div class="post-text-container">
                    <a href="{% url 'main:blogdetail' pk=object.pk %}">
                        <h1 class="post-title">{{ object.title }}</h1>
                    </a>
                    <p class="post-text">{{ object.short_description }}</p>
                    <span class="post-posted">Posted on</span>
                    <p class="post-date">{{ object.posted_on|date:"F d, Y" }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- END LATEST POST SECTION -->

    <!-- START FEAUTURED POSTS SECTION -->

    <!-- START POSTS TAGS SECTION -->

    <section class="posts-tags-section">
        <div class="posts-tags-container">
            <h1 class="posts-tags-title">Search by tags</h1>
            <div class="posts-tags-wrapper">
                {% for tag in postTags %}
                <div class="posts-tags-column">
                    <a href="#" onclick="addParam('tag', {{ tag.id }})"><button>{{ tag.tag }}</button></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- END POSTS TAGS SECTION -->

    <section class="featured-posts-section">
        <div class="featured-posts-container">
            <article class="featured-posts-search-container">
                <div class="featured-search-wrapper">
                    <h1 class="featured-search-title">By keyword</h1>
                    <form action="" method="get">
                        <label class="search-container" for="">
                            <input class="featured-search-input" type="search" placeholder="Search by title"
                                name="search" value="{{ request.GET.search }}">
                            <button type="submit" class="featured-search-btn"><i
                                    class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                Search</button>
                        </label>
                    </form>
                </div>
                <div class="featured-posts-category">
                    <h1 class="featured-posts-category-title">By category</h1>
                    <div class="featured-categories-wrapper owl-carousel">
                        {% for category in postCategories %}
                        <div class="featured-category-column">
                            <a href="#" onclick="addParam('category', {{ category.id }})"><button>{{ category.category}}</button></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </article>
            <article class="featured-posts-wrapper">
                <div class="featured-posts-column-container">
                    {% if object_list %}
                        {% for object in object_list %}
                        <div class="featured-posts-column">
                            <a href="{% url 'main:blogdetail' pk=object.pk %}" class="featured-post-column-title">{{ object.title }} <i
                                    class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            <p class="featured-post-column-text">{{ object.short_description }}</p>
                            <span class="featured-post-column-posted">Posted on</span>
                            <p class="featured-post-column-date">{{ object.posted_on|date:"F d, Y" }}</p>
                        </div>
                        {% endfor %}
                        <div class="clear-posts-container">
                            <a href="{% url 'main:blog' %}" class="clear-posts-clear">Clear all filters + Start Over</a>
                        </div>
                    {% else %}
                        <div class="empty-posts-container">
                            <div class="empty-posts-icon-container">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                            <h1 class="empty-posts-title">No Posts Found</h1>
                            <p class="empty-posts-text">There are no posts that match your current filters. Try removing some of them to get better results.</p>
                            <a href="{% url 'main:blog' %}" class="empty-posts-clear">Clear all filters + Start Over</a>
                        </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </section>

    <!-- END FEAUTURED POSTS SECTION -->

    <!-- Start READY TO TRY SECTION -->

    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button-without-background">Try free trial</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section>

    <!-- End READY TO TRY SECTION -->

</main>
{% endblock %}

{% block js_block %}
<script>
</script>
<script src="{% static 'main/scripts/js/carousel.js' %}"></script>
{% endblock %}