{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Blog - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main blog-main">
    <!-- START GRADIENT CONTENT -->
    <section class="blog-gradient-section">
        <div class="blog-gradient-container">
            <h1 class="blog-gradient-title">Our best tips for building and launching creative projects.</h1>
        </div>
    </section>
    <!-- END GRADIENT CONTENT -->

    <!-- START LATEST POST SECTION -->

    <section class="latest-posts-section">
        <div class="latest-posts-container">
            <h1 class="latest-posts-title">Latest posts</h1>
            <div class="latest-post-wrapper">
                {% for object in latestPost %}
                <div class="post-image-container">
                    <img src="{{ object.image.url }}" alt="">
                </div>
                <div class="post-text-container">
                    <a href="{% url 'main:blogdetail' pk=object.pk %}">
                        <h1 class="post-title">{{ object.title }}</h1>
                    </a>
                    <p class="post-text">{{ object.short_description }}</p>
                    <span class="post-posted">Posted on</span>
                    <p class="post-date">{{ object.posted_on|date:"F d, Y" }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- END LATEST POST SECTION -->

    <!-- START FEAUTURED POSTS SECTION -->

    <!-- START POSTS TAGS SECTION -->

    <!-- END POSTS TAGS SECTION -->

    <section class="featured-posts-section">
        <div class="featured-posts-container">
            <form action="{% url 'main:blog' %}" method="GET" id="blog-form">
                <section class="posts-tags-section">
                    <div class="posts-tags-container">
                        <h1 class="posts-tags-title">Search by tags</h1>
                        <div class="posts-tags-wrapper">
                            {% for tag in postTags %}
                            <div class="posts-tags-column">
                                <button class="post-tags-element" data-param-name="tag" data-param-value="{{ tag.id }}">
                                    {{ tag.tag }}
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <article class="featured-posts-search-container">
                    <div class="featured-search-wrapper">
                        <h1 class="featured-search-title">By keyword</h1>
                        <form action="{% url 'main:blog' %}" method="get">
                            <label class="search-container" for="">
                                <input id="search-input" class="featured-search-input" type="search"
                                    placeholder="Search by title" name="search" value="{{ request.GET.search }}">
                                <button type="submit" class="featured-search-btn"><i
                                        class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                    Search</button>
                            </label>
                        </form>
                    </div>
                    <div class="featured-posts-category">
                        <h1 class="featured-posts-category-title">By category</h1>
                        <div class="featured-categories-wrapper owl-carousel">
                            {% for category in postCategories %}
                            <div class="featured-category-column">
                                <button class="post-category-element" data-param-name="category"
                                    data-param-value="{{ category.id }}">
                                    {{category.category}}
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </form>
            <article class="featured-posts-wrapper">
                <div class="featured-posts-column-container" id="featured-posts-column-container">
                    {% include 'pages/blog_result.html' %}
                </div>
            </article>
        </div>
    </section>

    <!-- END FEAUTURED POSTS SECTION -->

    <!-- Start READY TO TRY SECTION -->

    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="{% url 'main:pricing' %}">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="{% url 'main:pricinglist' %}">
                            <button class="ready-to-try-button-without-background">Pricing</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section>

    <!-- End READY TO TRY SECTION -->

</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'main/scripts/js/carousel.js' %}"></script>
<script src="{% static 'main/scripts/js/blogFilter.js' %}"></script>
{% endblock %}