{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Blog Detail - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main blog-detail-main">
    <!-- START GRADIENT CONTENT -->

    <section class="detail-gradient-section">
        <div class="detail-gradient-container">
            <h1 class="detail-gradient-title">{{ object.title }}</h1>
            <div class="detail-gradient-image-container">
                <img src="{{ object.user.user_image.url }}" alt="">
            </div>
            <h1 class="detail-gradient-username">{{ object.user }}</h1>
            <h2 class="detail-gradient-posted">Posted on</h2>
            <p class="detail-gradient-posted-date">{{ object.posted_on|date:"F d, Y" }}</p>
        </div>
    </section>

    <!-- END GRADIENT CONTENT -->

    <!-- START DETAIL CONTENT -->

    <section class="detail-content-section">
        <div class="detail-content-container">
            <div class="detail-content-image-container">
                <img src="{{ object.image.url }}" alt="">
            </div>
            <div class="detail-content-wrapper">
                {{ object.post_text|safe }}
            </div>
        </div>
    </section>

    <!-- END DETAIL CONTENT -->

    <!-- START DETAIL LINK SECTION -->

    <section class="detail-link-section">
        <div class="detail-link-container">
            <div class="detail-link-text-container">
                <h1 class="detail-link-title">Share this post with people</h1>
                <p class="detail-link-text">{{ object.short_description }}</p>
            </div>
            <div class="detail-share-container">
                <div class="detail-share-user-info-container">
                    <p class="detail-share-posted">Posted on {{ object.posted_on|date:"F d, Y" }}</p>
                    <p class="detail-share-username">{{ object.user }}</p>
                </div>
                <div class="detail-share-social-container">
                    <p class="detail-share-social-text">Share this article</p>
                    <button class="shareBtn" id="shareBtn"><i class="fa-sharp fa-solid fa-link detail-share-link-icon"></i></button>
                    <a href=""><i class="fab fa-telegram detail-share-social-icon"></i></a>
                    <a href=""><i class="fab fa-instagram detail-share-social-icon"></i></a>
                    <a href=""><i class="fab fa-discord detail-share-social-icon"></i></a>

                    <div class="shareAfterText" id="shareAfterText">
                        <p>You have successfully copied the text <i class="fa-sharp fa-solid fa-circle-check"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END DETAIL LINK SECTION -->

     <!-- START SIMILAR POPULAR POSTS SECTION -->

     <section class="similar-popular-posts">
        <div class="similar-popular-container">
            <article class="featured-posts-wrapper">
                <div class="featured-posts-column-container">
                    <div class="featured-posts-column">
                        <a href="" class="featured-post-column-title">10 interesting apps to grow your audience on <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <p class="featured-post-column-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                        <span class="featured-post-column-posted">Posted on</span>
                        <p class="featured-post-column-date">October 26, 2021</p>
                    </div>
                    <div class="featured-posts-column">
                        <a href="" class="featured-post-column-title">8 great books to learn more about growth hacking <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                        <p class="featured-post-column-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis arcu enim urna adipiscing prae</p>
                        <span class="featured-post-column-posted">Posted on</span>
                        <p class="featured-post-column-date">October 26, 2021</p>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- END SIMILAR POPULAR POSTS SECTION -->

    <!-- Start READY TO TRY SECTION -->

    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button-without-background">Try free trial</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section>

    <!-- End READY TO TRY SECTION -->

</main>
{% endblock %}

{% block js_block %}
<script>
document.getElementById('shareBtn').addEventListener('click', function() {
    var customTextElement = document.getElementById('shareAfterText');
    customTextElement.style.display = 'flex'; 

    var urlToCopy = window.location.href;
    navigator.clipboard.writeText(urlToCopy);

    setTimeout(function() {
        customTextElement.style.display = 'none';
    }, 2500);
});
</script>

{% endblock %}