{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Contact us - CyberCode</title>
{% endblock %}

{% block content %}
<main class="contact">
    <!-- Start Image Part -->
    <section class="contact-main-image-container">
        <div class="contact-main-image-column">
            <img src="{% static 'main/images/contactus/discord-left.svg' %}" alt="">
        </div>
        <div class="contact-main-text-column">
            <h1>Get in
                <div class="touch-div">
                    <h1 class="touch">touch</h1>
                </div>
            </h1>
        </div>
        <div class="contact-main-image-column">
            <img src="{% static 'main/images/contactus/discord-right.svg' %}" alt="">
        </div>
    </section>
    <!-- End Image Part -->

    <!-- Start Hero Section -->
    <section class="contact-us-hero-info">
        <div class="contact-us-hero-column">
            <div class="contact-us-hero-text-container">
                <h1 class="contact-us-hero-column-title">Contact us</h1>
                <p class="contact-us-hero-column-info">Questions? Comments? Want to schedule a demo? We’d love to chat!
                </p>
            </div>
            <div class="contact-us-hero-get-in-touch-main-container">
                <div class="contact-us-hero-get-in-touch-container">
                    <div class="contact-us-hero-logo-image-container">
                        <i class="fa-solid fa-envelope" style="color: var(--background-purple);"></i>
                    </div>
                    <div class="contact-us-hero-info-container">
                        <h1 class="contact-us-hero-info-title">Email us</h1>
                        <a href="mailto:codecraftsupport@gmail.com"
                            class="contact-us-hero-info-detail">CodeCraftSupport</a>
                    </div>
                </div>
                <div class="contact-us-hero-get-in-touch-container">
                    <div class="contact-us-hero-logo-image-container">
                        <i class="fa-sharp fa-solid fa-phone" style="color: var(--background-purple);"></i>
                    </div>
                    <div class="contact-us-hero-info-container">
                        <h1 class="contact-us-hero-info-title">Phone number</h1>
                        <a href="tel:+998331701706" class="contact-us-hero-info-detail">+998 33 170 17 06</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->

    <!-- Start Contact form Section -->

    <section class="contact-form">
        <div class="contact-form__wrapper">
            <div class="contact-form-column">
                <form class="contact-form-column-form" action="">
                    <div class="contact-form-column-input-container">
                        <input type="text" class="contact-form-column-input" placeholder=" ">
                        <label class="placeholder">Full Name</label>
                    </div>
                    <div class="contact-form-column-input-container">
                        <input type="email" class="contact-form-column-input" placeholder=" ">
                        <label class="placeholder">Email address</label>
                    </div>

                    <div class="contact-form-column-input-container">
                        <input type="text" class="contact-form-column-input" placeholder=" ">
                        <label class="placeholder">Phone number</label>
                    </div>

                    <div class="contact-form-column-input-container">
                        <input type="text" class="contact-form-column-input" placeholder=" ">
                        <label class="placeholder">Company name</label>
                    </div>

                    <div class="contact-form-column-big-input-container">
                        <input type="text" class="contact-form-column-input" placeholder=" ">
                        <label class="placeholder">Messages</label>
                    </div>
                    <div class="contact-form-column-btn-container">
                        <button type="submit" class="contact-form-column-btn">Send message</button>
                    </div>
                </form>
            </div>
            <div class="contact-form-image-column">
                <img src="{% static 'main/images/contactus/contactus.svg' %}" alt="">
            </div>
        </div>
    </section>

    <!-- End Contact form Section -->

    <!-- Start FAQ Section -->

    <section class="faq-section">
        <h1 class="faq-main-title">Frequently Asked Questions</h1>
        <p class="faq-main-info">Fill out the form and our team will get back to you as quickly as we can.</p>
        <div class="faq-container">
            <div class="faq active">
                <button class="faq-toggle-btn">
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-btn-container">
                    <h3 class="faq-card-title">
                        What is Code Craft
                    </h3>
                </div>
                <p class="faq-text">
                    Code Craft is a personal productivity assistant, remote task manager, and smart to do
                    list. It helps you supercharge your productivity by aggregating all of your work in one place.
                    Keep track of your Google Calendar meetings and appointments, Slack messages, Asana tasks, and more
                    - all in one unified to do list..
                </p>
            </div>
            <div class="faq">
                <button class="faq-toggle-btn">
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-btn-container">
                    <h3 class="faq-card-title">
                        How do I use Code Craft
                    </h3>
                </div>
                <p class="faq-text">
                    Code Craft is a personal productivity assistant, remote task manager, and smart to do
                    list. It helps you supercharge your productivity by aggregating all of your work in one place.
                    Keep track of your Google Calendar meetings and appointments, Slack messages, Asana tasks, and more
                    - all in one unified to do list..
                </p>
            </div>
            <div class="faq active">
                <button class="faq-toggle-btn">
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-btn-container">
                    <h3 class="faq-card-title">
                        How can Code Craft help my productivity?
                    </h3>
                </div>
                <p class="faq-text">
                    Remote work can be a challenge. We can get easily distracted by the plethora of video calls,
                    calendar apps, communications from team members, different slack channels, irrelevant emails, and
                    more…
                    <br><br>
                    Notifications and switching between multiple different channels and applications leads to chaos,
                    inefficiency, and distraction.
                    <br><br>
                    Code Craft solves that problem by aggregating all of those communication channels and to-do items in
                    one centralized, easy to follow place. Stop wasting your valuable work hours searching, and start
                    spending your time on high-priority tasks that will move the needle most.
                </p>
            </div>
            <div class="faq">
                <button class="faq-toggle-btn">
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-btn-container">
                    <h3 class="faq-card-title">
                        How do your integrations work?
                    </h3>
                </div>
                <p class="faq-text">
                    Code Craft is a personal productivity assistant, remote task manager, and smart to do
                    list. It helps you supercharge your productivity by aggregating all of your work in one place.
                    Keep track of your Google Calendar meetings and appointments, Slack messages, Asana tasks, and more
                    - all in one unified to do list..
                </p>
            </div>
        </div>
    </section>
    <!-- End FAQ SECTION -->

    <!-- Start READY TO TRY SECTION -->
    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Code Craft?</h1>
                <p class="ready-to-try-info">Try Code Craft and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button-without-background">Try free trial</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section>
    <!-- End READY TO TRY SECTION -->
</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'main/scripts/js/faq.js' %}"></script>
{% endblock %}