{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Pricing - CyberCode</title>
{% endblock %}

{% block content %}
<main class="pricing-list-main">
    <!-- Start READY TO TRY SECTION -->
    <!-- <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button-without-background">Try free trial</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section> -->
    <!-- End READY TO TRY SECTION -->
</main>
{% endblock %}

{% block js_block %}
<script>
</script>
{% endblock %}