{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Documentation - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main documentation-main">
    <!-- START DOCUMENTATION TOGGLE SECTION -->

    <section class="language-toggle-section">
        <div class="language-toggle-container">
            <div class="language-toggle-text-container">
                <h1 class="toggle-language-title">There is a documentation of the website</h1>
                <h1 class="toggle-language-text">There u may find answers for your questions and understand how website works, what we do, how to order etc...</h1>
            </div>
            <div class="language-btn-container">
                <button class="toggle-button active" id="englishButton"><span class="language">English</span> <span class="language-content-word">content</span></button>
                <button class="toggle-button" id="russianButton"><span class="language">Русский</span> <span class="language-content-word">контент</span></button>
            </div>
        </div>
    </section>

    <!-- END DOCUMENTATION TOGGLE SECTION -->

    <!-- START DOCUMENTATION CONTENT SECTION -->

    <section class="documentation-section">
        <div class="documentation-container">

            <!-- ENGLISH CONTENT START -->

            <div class="english-content">
                <h1 class="documentation-content-title">About Lead UI Designer</h1>
                <p class="documentation-content-text">It’s easy to simply gather your group, state your problem, and ask for ideas. But is this the most efficient way to generate fresh, productive ideas? There are specialised methods for brainstorming that take idea generation seriously, and you may want to give some a try. They include:</p>
                <div class="documentation-content-container">
                    <ul class="documentation-content-wrapper">
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                    </ul>
                </div>
                <h1 class="documentation-content-title">About our Website</h1>
                <p class="documentation-content-text">It’s easy to simply gather your group, state your problem, and ask for ideas. But is this the most efficient way to generate fresh, productive ideas? There are specialised methods for brainstorming that take idea generation seriously, and you may want to give some a try. They include:</p>
                <div class="documentation-content-container">
                    <ul class="documentation-content-wrapper">
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                    </ul>
                </div>
                <div class="documentation-image-container">
                    <img class="documentation-image" src="{% static 'main/images/documentation/documents.png' %}" alt="">
                </div>
                <h1 class="documentation-content-title">About our Website</h1>
                <p class="documentation-content-text">It’s easy to simply gather your group, state your problem, and ask for ideas. But is this the most efficient way to generate fresh, productive ideas? There are specialised methods for brainstorming that take idea generation seriously, and you may want to give some a try. They include:</p>
                <div class="documentation-content-container">
                    <ul class="documentation-content-wrapper">
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">How to contact with us: </h1> 
                            To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact To contact with us you should go to the page contact
                        </li>
                    </ul>
                </div>
            </div>

            <!-- ENGLISH CONTENT END -->

            <!-- RUSSIAN CONTENT START -->

            <div class="russian-content">
                <h1 class="documentation-content-title">О ведущем дизайнере пользовательского интерфейса</h1>
                <p class="documentation-content-text">Легко просто собрать группу, изложить свою проблему и попросить поделиться идеями. Но является ли это наиболее эффективным способом генерации свежих, продуктивных идей? Существуют специализированные методы мозгового штурма, которые серьезно относятся к генерированию идей, и вы можете попробовать их. Они включают:</p>
                <div class="documentation-content-container">
                    <ul class="documentation-content-wrapper">
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                    </ul>
                </div>
                <h1 class="documentation-content-title">О нашем сайте</h1>
                <p class="documentation-content-text">Легко просто собрать группу, изложить свою проблему и попросить поделиться идеями. Но является ли это наиболее эффективным способом генерации свежих, продуктивных идей? Существуют специализированные методы мозгового штурма, которые серьезно относятся к генерированию идей, и вы можете попробовать их. Они включают:</p>
                <div class="documentation-content-container">
                    <ul class="documentation-content-wrapper">
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                    </ul>
                </div>
                <div class="documentation-image-container">
                    <img class="documentation-image" src="{% static 'main/images/documentation/documents.png' %}" alt="">
                </div>
                <h1 class="documentation-content-title">О нашем сайте</h1>
                <p class="documentation-content-text">Легко просто собрать группу, изложить свою проблему и попросить поделиться идеями. Но является ли это наиболее эффективным способом генерации свежих, продуктивных идей? Существуют специализированные методы мозгового штурма, которые серьезно относятся к генерированию идей, и вы можете попробовать их. Они включают:</p>
                <div class="documentation-content-container">
                    <ul class="documentation-content-wrapper">
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                        <li class="documentation-content-li">
                            <h1 class="documentation-content-li-title">Как связаться с нами: </h1> 
                            Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам следует перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты. Для связи с нами вам необходимо перейти на страницу контакты.
                        </li>
                    </ul>
                </div>
            </div>

            <!-- RUSSIAN CONTENT END -->

        </div>
    </section>

    <!-- END DOCUMENTATION CONTENT SECTION -->

    <!-- Start READY TO TRY SECTION -->
    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="">
                            <button class="ready-to-try-button-without-background">Try free trial</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section>
    <!-- End READY TO TRY SECTION -->
</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'main/scripts/js/documentation.js' %}"></script>
<script>
</script>
{% endblock %}