{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

{% block title %}
<title>FAQ List - CyberCode</title>
{% endblock %}
<main class="main faq-main">
    <!-- Start FAQ Section -->

    <section class="faq-section faqList">
        <h1 class="faq-main-title">Frequently Asked Questions</h1>
        <p class="faq-main-info">There is the list of every FAQs.</p>
        <div class="faq-container">
            {% for object in object_list %}
            <div class="faq {% if forloop.counter == 1 or forloop.counter == 3 %}active{% endif %}">
                <button class="faq-toggle-btn">
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-btn-container">
                    <h3 class="faq-card-title">
                        {{ object.question }}
                    </h3>
                </div>
                <div class="faq-text">
                    {{ object.answer|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
    <!-- End FAQ SECTION -->

    <!-- Start READY TO TRY SECTION -->
    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="{% url 'main:pricing' %}">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="{% url 'main:pricinglist' %}">
                            <button class="ready-to-try-button-without-background">Pricing</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section>
    <!-- End READY TO TRY SECTION -->
</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'main/scripts/js/faq.js' %}"></script>
<script>
</script>
{% endblock %}