{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Home - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main index-main">
    <!-- START GRADIENT CONTENT -->
    <section class="gradient-container" id="gradient-container">
        <article class="gradient-artice-main">
            <h1 class="gradient-title fade fadeInDown">Build your business with us</h1>
            <div class="gradient-artice-btn-container fade fadeInUp">
                <a href="{% url 'main:projects' %}">
                    <button class="gradient-artice-btn-no-border">Our Projects</button>
                </a>
                <a href="{% url 'main:pricing' %}">
                    <button class="gradient-artice-btn">Get started</button>
                </a>
            </div>

            <article class="gradient-website-information fade fadeInDown">
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">Location</p>
                        <h1 class="gradient-website-information-text">Tashkent</h1>
                    </div>
                </div>
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">Phone</p>
                        <a href="tel:+998331701706" class="gradient-website-information-text">+998 33 170 17 06</a>
                    </div>
                </div>
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">Activity</p>
                        <h1 class="gradient-website-information-text">24 / 7</h1>
                    </div>
                </div>
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">Clients</p>
                        <h1 class="gradient-website-information-text">50+</h1>
                    </div>
                </div>
            </article>
        </article>
    </section>
    <!-- END GRADIENT CONTENT -->

    <!-- START TASKS CONTENT -->
    <section class="tasks">
        <div class="task-image-column fade slideInLeft">
            <video autoplay muted loop playsinline>
                <source src="{% static 'main/images/main-page/tasks.mp4' %}">
            </video>
        </div>
        <div class="task-content-column fade slideInRight">
            <h1 class="task-title">Connect With Apps <br> You Use for Work</h1>
            <p class="task-text">
                Cyber Code integrates with the products you use, bringing all <br>
                your tasks, files and communications in one place so <br>
                you always know what to do next.
            </p>
            <a href="{% url 'main:blog' %}" class="task-button-a">
                <button class="task-button">Browse posts</button>
            </a>
        </div>
    </section>
    <!-- END TASKS CONTENT -->

    <!-- START CHAT -->
    <section class="chat fade fadeInDown" data-wow-duration="2s">
        <div class="static-info">
            <h1 class="static-info-title">
                Easy and familiar <br>
                Real-time-posts <br>
                Features
            </h1>
            <p class="static-info-text">
                Easy to use, apply for a job, order websites, <br>
                see our daily posts, and relax with time <br>
                quality is the most needful thing everywhere!
            </p>
        </div>
        <div class="chats">
            <div class="chat-column">
                <div class="profile">
                    <img src="{% static 'main/images/main-page/avatar.svg' %}" alt="">
                </div>
                <div class="message-container">
                    <p class="chat-message-text">
                        hi, i have finished all the design, kindly check on figma:)
                    </p>
                    <div class="message-creating-details">
                        <h1 class="message-user">Sasa Anastasya</h1>
                        <span class="message-date">12 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="chat-column">
                <div class="profile">
                    <img src="{% static 'main/images/main-page/feedback.svg' %}" alt="">
                </div>
                <div class="message-container">
                    <p class="chat-message-text">
                        What you have is good, but maybe we can improve one of the designs above
                    </p>
                    <div class="message-creating-details">
                        <h1 class="message-user">Justin Nur</h1>
                        <span class="message-date">9 minutes ago</span>
                    </div>
                </div>
            </div>
            <div class="chat-column">
                <div class="profile">
                    <img src="{% static 'main/images/profile/profile.svg' %}" alt="">
                </div>
                <div class="message-container">
                    <p class="chat-message-text">
                        Great job Azkia! maybe we can add a some gradient for section #2
                    </p>
                    <div class="message-creating-details">
                        <h1 class="message-user">Ahsan Mulia</h1>
                        <span class="message-date">2 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END CHAT -->

    <!-- START PACKAGE -->
    <section class="package" id="packageSection">
        <h1 class="package-title fade fadeInDown">Your Suitable package <br> for your needs</h1>
        <p class="package-info fade fadeInDown">Our powerful plan gives you access to core Cyber Code features.</p>
        <div class="package-choices-container">
            {% for object in pricing %}
            <div class="choices-column fade fadeInDown">
                <div class="price-column">
                    <h1 class="choice-type">{{ object.type }}</h1>
                    <span class="price">${{ object.price }}</span>
                    <span class="date">/ from</span>
                    {% if object.recommended %}
                    <div class="recommended">
                        <h1>Recommended</h1>
                    </div>
                    {% endif %}
                </div>
                <div class="abilities">
                    {{ object.advantages|safe }}
                    <a href="{% url 'main:add_to_cart' object.id %}">
                        <button class="abilities-btn">Get started</button>
                    </a>
                </div>
            </div>
            {% empty %}
            <article class="partners-empty-container fade fadeInUp">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                </div>
                <h1 class="partners-empty-title">No matching results</h1>
                <p class="partners-empty-text">There are no any pricings yet</p>
                <a href="{% url 'main:pricinglist' %}" class="partners-empty-clear">Go to pricing <i class="fa-solid fa-rotate"></i></a>
            </article>
            {% endfor %}
        </div>
    </section>
    <!-- END PACKAGE -->

    <!-- START CAROUSEL SECTION -->
    <section class="carousel-section">
        <div class="carousel-container">
            <div class="carousel-title-container fade fadeInDown">
                <h1 class="carousel-title">Ideas to help you navigate work</h1>
                <p class="carousel-text">We regularly share resources on startups, productivity, and the future of work
                </p>
                <div class="carousel-link-container">
                    <a href="{% url 'main:blog' %}" class="carousel-link">See more articeles</a>
                </div>
            </div>
            {% if posts %}
            <div class="carousel__wrapper">
                <div class="owl-carousel carousel-slide-container fade fadeInDown"> 
                    {% for object in posts %}
                    {% if object.is_private == 0 or request.user.is_staff %}
                    <div class="carousel-slide">
                        <div class="carousel-image-container">
                            <a href="{% url 'main:blogdetail' pk=object.pk %}">
                                <img src="{{ object.image.url }}" alt="">
                            </a>
                        </div>
                        <div class="carousel-text-container">
                            <a href="{% url 'main:blogdetail' pk=object.pk %}">
                                <h1 class="carousel-slide-title">{{ object.title }}</h1>
                            </a>
                            <p class="carousel-slide-text">
                                {{ object.short_description|truncatechars:75|safe }}
                                {% if object.is_private %}
                                <p class="carousel-private-status">Private post</p>
                                {% endif %}
                            </p>
                        </div>
                        <div class="carousel-date-container">
                            <p class="carousel-date-posted">Posted by {{ object.user }}</p>
                            <span class="carousel-date">{{ object.posted_on|date:"F d, Y" }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <article class="partners-empty-container">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                </div>
                <h1 class="partners-empty-title">No matching results</h1>
                <p class="partners-empty-text">There are no any posts yet</p>
                <a href="{% url 'main:blog' %}" class="partners-empty-clear">Go to blog <i class="fa-solid fa-rotate"></i></a>
            </article>
            {% endif %}
        </div>
    </section>

    <!-- END CAROUSEL SECTION -->

    <!-- START USED BY SECTION -->

    <section class="partners-section">
        <div class="partners-container">
            <h1 class="partners-title fade fadeInDown">
                Our Partners
            </h1>
            {% if partners %}
            <article class="partners-info-container">
                {% for object in partners %}
                <div class="partners-column fade fadeInDown">
                    <img src="{{ object.logo.url }}" alt="">
                    <h1 class="partners-info-title">{{ object.title }}</h1>
                </div>
                {% endfor %}
            </article>
            {% else %}
            <article class="partners-empty-container fade fadeInDown">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                </div>
                <h1 class="partners-empty-title">No matching results</h1>
                <p class="partners-empty-text">There is no any partners yet</p>
            </article>
            {% endif %}
        </div>
    </section>

    <!-- END USED BY SECTION -->

    <!-- START FEEDBACK SECTION -->

    <section class="feedback-list-section">
        <div class="feedback-list-container">
            <div class="feedback-list-text-column fade slideInLeft">
                <h1 class="feedback-list-text-column-title">Feedbacks from our clients</h1>
                <p class="feedback-list-text-column-text">Join the thousands of other people just like you who started
                    using CyberCode and took back control of their day</p>
            </div>
            {% if feedbacks %}
            <div class="feedback-container owl-carousel fade slideInRight">
                {% for object in feedbacks %}
                <div class="feedback-slide" data-created-at="{{ object.created_at|date:'F d, Y' }}">
                    <div class="feedback-content">
                        <p class="feedback-content-text" data-text="{{ object.text }}">
                            {{ object.text|slice:"250"|safe }}{% if object.text|length > 250 %}...{% endif %}
                        </p>
                    </div>
                    <div class="feedback-user">
                        <div class="feedback-user-container" data-image="{{ object.user.user_image.url }}">
                            <img src="{{ object.user.user_image.url }}" alt="">
                        </div>
                        <h1 class="feedback-username">{{ object.user }}</h1>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <article class="partners-empty-container fade slideInRight">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                </div>
                <h1 class="partners-empty-title purple">No matching results</h1>
                <p class="partners-empty-text white">There are no any feedbacks yet</p>
            </article>
            {% endif %}

            <article id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-close-container">
                        <p id="modalCreatedAt" class="modalCreatedAt"></p>
                        <span class="closeModal" id="closeModal"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                    <div class="modal-content-container">
                        <p id="modalContent" class="modalContent"></p>
                        <div class="modal-user-container">
                            <img id="modalUserImage" class="modalUserImage" src="" alt="">
                            <p id="modalUser" class="modalUser"></p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- END FEEDBACK SECTION -->
</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'main/scripts/js/carousel.js' %}"></script>
<script src="{% static 'main/scripts/js/feedback.js' %}"></script>
{% endblock %}