{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

{% block title %}
<title>Job Detail - CyberCode</title>
{% endblock %}
<main class="main job-detail-main">

    <!-- START JOB DETAIL GRADIENT SECTION -->

    <section class="job-gradient-section">
        <div class="job-gradient-container">
            <div class="job-gradient-info-container">
                <div class="job-gradient-info-image-container">
                    <i class="fa-solid fa-image"></i>
                </div>
                <h1 class="job-gradient-info-title">{{ object.title }}</h1>
                <h2 class="job-gradient-info-category">{{ object.category }}</h2>
                <p class="job-gradient-info-text">{{ object.description }}</p>
                <div class="job-gradient-info-btn-container">
                    <button id="applyNowBtn" class="job-gradient-info-btn">Apply now</button>
                </div>
            </div>
            <div class="job-gradient-image-container">
                <img src="{% static 'main/images/jobdetail/jobdetailmain.png' %}" alt="">
            </div>
        </div>
        <div class="apply-success-message">
            <p>You have successfully submitted an application to work with us <i class="fa-solid fa-circle-check"></i></p>
        </div>
    </section>

    <article id="applyModal" class="applyModal">
        <div class="applyModalContent">
            <div class="modal-close-container">
                <p class="modalTitle">Apply for a {{ object.title }}</p>
                <span class="closeModal" id="closeApplyModal">
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>
            <div class="modal-content-container">
                {% if request.user.is_authenticated %}
                <form id="jobApplyForm" class="jobApplyForm">
                    {% csrf_token %}
                    {{ apply_form.category }}
                    <div class="jobApply-group-double">
                        <div class="jobApply-group">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName" id="firstName" required
                            value="{% if apply_form.firstName.value %}{{ apply_form.firstName.value }}{% else %}{{ request.user.first_name|default:'' }}{% endif %}">
                            <div class="error-message" id="firstName-error"></div>
                        </div>
                        <div class="jobApply-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required
                            value="{% if apply_form.email.value %}{{ apply_form.email.value }}{% else %}{{ request.user.email|default:'' }}{% endif %}">
                            <div class="error-message" id="email-error"></div>
                        </div>
                    </div>
                    <div class="jobApply-group">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" required
                        value="{% if apply_form.phone.value %}{{ apply_form.phone.value }}{% else %}{{ request.user.mobileNumber|default:'+998' }}{% endif %}">
                        <div class="error-message" id="phone-error"></div>
                    </div>
                    <div class="jobApply-group">
                        <label for="text">Message</label>
                        <textarea name="text" id="text" rows="5" required></textarea>
                        <div class="error-message" id="text-error"></div>
                    </div>
                    <button type="submit" class="apply-button">Submit</button>
                </form>
                {% else %}
                    <article class="applyModelUserNotSigned-container">
                        <p class="applyModelUserNotSigned-text">U have to Sign in/up to send us message there u can <a href="{% url 'main:login' %}">Sign In</a> / <a href="{% url 'main:registration' %}">Sign Up</a></p>
                    </article>
                {% endif %}
            </div>
        </div>
    </article>

    <!-- END JOB DETAIL GRADIENT SECTION -->

    <!-- START JOB INFORMATION SECTION -->

    <section class="job-info-section">
        <div class="job-info-container">
            <h1 class="job-info-title">About the job</h1>
            <p class="job-info-text">{{ object.description }}</p>
            <div class="job-info-btn-container">
                <button class="toggle-button active" id="about-the-jobBtn">About the job</button>
                <button class="toggle-button" id="responsibilitiesBtn">Responsibilities</button>
                <button class="toggle-button" id="requirementsBtn">Requirements</button>
            </div>
        </div>
    </section>

    <!-- END JOB INFORMATION SECTION -->

    <!-- START JOB DETAIL TEXT SECTION -->

    <section class="job-detail-text-section">
        <div class="job-detail-text-container">
            <div class="job-detail-text-column about-the-job-content active">
                <h1 class="documentation-content-title">About {{ object.title }}</h1>
                <div class="documentation-content-container job-content">
                    {{ object.aboutthejob|safe }}
                </div>
            </div>
            <div class="job-detail-text-column responsibilities-content">
                <h1 class="documentation-content-title">About Responsibilities</h1>
                <div class="documentation-content-container job-content">
                    {{ object.responsibilities|safe }}
                </div>
            </div>
            <div class="job-detail-text-column requirements-content">
                <h1 class="documentation-content-title">About Requirements</h1>
                <div class="documentation-content-container job-content">
                    {{ object.requirements|safe }}
                </div>
            </div>
        </div>
    </section>

    <!-- END JOB DETAIL TEXT SECTION -->

    <!-- START MORE JOB OPENINGS -->

    <section class="website-technologies-section">
        <div class="website-technologies-title-container">
            <h1 class="website-technologies-main-title">More job openings</h1>
            <p class="website-technologies-main-text">
                Find your future work and improve your skills with us
            </p>
            <article class="website-technologies-container">
                {% for object in other_jobs %}
                <a href="{% url 'main:jobdetail' pk=object.pk %}" class="job-column">
                    <div>
                        <div class="website-technologies-type-container">
                            <h1 class="website-technologies-title">{{ object.title }}</h1>
                            <h2 class="website-technologies-type">{{ object.category }}</h2>
                        </div>
                        <p class="website-technologies-text">{{ object.description }}</p>
                    </div>
                </a>
                {% empty %}
                <div class="no-job-container">
                    <div class="no-job-icon-container">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <h1 class="no-job-title">No Jobs</h1>
                    <p class="no-job-text">No other jobs with the same type of work yet.</p>
                </div>
                {% endfor %}
            </article>

            <div class="more-job-openings-btn-container">
                <a href="{% url 'main:job' %}">
                    <button class="more-job-openings-btn">See other jobs</button>
                </a>
            </div>
        </div>
    </section>

    <!-- END MORE JOB OPENINGS -->

    <!-- START JOIN OUR TEAM SECTION -->

    <section class="join-our-team-section">
        <div class="join-our-team-container">
            <h1 class="join-our-team-title">Join Our Team and growth your carrer with us</h1>
            <p class="join-our-team-text">It's easy to let your day slip away with too many calls and meetings. Taskable
                lets you block time for deep work by adding tasks to your calendar with one click, giving you control
                back over your day.</p>
            <div class="join-our-team-btn-container">
                <a href="">
                    <button class="join-our-team-btn">Get started</button>
                </a>
            </div>
        </div>
    </section>

    <!-- END JOIN OUR TEAM SECTION -->

</main>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#jobApplyForm").submit(function (e) {
            e.preventDefault();
            let applyModal = document.getElementById("applyModal");
            let successMessage = document.querySelector(".apply-success-message");
            let body = document.body
            $.ajax({
                type: "POST",
                url: window.location.href,  // Use the correct URL pattern
                data: $(this).serialize(),
                success: function (data) {
                    if (data.success) {
                        console.log(data);
                        applyModal.style.display = "none";
                        body.style.overflowY = "auto";
                        $("#jobApplyForm")[0].reset();
                        $(".error-message").removeClass('active').empty();
                        successMessage.classList.add('active');
                        setTimeout(function () {
                            successMessage.classList.remove('active');
                        }, 5000);
                    } else {
                        $(".error-message").removeClass('active').empty();
                        for (var field in data.errors) {
                            if (data.errors.hasOwnProperty(field)) {
                                $("#" + field + "-error").addClass('active');
                                $("#" + field + "-error").text(data.errors[field][0]);
                            }
                        }
                    }
                },
            });
        });
    });
</script>
<script src="{% static 'main/scripts/js/jobdetailtoggle.js' %}"></script>
{% endblock %}