{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="description" content="Website development and designs for your business in the best quality, we are waiting for you!">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">
    <title>Payment List - CyberCode</title>
</head>

<body class="payment-list-body">
    <main class="main payment-main">
        <!-- START SECTION PAYMENT LIST -->
        <section class="payment-section">
            <div class="payment-container">
                <article class="payment-info-container">
                    <div class="payment-info-title-container">
                        <h1 class="payment-info-title">Order cart</h1>
                        <p class="payment-info-count">
                            {{ cart_items.count }}
                            {% if cart_items.count > 1 %}
                            items
                            {% else %}
                            item
                            {% endif %}
                        </p>
                    </div>
                    <div class="payment-products-container">
                        {% if cart_items %}
                        <div class="payment-product-detail-container">
                            <p class="payment-detail">product Details</p>
                            <p class="payment-detail">Price</p>
                            <p class="payment-detail">Total</p>
                        </div>
                        <div class="payment-product-wrapper-column">
                            {% for item in cart_items %}
                            <div class="payment-product-column">
                                <div class="payment-product-info-container">
                                    <div class="payment-image-container">
                                        <span class="payment-image-type">{{ item.type }}</span>
                                    </div>
                                    <div class="payment-type-container">
                                        <h1 class="payment-product-type">{{ item.type }}</h1>
                                        {% if item.product.recommended %}
                                        <h1 class="payment-product-category">Recommended</h1>
                                        {% elif item.popular %}
                                        <h1 class="payment-product-category">Popular</h1>
                                        {% else %}
                                        <h1 class="payment-product-category">None</h1>
                                        {% endif %}
                                        <form class="remove-from-cart-form"
                                            action="{% url 'main:removefromcart' item.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="payment-product-remove">
                                                Remove
                                            </button>
                                        </form>

                                        <!-- Other HTML content -->

                                    </div>
                                </div>
                                <div class="payment-price-container">
                                    <h1 class="payment-price">${{ item.price }}</h1>
                                </div>
                                <div class="payment-total-price-container">
                                    <p class="payment-total-price">${{ item.price }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <article class="paymentEmpty-container">
                            <div class="payment-empty-icon-container">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                            <h1 class="payment-empty-title">No items</h1>
                            <p class="payment-empty-text">You have not selected any products yet</p>
                        </article>
                        {% endif %}
                    </div>
                    <div class="payment-return-back-container">
                        <a href="{% url 'main:pricing' %}" class="payment-return-back-link">
                            <i class="fa-solid fa-arrow-left-long"></i>
                            Continue Ordering
                        </a>
                    </div>
                </article>
                {% if cart_items %}
                {% load my_tags %}
                <article class="payment-sidebar-container" id="paymentSidebar">
                    <div class="payment-sidebar-title-container">
                        <h1 class="payment-sidebar-title">Order Summary</h1>
                    </div>
                    <div class="payment-sidebar-items-count-container">
                        <h1 class="payment-sidebar-items">
                            {{ cart_items.count }}
                            {% if cart_items.count > 1 %}
                            items
                            {% else %}
                            item
                            {% endif %}
                        </h1>
                        <p class="payment-sidebar-items-price">
                            ${{ request.session.cart|calculate_total_cost:request }}
                        </p>
                    </div>
                    <div class="payment-sidebar-total-cost-container">
                        <div class="payment-sidebar-total-cost-info-container">
                            <h1 class="payment-sidebar-total-cost-title">Total Cost</h1>
                            <p class="payment-sidebar-total-cost">
                                ${{ request.session.cart|calculate_total_cost:request}}</p>
                        </div>
                        <div class="payment-sidebar-checkout-btn-container">
                            <button class="payment-sidebar-checkout-btn" id="applyNowBtn">Checkout</button>
                        </div>
                    </div>
                </article>
                {% endif %}

                {% if cart_items %}
                <article id="applyModal" class="applyModal">
                    <div class="applyModalContent">
                        <div class="modal-close-container">
                            <p class="modalTitle">Checkout</p>
                            <span class="closeModal" id="closeApplyModal">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                        <div class="modal-content-container">
                            {% if request.user.is_authenticated %}
                            <form id="jobApplyForm" class="jobApplyForm" method="POST" action="{% url 'main:payment' %}">
                                {% csrf_token %}
                                <div class="jobApply-group-double">
                                    <div class="jobApply-group payment-group">
                                        <label for="firstName">First Name</label>
                                        <input type="text" name="first_name" id="first_name" required placeholder="Peter"
                                            value="{% if form.first_name.value %}{{ form.first_name.value }}{% else %}{{ request.user.first_name|default:'' }}{% endif %}">
                                        {{ form.errors.first_name }}
                                    </div>
                                    <div class="jobApply-group payment-group">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" required placeholder="cybercodesp@gmail.com"
                                            value="{% if form.email.value %}{{ form.email.value }}{% else %}{{ request.user.email|default:'' }}{% endif %}">
                                        {{ form.errors.email }}
                                    </div>
                                </div>
                                <div class="jobApply-group-double">
                                    <div class="jobApply-group payment-group">
                                        <label for="firstName">City</label>
                                        <input type="text" name="city" id="city" required placeholder="New York"
                                            value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                                        {{ form.errors.city }}
                                    </div>
                                    <div class="jobApply-group payment-group">
                                        <label for="address">Address</label> 
                                        <input type="text" name="address" id="address" required placeholder="New York 51 street"
                                            value="{% if form.address.value %}{{ form.address.value }}{% else %}{{ request.user.location|default:'' }}{% endif %}">
                                        {{ form.errors.address }}
                                    </div>
                                </div>
                                <div class="jobApply-group-double">
                                    <div class="jobApply-group payment-group">
                                        <label for="phone">Phone</label>
                                        <input type="text" name="phone" id="phone" required
                                            value="{% if form.phone.value %}{{ form.phone.value }}{% else %}{{ request.user.mobileNumber|default:'+998' }}{% endif %}">
                                        {{ form.errors.phone }}
                                    </div>
                                    <div class="jobApply-group payment-group">
                                        <label for="text">Social Media</label>
                                        <input type="url" name="socail_media" id="socail_media" placeholder="URL Telegram, Instagram, etc."
                                            value="{% if form.socail_media.value %}{{ form.socail_media.value }}{% else %}{{ request.user.socialMedia|default:'' }}{% endif %}">
                                        {{ form.errors.socail_media }}
                                    </div>
                                </div>
                                <div class="jobApply-group payment-group">
                                    <label for="text">Position</label>
                                    <input type="text" name="position" id="position" placeholder="Designer"
                                        value="{% if form.position.value %}{{ form.position.value }}{% else %}{{ request.user.position|default:'' }}{% endif %}">
                                    {{ form.errors.position }}
                                </div>
                                
                                <button type="submit" class="apply-button">Submit</button>
                            </form>
                            {% else %}
                            <article class="applyModelUserNotSigned-container">
                                <p class="applyModelUserNotSigned-text">U have to Sign in/up to send us message there u
                                    can <a href="{% url 'main:login' %}">Sign In</a> / <a
                                        href="{% url 'main:registration' %}">Sign Up</a></p>
                            </article>
                            {% endif %}
                        </div>
                    </div>
                </article>
                {% endif %}

            </div>
        </section>

        <!-- END SECTION PAYMENT LIST -->
        <script>
            let applyModal = document.getElementById("applyModal");
            let applyNowBtn = document.getElementById("applyNowBtn");
            let closeApplyModal = document.getElementById("closeApplyModal");
            let jobApplyForm = document.getElementById("jobApplyForm");
            let body = document.body

            applyNowBtn.addEventListener("click", function () {
                applyModal.style.display = "block";
                body.style.overflowY = "hidden";
            });

            closeApplyModal.addEventListener("click", function () {
                applyModal.style.display = "none";
                body.style.overflowY = "auto";
            });

            window.addEventListener("click", function (event) {
                if (event.target == applyModal) {
                    applyModal.style.display = "none";
                    body.style.overflowY = "auto";
                }
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </main>
</body>

</html>