{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Pricing - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main pricing-main">
    <!-- START POPULAR PACKAGES SECTION -->

    <section class="pricing-popular-packages-section" id="pricingSection">
        <div class="pricing-popular-main-container">
            <h1 class="pricing-popular-package-title">Our 3 popular pricing models</h1>
            <p class="pricing-popular-package-info">Save 20% of your project costs with our Monthly Subscription plan
            </p>
            <div class="pricing-popular-package-container">
                {% for object in pricing %}
                <div class="pricing-popular-column">
                    <div class="price-column">
                        <h1 class="pricing-popular-type">{{ object.type }}</h1>
                        <span class="pricing-popular-price">${{ object.price }}</span>
                        <span class="pricing-popular-date">/ Life time</span>
                        {% if object.recommended %}
                        <div class="recommended">
                            <h1>Recommended</h1>
                        </div>
                        {% endif %}
                    </div>
                    <div class="pricing-popular-abilities">
                        {{ object.advantages|safe }}
                        <a href="{% url 'main:add_to_cart' id=object.id %}"><button class="pricing-abilities-btn">Get started</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- START BUTTON FOR OTHER PACKAGES -->

            <article class="btn-for-list-of-packages">
                <h1 class="click-title">Click to see other packages</h1>
                <a href="{% url 'main:pricinglist' %}">
                    <div class="click-line"></div>
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="click-image-container">
                    <img class="click-image" src="{% static 'main/images/about-us/click.svg' %}" alt="">
                </div>
            </article>
            <!-- END BUTTON FOR OTHER PACKAGES -->
        </div>
    </section>

    <!-- END POPULAR PACKAGES SECTION -->

    <!-- START CUSTOM BUILDS SECTION -->

    <section class="custom-build-section">
        <div class="custom-build-container">
            <div class="custom-build-column">
                <h1 class="custom-build-title">Need A Custom Build?</h1>
                <p class="custom-build-text">We offer custom plans that can support your large team & big vision.</p>
                <div class="custom-build-btn-container">
                    <a href="{% url 'main:contact' %}">
                        <button class="custom-build-btn">Get in touch</button>
                    </a>
                </div>
            </div>
            <div class="custom-build-column">
                <h1 class="custom-build-title">You don't know how to order?</h1>
                <p class="custom-build-text">Follow this link to find out the instruction how to order and order
                    requirements</p>
                <div class="custom-build-btn-container">
                    <a href="{% url 'main:documentation' %}">
                        <button class="custom-build-btn">Get instruction</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- END CUSTOM BUILDS SECTION -->

    <!-- START OUR SERVICES SECTION -->

    <section class="services-section">
        <div class="services-container">
            <div class="services-text-container">
                <h1 class="services-text-title">What do you get after payment</h1>
                <p class="services-text-text">We are a small, but growing team. Our expertise includes growth marketing,
                    design, software development, and product management.</p>
                <div class="services-link-container">
                    <a href="">
                        <button>Get started</button>
                    </a>
                </div>
            </div>
            <div class="services-info-container">
                <div class="services-info-column">
                    <div class="services-icon">
                        <i class="fas fa-wrench fa-rotate-270"></i>
                    </div>
                    <h1 class="services-info-title">Gain full control</h1>
                    <p class="services-info-text">Lorem ipsum dolor sit amet consectetur adipiscing elit interdum</p>
                </div>
                <div class="services-info-column">
                    <div class="services-icon">
                        <i class="fas fa-question-circle"></i>
                    </div>
                    <h1 class="services-info-title">Dedicated support</h1>
                    <p class="services-info-text">Lorem ipsum dolor sit amet consectetur adipiscing elit interdum</p>
                </div>
                <div class="services-info-column">
                    <div class="services-icon">
                        <i class="fa-solid fa-users-gear"></i>
                    </div>
                    <h1 class="services-info-title">Order is deliveres on time</h1>
                    <p class="services-info-text">Lorem ipsum dolor sit amet consectetur adipiscing elit interdum</p>
                </div>
                <div class="services-info-column">
                    <div class="services-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h1 class="services-info-title">Perfect quality</h1>
                    <p class="services-info-text">Lorem ipsum dolor sit amet consectetur adipiscing elit interdum</p>
                </div>
            </div>
        </div>
    </section>

    <!-- END OUR SERVICES SECTION -->

    <!-- Start READY TO TRY SECTION -->
    <section class="ready-to-try-section">
        <div class="ready-to-try-container">
            <div class="ready-to-try-column">
                <h1 class="ready-to-try-title">Ready to try <br> Cyber Code?</h1>
                <p class="ready-to-try-info">Try Cyber Code and take back control of your day</p>
                <div class="ready-to-try-buttons-container">
                    <div class="ready-to-try-btn-column">
                        <a href="#pricingSection">
                            <button class="ready-to-try-button">Get started</button>
                        </a>
                    </div>
                    <div class="ready-to-try-btn-column">
                        <a href="{% url 'main:pricinglist' %}">
                            <button class="ready-to-try-button-without-background">Pricing</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ready-to-try-image-column">
                <img src="{% static 'main/images/contactus/readytotry.svg' %}" alt="">
            </div>
        </div>
    </section>
    <!-- End READY TO TRY SECTION -->
</main>
{% endblock %}

{% block js_block %}
<script>
</script>
<script src="{% static 'main/scripts/js/clickbtnpricing.js' %}"></script>
{% endblock %}