$background-purple: #8828FF;
$background-light-purple: #C08DFF;
$background-gray: #C1BCFF;
$background-aqua: #AAEBFF;
$background-filter-gray: #8F8F8F;
$background-dark-blue: #20184E;
$background-white: #FFFFFF;
$background-black: #000;
$footer-background: #260055;
$scroolbar-dark: #242942;
$gray-button: #F8F2FF;
$box-shadow-dark-blue: #140B48;
$package-background: #F9F9FB;
$recommended: #FFDA58;
$background-header-menu: #363636;
$carousel-background: #FDFDFD;
:root {
    --background-purple: #{$background-purple};
    --background-light-purple: #{$background-light-purple};
    --background-gray: #{$background-gray};
    --background-aqua: #{$background-aqua};
    --background-filter-gray: #{$background-filter-gray};
    --background-dark-blue: #{$background-dark-blue};
    --background-white: #{$background-white};
    --background-black: #{$background-black};
    --footer-background: #{$footer-background};
    --scroolbar-dark: #{$scroolbar-dark};
    --gray-button: #{$gray-button};
    --box-shadow-dark-blue: #{$box-shadow-dark-blue};
    --package-background: #{$package-background};
    --recommended: #{$recommended};
    --background-header-menu: #{$background-header-menu};
    --carousel-background: #{$carousel-background};
}