$text-purple: #8828FF;
$text-aqua: #AAEBFF;
$text-gray: #666666;
$text-filter-gray: #8F8F8F;
$text-dark-blue: #20184E;
$text-white: #FFFFFF;
$text-black: #000;
$text-light-purple: #C08DFF;
$text-light-gray: #666;
$text-header-menu: #363636;
$text-light-white: #DEDEDE;
$error: #fb4d4d;
:root {
    --text-purple: #{$text-purple};
    --text-aqua: #{$text-aqua};
    --text-gray: #{$text-gray};
    --text-filter-gray: #{$text-filter-gray};
    --text-dark-blue: #{$text-dark-blue};
    --text-white: #{$text-white};
    --text-black: #{$text-black};
    --text-light-purple: #{$text-light-purple};
    --text-light-gray: #{$text-light-gray};
    --text-header-menu: #{$text-header-menu};
    --text-light-white: #{$text-light-white};
    --error: #{$error};
}