@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Open+Sans:wght@300&display=swap");
.gradient-container {
  position: relative;
  display: flex;
  gap: 1rem;
  background-image: url(../../images/layout/wave.svg);
  background: linear-gradient(168deg, rgb(170, 235, 255) 0%, rgb(255, 217, 221) 0%, rgb(222, 181, 255) 16%, rgb(193, 188, 255) 33%, rgb(193, 115, 255) 96%);
  background-position: center bottom;
  padding: 10.5rem 0;
}
.gradient-container::after {
  content: "";
  position: absolute;
  background: url(../../images/layout/wave.svg);
  width: 100%;
  height: 200px;
  background-position: bottom center;
  bottom: -10px;
  background-size: cover;
}

.gradient-text-container {
  padding-left: 5rem;
}
.gradient-text-container .gradient-title {
  color: var(--text-white);
  font-size: 3.5rem;
  font-family: var(--grotext-sans);
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}
.gradient-text-container .gradient-title::first-line {
  color: var(--text-purple);
}
.gradient-text-container .gradient-text {
  color: var(--text-white);
  font-size: 1.05rem;
  font-family: var(--grotext-sans);
  line-height: 2rem;
  margin-left: 0.3rem;
}

.gradient-image-container {
  width: 40%;
  margin-right: 1rem;
}
.gradient-image-container img {
  width: 100%;
  max-width: 37.5rem;
  object-fit: cover;
}

.gradient-buttons-container {
  display: flex;
  gap: 0.625rem;
}
@media screen and (max-width: 1100px) {
  .gradient-text-container .gradient-title {
    font-size: 2.5rem;
  }
  .gradient-image-container {
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .gradient-text-container .gradient-title {
    font-size: 2rem;
  }
  .gradient-text-container .gradient-text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .gradient-image-container {
    width: 60%;
  }
  .gradient-buttons-container a .gradient-button,
  .gradient-buttons-container a .gradient-button-without-background {
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 760px) {
  .gradient-container {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .gradient-text-container .gradient-title {
    font-size: 3rem;
  }
  .gradient-text-container .gradient-text {
    font-size: 1rem;
    line-height: 2rem;
  }
  .gradient-image-container {
    width: 80%;
    margin: 3rem 0;
  }
  .gradient-buttons-container a .gradient-button,
  .gradient-buttons-container a .gradient-button-without-background {
    padding: 1rem 2rem !important;
    font-size: 1.125rem !important;
  }
}
@media screen and (max-width: 550px) {
  .gradient-text-container {
    padding-left: 1rem;
  }
  .gradient-text-container .gradient-title {
    font-size: 2.1rem;
  }
  .gradient-text-container .gradient-text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .gradient-buttons-container a .gradient-button,
  .gradient-buttons-container a .gradient-button-without-background {
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
  }
}
.tasks {
  margin: 8rem 0;
  gap: 1rem;
}

.task-image-column img {
  width: 100%;
  max-width: 37.5rem;
  object-fit: cover;
}

.task-content-column .task-text {
  margin-left: 0.3rem;
}
.task-content-column .task-button-a {
  margin-left: 0.3rem;
}
@media screen and (max-width: 992px) {
  .task-content-column {
    margin-right: 0.5rem;
  }
  .task-content-column .task-title {
    font-size: 2rem !important;
  }
  .task-content-column .task-text {
    font-size: 1rem !important;
  }
  .task-content-column .task-button-a .task-button {
    padding: 0.5rem 1rem !important;
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 660px) {
  .tasks {
    flex-flow: column-reverse;
  }
  .task-content-column {
    margin: 0 0.5rem;
  }
}
.chat {
  margin-top: 12rem;
}

.static-info .static-info-text {
  margin-top: 1rem;
}

.chats {
  gap: 2.31rem;
}

.message-container {
  position: relative;
  border-radius: 16px;
  background: var(--background-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-column:nth-child(odd) .message-container::after {
  content: "";
  position: absolute;
  left: -24px;
  bottom: 1px;
  border-top: 18px solid transparent;
  border-right: 35px solid var(--background-white);
  border-bottom: 18px solid transparent;
  filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
}

.chat-column:nth-child(even) .profile {
  order: 2;
}
.chat-column:nth-child(even) .message-container::after {
  content: "";
  position: absolute;
  right: -24px;
  bottom: 1px;
  border-top: 18px solid transparent;
  border-left: 35px solid var(--background-white);
  border-bottom: 18px solid transparent;
  filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
}

.chat-column {
  column-gap: 2.25rem;
}
.chat-column .profile img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--background-purple);
}
.chat-column .message-container .chat-message-text {
  padding: 1rem 1rem 0.5rem;
  max-width: 20.5rem;
}
.chat-column .message-container .message-creating-details {
  padding: 0 1.5rem;
}
.chat-column .message-container .message-creating-details .message-user {
  font-size: 0.9rem !important;
}
.chat-column .message-container .message-creating-details .message-date {
  color: var(--text-light-gray);
  font-size: 0.75rem;
  font-family: var(--nunito);
  line-height: 140%;
}

@media screen and (max-width: 1140px) {
  .chats {
    gap: 1rem;
  }
  .static-info {
    margin-left: 0.5rem;
  }
  .static-info .static-info-title {
    font-size: 2rem !important;
  }
  .static-info .static-info-text {
    font-size: 1rem !important;
  }
  .chat-column:nth-child(odd) .message-container::after {
    left: -13px;
    border-top: 15px solid transparent;
    border-right: 25px solid var(--background-white);
    border-bottom: 15px solid transparent;
    filter: none;
  }
  .chat-column:nth-child(even) .message-container::after {
    right: -13px;
    border-top: 15px solid transparent;
    border-left: 25px solid var(--background-white);
    border-bottom: 15px solid transparent;
    filter: none;
  }
  .chat-column {
    transform: scale(0.8);
  }
  .chat-column .message-container .chat-message-text {
    font-size: 0.7rem !important;
    padding: 0.8rem 0.8rem 0.5rem;
  }
  .chat-column .message-container .message-creating-details .message-user {
    font-size: 0.7rem !important;
  }
  .chat-column .message-container .message-creating-details .message-date {
    font-size: 0.65rem !important;
  }
}
@media screen and (max-width: 660px) {
  .chat {
    flex-flow: column;
    gap: 2rem;
  }
  .chats {
    gap: 1rem;
  }
  .chat-column {
    transform: scale(1);
    margin: 0 0.5rem;
  }
}
.package {
  position: relative;
  margin-top: 12.5rem;
  background: var(--package-background);
  padding-top: 9.6rem;
  border-top-left-radius: 7rem;
  border-top-right-radius: 7rem;
}
.package::after {
  content: "";
  position: absolute;
  background: url(../../images/layout/wave.svg);
  width: 100%;
  height: 200px;
  background-position: bottom center;
  bottom: -10px;
  background-size: cover;
}
.package .package-info {
  margin-top: 1.125rem;
}

.package-choices-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
  padding-bottom: 10rem;
}

.choices-column {
  width: 24rem;
}
.choices-column .price-column {
  position: relative;
  background: linear-gradient(168deg, rgb(136, 40, 255) 0%, rgb(136, 40, 255) 36%, rgb(171, 124, 208) 80%);
  padding: 2rem 2.5rem 3rem;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}
.choices-column .price-column .price {
  color: var(--text-white) !important;
}
.choices-column .price-column .date {
  color: var(--text-white) !important;
}
.choices-column .price-column .recommended {
  position: absolute;
  top: 0;
  right: 1.5rem;
  background: var(--recommended);
  padding: 1rem 1.4rem 0.3rem;
  border-radius: 0 0 1rem 1rem;
}
.choices-column .abilities {
  background: var(--background-white);
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  padding: 2.5rem 5rem 2.5rem 2.5rem;
}
.choices-column .abilities .abilities-ul {
  gap: 0.6rem;
}
.choices-column .abilities .abilities-ul .abilities-li {
  position: relative;
}
.choices-column .abilities .abilities-ul .abilities-li::before {
  content: "";
  position: absolute;
  background: url(../../images/main-page/arrow.svg);
  width: 20px;
  height: 20px;
  left: -1.25rem;
}
.choices-column .abilities .abilities-btn {
  transform: scale(0.9);
  margin-top: 1rem;
}

.choices-column:nth-child(even) {
  background: linear-gradient(168deg, rgb(136, 40, 255) 0%, rgb(136, 40, 255) 36%, rgb(171, 124, 208) 80%);
  border-radius: 1.25rem;
}
.choices-column:nth-child(even) .price-column,
.choices-column:nth-child(even) .abilities {
  background: none;
}
.choices-column:nth-child(even) .price-column .abilities-ul .abilities-li,
.choices-column:nth-child(even) .abilities .abilities-ul .abilities-li {
  color: var(--text-white) !important;
}
.choices-column:nth-child(even) .price-column .abilities-ul .abilities-li::before,
.choices-column:nth-child(even) .abilities .abilities-ul .abilities-li::before {
  background: url(../../images/main-page/arrow-white.svg);
}
.choices-column:nth-child(even) .price-column .abilities-btn,
.choices-column:nth-child(even) .abilities .abilities-btn {
  transform: scale(0.9);
  margin-top: 1rem;
}

@media screen and (max-width: 660px) {
  .package {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
  }
  .package .package-title {
    font-size: 2rem !important;
  }
  .package .package-info {
    font-size: 1rem !important;
    width: 60%;
    margin-inline: 20%;
  }
  .choices-column {
    width: 22rem;
  }
}
@media screen and (max-width: 660px) and (max-width: 400px) {
  .choices-column {
    width: 96%;
    margin: 0 2%;
  }
  .choices-column .abilities-ul .abilities-li {
    font-size: 0.9rem !important;
  }
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-7);
  margin: 0;
}

.header-active {
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .logo-section img {
  width: 4.5rem;
  height: 4.5rem;
}

.header .pages-section .pages-section-container {
  display: flex;
  column-gap: 2.94rem;
  margin: auto 0;
}
.header .pages-section .pages-section-container li a {
  font-size: 1rem;
  font-family: var(--grotext-sans);
  color: var(--text-dark-blue);
}
.header .pages-section .pages-section-container li a:hover {
  color: var(--text-purple);
  transition: color 0.3s;
}
.header .pages-section .pages-section-container .active a {
  color: var(--text-purple);
}

.header .sign-li {
  display: none;
}

.header .sign-section .sign-button button {
  padding: 0.375rem 1.25rem;
  border-radius: 40px;
  border: 1.3px solid var(--background-purple);
  color: var(--text-purple);
  background: transparent;
  font-size: 0.875rem;
  font-family: var(--grotext-sans);
  outline: none;
}
.header .sign-section .get-started button:hover {
  background: var(--background-purple);
  color: var(--text-white);
  transition: all 0.5s;
}
.header .sign-section .login button {
  color: var(--text-dark-blue);
  border: none;
}
.header .sign-section .login button:hover {
  color: var(--text-purple);
  transition: all 0.5s;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 4px;
  background: var(--background-purple);
  border-radius: 10px;
  z-index: var(--z-index-4);
  cursor: pointer;
  transition: all 0.3s;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  content: "";
  height: 4px;
  right: 0;
  background: var(--background-purple);
  border-radius: 30px;
  transition: all 0.3s;
}

.hamburger::before {
  width: 20px;
  top: -10px;
}

.hamburger::after {
  width: 25px;
  top: 10px;
}

.hamburger-checkbox {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: var(--z-index-5);
  cursor: pointer;
}

.hamburger,
.hamburger-checkbox {
  display: none;
}

.navbar input:checked ~ .hamburger {
  background: transparent;
}

.navbar input:checked ~ .hamburger::before {
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
}

.navbar input:checked ~ .hamburger::after {
  top: 0;
  transform: rotate(45deg);
  width: 30px;
}

.navbar input:checked ~ .pages-section,
.navbar input:checked ~ .pages-section-container {
  display: flex;
}

.navbar input:not(:checked) ~ .pages-section,
.navbar input:not(:checked) ~ .pages-section-container {
  display: flex;
}

@media screen and (max-width: 992px) {
  .navbar input:checked ~ .pages-section {
    animation: navbar-menu 0.5s linear;
    right: -1px;
  }
  .navbar input:not(:checked) ~ .pages-section {
    animation: navbar-menu-reverse 0.5s linear;
    right: -350px;
  }
  .header {
    background: var(--background-white);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .sign-section {
    margin-right: 70px;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after,
  .hamburger-checkbox {
    position: absolute;
    right: 0px;
  }
  .hamburger,
  .hamburger-checkbox {
    display: block;
    right: 20px;
    top: 45x;
  }
  .hamburger-checkbox {
    top: -2px;
    opacity: 0;
  }
  .pages-section {
    display: none;
    justify-content: start;
    align-items: start;
    margin: 0;
    width: 300px;
    position: fixed;
    top: 90px;
    min-height: 100vh;
    padding: 10px 0;
    background-color: var(--background-white);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  }
  .pages-section-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 10px;
  }
  .pages-section-container li {
    margin-right: 20px;
  }
  .pages-section-container li a {
    font-size: 1.3rem !important;
  }
}
@keyframes navbar-menu {
  0% {
    right: -350px;
  }
  100% {
    right: -1px;
  }
}
@keyframes navbar-menu-reverse {
  0% {
    right: -1px;
  }
  100% {
    right: -350px;
  }
}
@media screen and (max-width: 600px) {
  .navbar input:checked ~ .pages-section {
    animation: navbar-menu-mobile 0.4s linear;
    right: 0;
  }
  .navbar input:not(:checked) ~ .pages-section {
    animation: navbar-menu-mobile-reverse 0.4s linear;
    right: -700px;
  }
  .pages-section {
    width: 101%;
    top: 85px;
    height: auto;
    min-height: 0;
  }
  .pages-section-container {
    justify-content: center;
    align-items: center;
  }
  .header .sign-section .sign-button button {
    display: none;
  }
  .header .sign-li {
    display: inline;
  }
}
@keyframes navbar-menu-mobile {
  0% {
    right: -700px;
  }
  100% {
    right: 0;
  }
}
@keyframes navbar-menu-mobile-reverse {
  0% {
    right: 0;
  }
  100% {
    right: -700px;
  }
}
@keyframes display {
  0% {
    display: none;
  }
  100% {
    display: flex;
  }
}
.footer {
  width: 100%;
  background: var(--footer-background);
  padding: 6rem 0 4rem;
  margin-top: 1rem;
}

.footer .footer-links {
  display: flex;
  justify-content: space-around;
}
.footer .footer-links .footer-logo-section {
  display: flex;
}
.footer .footer-links .footer-logo-section img {
  width: 3.3rem;
  height: 3.3rem;
}
.footer .footer-links .footer-logo-section h1 {
  color: var(--text-white);
  font-family: var(--grotext-sans);
  font-weight: 900;
  font-size: 2rem;
  margin: 11px 0px;
  letter-spacing: 0.375rem;
}
.footer .footer-links .footer-logo-section h1 span {
  color: var(--text-purple);
}
.footer .footer-links .footer-info-section .footer-info {
  color: var(--text-light-gray);
  font-size: 1.125rem;
  font-family: var(--grotext-sans);
  line-height: 160%;
  width: 18.8125rem;
  margin: 1rem 0;
}
.footer .footer-links .footer-info-section .icons {
  margin-left: 0.6rem;
}
.footer .footer-links .footer-info-section .icons i {
  width: 2.5rem;
  transform: scale(1.3);
}

.footer .footer-links-section .footer-link-title {
  font-size: 1.125rem;
  font-family: var(--grotext-sans);
  font-weight: 700;
  line-height: 160%;
  color: var(--text-white);
  margin-left: 1.9rem;
}
.footer .footer-links-section .footer-links-container li {
  margin-top: 0.6rem;
}
.footer .footer-links-section .footer-links-container li a {
  color: var(--text-light-gray);
  font-size: 1rem;
  font-family: var(--grotext-sans);
  line-height: 160%;
  font-weight: 500;
}
.footer .footer-links-section .footer-links-container li a:hover {
  color: var(--text-white);
  transition: color 0.3s;
}

.footer .footer-privacy {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.footer .footer-privacy .footer-privacy-text {
  color: var(--text-light-gray);
  font-size: 1rem;
  font-family: var(--grotext-sans);
  line-height: 160%;
}
.footer .footer-privacy .footer-privacy-text a {
  color: var(--text-light-gray);
}
.footer .footer-privacy .footer-privacy-text a:hover {
  color: var(--text-white);
  transition: color 0.3s;
}

@media screen and (max-width: 1024px) {
  .footer .footer-links {
    flex-wrap: wrap;
    justify-content: start;
  }
  .website-information {
    margin-left: 2rem;
  }
  .footer .footer-links-section {
    margin-top: 2rem;
  }
  .footer .footer-privacy .footer-privacy-text {
    font-size: 0.9rem;
  }
  .footer-logo-section h1 {
    margin: 9px 0px !important;
  }
}
@media screen and (max-width: 1024px) and (max-width: 600px) {
  .footer .footer-privacy {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-privacy .footer-privacy-text {
    margin-top: 0.3rem;
  }
  .footer-logo-section h1 {
    margin: 8px 0px !important;
  }
}
:root {
  --z-index_-1: -1;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
  --z-index-7: 7;
}

:root {
  --text-purple: #8828FF;
  --text-aqua: #AAEBFF;
  --text-gray: #666666;
  --text-filter-gray: #8F8F8F;
  --text-dark-blue: #20184E;
  --text-white: #FFFFFF;
  --text-black: #000;
  --text-light-purple: #C08DFF;
  --text-light-gray: #ADABB7;
}

:root {
  --background-purple: #8828FF;
  --background-gray: #C1BCFF;
  --background-aqua: #AAEBFF;
  --background-filter-gray: #8F8F8F;
  --background-dark-blue: #20184E;
  --background-white: #FFFFFF;
  --background-black: #FFFFFF;
  --footer-background: #260055;
  --scroolbar-dark: #242942;
  --gray-button: #F8F2FF;
  --box-shadow-dark-blue: #140B48;
  --package-background: #F9F9FB;
  --recommended: #FFDA58;
}

:root {
  --grotext-sans: Space Grotesk, sans-serif;
  --sans: sans-serif;
  --nunito: Nunito, sans-serif;
}

/* Конвертирует px в rem. Основная единица rem */
/* Конвертирует px в em. Основная единица em */
/* Конвертирует px в vw. Основная единица viewWidth */
/* Конвертирует px в vh. Основная единица viewHeight */
/* Get percent based on width */
/*=============== GOOGLE FONTS ===============*/
/*=============== VARIABLES CSS ===============*/
.onerem-tworem-purple-button, .gradient-buttons-container a .gradient-button {
  padding: 1rem 2rem;
  color: var(--text-white);
  text-align: center;
  font-size: 1.125rem;
  font-family: var(--grotext-sans);
  font-weight: 500;
  background: var(--background-purple);
  border-radius: 40px;
  border: none;
  transition: all 0.5s;
}
.onerem-tworem-purple-button:hover, .gradient-buttons-container a .gradient-button:hover {
  background: none;
  border: 1.3px solid var(--background-purple);
  color: var(--text-purple);
}

.onerem-tworem-purple-button-without-background, .gradient-buttons-container a .gradient-button-without-background {
  padding: 1rem 2rem;
  color: var(--text-white);
  text-align: center;
  font-size: 1.125rem;
  font-family: var(--grotext-sans);
  font-weight: 500;
  border-radius: 40px;
  border: none;
  background: none;
  transition: all 0.5s;
}
.onerem-tworem-purple-button-without-background:hover, .gradient-buttons-container a .gradient-button-without-background:hover {
  color: var(--text-purple);
}

.gray-button-purple-1rem-2rem, .task-content-column .task-button-a .task-button, .choices-column .abilities .abilities-btn, .choices-column:nth-child(even) .price-column .abilities-btn,
.choices-column:nth-child(even) .abilities .abilities-btn {
  color: var(--text-purple);
  text-align: center;
  font-size: 1.125rem;
  font-family: var(--grotext-sans);
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  background: var(--gray-button);
  transition: 0.5s;
}
.gray-button-purple-1rem-2rem:hover, .task-content-column .task-button-a .task-button:hover, .choices-column .abilities .abilities-btn:hover, .choices-column:nth-child(even) .price-column .abilities-btn:hover,
.choices-column:nth-child(even) .abilities .abilities-btn:hover {
  background: var(--background-purple);
  color: var(--gray-button);
}

.dark-blue-text-center-grotext-family-4rem, .dark-blue-text-center-grotext-family-1rem, .choices-column .price-column .recommended h1, .dark-blue-text-center-grotext-family-1-5rem, .dark-blue-text-center-grotext-family-2rem, .choices-column .price-column .price, .dark-blue-text-center-grotext-family-3rem, .task-content-column .task-title, .static-info .static-info-title, .package .package-title {
  color: var(--text-dark-blue);
  text-align: center;
  font-size: 4rem;
  font-family: var(--grotext-sans);
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.dark-blue-text-center-grotext-family-3rem, .task-content-column .task-title, .static-info .static-info-title, .package .package-title {
  font-size: 3rem;
}

.dark-blue-text-center-grotext-family-2rem, .choices-column .price-column .price {
  font-size: 2rem;
}

.dark-blue-text-center-grotext-family-1-5rem {
  font-size: 1.5rem;
}

.dark-blue-text-center-grotext-family-1rem, .choices-column .price-column .recommended h1 {
  font-size: 1rem;
}

.info-text-gray-1-125rem, .info-text-gray-1rem, .choices-column .price-column .date, .static-info .static-info-text, .choices-column .abilities .abilities-ul .abilities-li, .choices-column:nth-child(even) .price-column .abilities-ul .abilities-li,
.choices-column:nth-child(even) .abilities .abilities-ul .abilities-li {
  color: #666;
  font-size: 1.125rem;
  font-family: var(--grotext-sans);
  line-height: 160%;
}

.info-text-gray-1rem, .choices-column .price-column .date {
  font-size: 1rem;
}

.chat-text-gray, .chat-date-text, .chat-text-gray-1-125, .task-content-column .task-text, .package .package-info, .chat-column .message-container .chat-message-text {
  color: var(--text-light-gray);
  font-size: 1rem;
  font-family: var(--nunito);
  font-weight: 400;
  line-height: 140%;
}

.chat-text-gray-1-125, .task-content-column .task-text, .package .package-info {
  font-size: 1.125rem;
  line-height: 160%;
}

.chat-creator-text, .chat-column .message-container .message-creating-details .message-user {
  color: var(--text-dark-blue);
  font-size: 1.125rem;
  font-family: var(--nunito);
  font-weight: 700;
  line-height: 140%;
}

.chat-date-text {
  font-size: 0.75rem;
}

.text-align-start, .task-content-column .task-title, .static-info .static-info-title {
  text-align: start;
}

.text-align-center, .package .package-info {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.white-1rem-grotext, .choices-column .price-column .choice-type {
  color: #FFF;
  font-size: 1rem;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.flex-row-justify-align-start, .flex-column-justify-align-start, .choices-column .abilities .abilities-ul {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.flex-row-justify-align-center, .flex-column-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-justify-align-end, .flex-column-justify-align-end, .chat-column {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.flex-row-center-between, .flex-column-center-between, .chat-column .message-container .message-creating-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center-around, .flex-column-center-around, .tasks, .chat {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-center-evenly, .flex-column-center-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-justify-between, .flex-column-justify-between, .chats {
  display: flex;
  justify-content: space-between;
}

.flex-row-justify-around, .flex-column-justify-around {
  display: flex;
  justify-content: space-around;
}

.flex-row-justify-evenly, .flex-column-justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-row-align-start, .flex-column-align-start {
  display: flex;
  align-items: start;
}

.flex-row-align-center, .flex-column-align-center, .choices-column .abilities .abilities-ul .abilities-li, .choices-column:nth-child(even) .price-column .abilities-ul .abilities-li,
.choices-column:nth-child(even) .abilities .abilities-ul .abilities-li {
  display: flex;
  align-items: center;
}

.flex-row-align-end, .flex-column-align-end {
  display: flex;
  align-items: end;
}

.flex-column-justify-align-start, .choices-column .abilities .abilities-ul {
  flex-flow: column;
}

.flex-column-justify-align-center {
  flex-flow: column;
}

.flex-column-justify-align-end {
  flex-flow: column;
}

.flex-column-center-around {
  flex-flow: column;
}

.flex-column-center-between {
  flex-flow: column;
}

.flex-column-center-evenly {
  flex-flow: column;
}

.flex-column-justify-between, .chats {
  flex-flow: column;
}

.flex-column-justify-around {
  flex-flow: column;
}

.flex-column-justify-evenly {
  flex-flow: column;
}

.flex-column-align-start {
  flex-flow: column;
}

.flex-column-align-center {
  flex-flow: column;
}

.flex-column-align-end {
  flex-flow: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  outline: none;
}

html {
  padding: 0;
  margin: 0;
}
html body {
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
  color: var(--text-white);
}

body {
  margin: 0;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.main {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 90%, 90%);
  --fg: hsl(var(--hue), 90%, 10%);
  --trans-dur: 0.3s;
  font-size: calc(16px + 4 * (100vw - 320px) / 960);
}

::-webkit-scrollbar {
  width: 1em;
  overflow-x: none;
  background: var(--scroolbar-dark);
}

::-webkit-scrollbar-track {
  border-radius: 0.3em;
  background: var(--scroolbar-dark);
  margin-block: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: var(--text-purple);
  background: -webkit-linear-gradient(to right, var(--text-light-purple), var(--text-purple));
  background: linear-gradient(to right, var(--text-light-purple), var(--text-purple));
  border-radius: 0.3em;
}

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.smiley {
  width: 8em;
  height: 8em;
}

.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
  animation: eye1 3s ease-in-out infinite;
}

.smiley__eye1,
.smiley__eye2 {
  transform-origin: 64px 64px;
}

.smiley__eye2 {
  animation-name: eye2;
}

.smiley__mouth1 {
  animation-name: mouth1;
}

.smiley__mouth2 {
  animation-name: mouth2;
  visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}
/* Animations */
@keyframes eye1 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50%, 60% {
    animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
    transform: rotate(-40deg) translate(0, -56px) scale(1);
  }
  to {
    transform: rotate(225deg) translate(0, -56px) scale(0.35);
  }
}
@keyframes eye2 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }
  50% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  52.5% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
  }
  55%, 70% {
    animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }
  to {
    transform: rotate(150deg) translate(0, -56px) scale(0.4);
  }
}
@keyframes eyeBlink {
  from, 25%, 75%, to {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes mouth1 {
  from {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 351.86;
    stroke-dashoffset: 0;
  }
  25% {
    animation-timing-function: ease-out;
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1, start);
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: -175.93;
    visibility: visible;
  }
  75%, to {
    visibility: hidden;
  }
}
@keyframes mouth2 {
  from {
    animation-timing-function: steps(1, end);
    visibility: hidden;
  }
  50% {
    animation-timing-function: ease-in-out;
    visibility: visible;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -351.86;
  }
}

/*# sourceMappingURL=global.css.map */
