{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="description" content="Websites development and design for your business in the best quality, we are waiting for you!">
    <meta property="og:description" content="Websites development and design for your business in the best quality, we are waiting for you!">
    <meta name="og:image" content="{% static 'main/images/layout/codecraftheader.svg' %}">
    <meta name="keywords" content="Разработка веб-сайтов в Ташкенте CyberCode cybercode сайты в Ташкенте сайты Ташкент websites web development Дизайн веб-сайтов в Ташкенте Создание сайтов в Ташкенте Графический дизайн в Ташкенте Логотипы и брендинг Оптимизация веб-сайтов Разработка корпоративных сайтов Дизайн лендингов Web Development in Tashkent Website Design in Tashkent Website Creation in Tashkent Graphic Design in Tashkent Logos and Branding Website Optimization Corporate Website Development Landing Page Design Разработка веб-сайтов в Европе Дизайн веб-сайтов в Европе Графический дизайн Логотипы и брендинг Оптимизация веб-сайтов Разработка корпоративных сайтов Дизайн лендингов Web Development in Europe Website Design in Europe Graphic Design Logos and Branding Website Optimization Corporate Website Development Landing Page Design">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/scripts/js/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">

    <link rel="shortcut icon" href="{% static 'main/images/layout/websiteicon.svg' %}" type="image/svg+xml"/>
    <title>Sign in - CyberCode</title>
</head>

<body class="sign-body">
    <main class="main login-main">
        <!-- START LOGIN CONTENT -->

        <section class="sign-section">
            <div class="sign-container">
                <div class="sign-image-container">
                    <div class="sign-image-logo-container">
                        <h1 class="sign-image-logo-text">Cyber Code</h1>
                    </div>
                    <h1 class="sign-image-title">Your place to work Plan and Create.</h1>
                    <div class="sign-image-wrapper">
                        <img src="{% static 'main/images/login/login.svg' %}" alt="">
                    </div>
                </div>
                <div class="sign-info-container">
                    <h1 class="sign-info-title">Sign In to Website</h1>
                    <form id="login-form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="sign-info-input-container">
                            <div class="sign-info-input-column">
                                <label class="sign-info-label">Username</label>
                                <input class="sign-info-input" type="text" placeholder="myusername" name="username"
                                    autocomplete="off" value="{{ form.username.value|default_if_none:'' }}">
                                <div class="error-message" id="username-error"></div>
                            </div>
                            <div class="sign-info-input-column">
                                <label class="sign-info-label">Password</label>
                                <input class="sign-info-input" type="password" placeholder="••••••••" name="password"
                                    autocomplete="off" value="{{ form.password.value|default_if_none:'' }}">
                                <div class="error-message" id="password-error"></div>
                            </div>
                        </div>
                        <div class="error-message">{{ error_message }}</div>
                        <div class="sign-info-extra-container">
                            <div class="sign-info-extra-wrapper">
                                <div class="sign-info-extra-remember-container">
                                    <input type="checkbox" name="" id="">
                                    <h1 class="sign-info-extra-remember-text">Remember me</h1>
                                </div>
                                <div class="sign-info-extra-password-container">
                                    <a href="{% url 'main:password_reset' %}" class="sign-info-extra-password-text">Forgot Password ?</a>
                                </div>
                            </div>
                            <div class="sign-info-btn-container">
                                <button class="sign-info-btn" type="submit">Sign in <i class="fa-solid fa-arrow-right"></i></button>
                                <a href="{% url 'main:registration' %}" class="sign-info-check-account">Don’t have an
                                    account?</a>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- END LOGIN CONTENT -->
        <script src="{% static 'main/scripts/js/notranslate.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#login-form").submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: window.location.href,  // Use the correct URL pattern
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                window.location.href = "{% url 'main:profile' %}";
                            } else {
                                $(".error-message").removeClass('active').empty();
                                for (var field in data.errors) {
                                    if (data.errors.hasOwnProperty(field)) {
                                        $("#" + field + "-error").addClass('active');
                                        $("#" + field + "-error").text(data.errors[field][0]);
                                    }
                                }
                            }
                        },
                    });
                });
            });
        </script>
    </main>
</body>

</html>