{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Change Password - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main change-password-main">
    <section class="change-password-form-section">
        <div class="change-password-form-container">
            <a href="{% url 'main:profile' %}" class="change-password-back-link"><i class="fa-solid fa-arrow-left-long"></i></a>
            <h2 class="change-password-form-user"><span>CyberCode</span></h2>
            <h1 class="change-password-form-title">Password Reset</h1>
            <p class="change-password-form-text">
                All sessions except the current one will be terminated. This will prevent unauthorized access to your account.
            </p>
            <p class="change-password-form-text">
                The password must contain at least 8 characters, including numbers, letters and special characters (!$@%).
            </p>
            <form method="POST" class="change-password-form">
                {% csrf_token %}
                <div class="change-password-form-input-container currentpassword">
                    <input type="password" name="new_password1" class="change-password-input" placeholder=" " value="{{ request.POST.new_password1  }}">
                    <label class="placeholder">New Password</label>
                </div>
                {% if form.errors.new_password1 %}
                    <div class="change-password-error newpassword1">{{ form.errors.new_password1.0 }}</div>
                {% endif %}
                <div class="change-password-form-input-container currentpassword">
                    <input type="password" name="new_password2" class="change-password-input" placeholder=" " value="{{ request.POST.new_password2  }}">
                    <label class="placeholder">Confirm Password</label>
                </div>
                {% if form.errors.new_password2 %}
                    <div class="change-password-error newpassword1">{{ form.errors.new_password2.0 }}</div>
                {% endif %}
                <button type="submit" class="change-password-form-btn">Submit</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block js_block %}
{% endblock %}