{% extends 'layout/base.html' %}
{% load static i18n %}

{% block title %}
<title>Password Reset Done - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="change-password-form-section">
        <div class="change-password-form-container fade fadeInUp">
            <h2 class="change-password-form-user"><span>CyberCode</span></h2>
            <h1 class="change-password-form-title">Password Reset</h1>
            <p class="change-password-form-text">
                {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
            </p>
            <p class="change-password-form-text">
                {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
            </p>
        </div>
    </section>
</main>

{% endblock %}
