{% extends 'layout/base.html' %}
{% load static i18n %}

{% block title %}
<title>Password Reset Done - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="change-password-form-section">
        <div class="change-password-form-container">
            <h2 class="change-password-form-user"><span>CyberCode</span></h2>
            <h1 class="change-password-form-title">Password Reset Completed</h1>
            <p class="change-password-form-text">
                You have successfully updated your password, write it down somewhere so you don’t forget it again.
            </p>
            <p class="change-password-form-text">
                Use the updated password you just set to log into your account. Here is the link to login to your account <a href="{% url 'main:login' %}">Sign in</a>
            </p>
        </div>
    </section>
</main>

{% endblock %}
