// PURPLE BUTTON WITH BACKGROUND 1rem 2rem
.onerem-tworem-purple-button {
    padding: 1rem 2rem;
    color: var(--text-white);
    text-align: center;
    font-size: 1.125rem;
    font-family: var(--grotext-sans);
    font-weight: 500;
    background: var(--background-purple);
    border-radius: 40px;
    border: 1px solid var(--background-purple);
    transition: all 0.5s;

    &:hover {
        background: none;
        color: var(--text-purple);
    }
}

// PURPLE BUTTON WITHOUT BACKGROUND 1rem 2rem
.onerem-tworem-purple-button-without-background {
    padding: 1rem 2rem;
    color: var(--text-white);
    text-align: center;
    font-size: 1.125rem;
    font-family: var(--grotext-sans);
    font-weight: 500;
    border-radius: 40px;
    border: none;
    background: none;
    transition: all 0.5s;

    &:hover {
        color: var(--text-purple);
    }
}

// GRAY BUTTON WITH PURPLE TEXT
.gray-button-purple-1rem-2rem {
    color: var(--text-purple);
    text-align: center;
    font-size: 1.125rem;
    font-family: var(--grotext-sans);
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 40px;
    border: none;
    background: var(--gray-button);
    transition: 0.5s;
    &:hover {
        background: var(--background-purple);
        color: var(--gray-button);
    }
}


// BTN ON SCROOL TO TOP


.btn-top-active {
    display: flex !important;
}

.btn-top-container {
    z-index: var(--z-index-10);
    position: fixed;
    display: none;
    justify-content: end;
    align-items: end;
    bottom: 1rem;
    padding: 1rem;
    width: 100%;

    a {
        margin-right: 2rem;

        i {
            font-size: 2.5rem;
            color: var(--text-purple);
        }
    }
}

@media screen and (max-width: 600px) {
    .btn-top-container {
        right: -20px;
        padding: 0;
    }
}