.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-10);
    margin: 0;
}

.header-active {
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo-section {
    img {
        width: 4.5rem;
        height: 4.5rem;
    }
}

.header .pages-section {
    .pages-section-container {
        display: flex;
        column-gap: 2.94rem;
        margin: auto 0;

        li {
            a {
                font-size: 1rem;
                font-family: var(--grotext-sans);
                color: var(--text-light-purple);

                &:hover {
                    color: var(--text-purple);
                    transition: color 0.3s;
                }
            }
        }

        .active {
            a {
                color: var(--text-purple);
            }
        }
    }
}

.header .sign-li {
    display: none;
}

.header .sign-section {
    .sign-button {
        button {
            padding: 0.475rem 1.25rem;
            border-radius: 40px;
            border: none;
            color: var(--text-white);
            background: var(--background-purple);
            font-size: 0.875rem;
            font-family: var(--grotext-sans);
            outline: none;
            cursor: pointer;
        }
    }

    .get-started {
        button {
            &:hover {
                color: var(--text-white);
                transition: all 0.5s;
            }
        }
    }

    .login {
        button {
            color: var(--text-light-purple);
            border: none;
            background: none;
        }
    }
}

// Hamburger Part

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: var(--background-purple);
    border-radius: 10px;
    z-index: var(--z-index-4);
    cursor: pointer;
    transition: all 0.3s;
}

.hamburger::before,
.hamburger::after {
    position: absolute;
    content: "";
    height: 4px;
    right: 0;
    background: var(--background-purple);
    border-radius: 30px;
    transition: all 0.3s;
}

.hamburger::before {
    width: 20px;
    top: -10px;
}

.hamburger::after {
    width: 25px;
    top: 10px;
}

.hamburger-checkbox {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: var(--z-index-5);
    cursor: pointer;
}

.hamburger,
.hamburger-checkbox {
    display: none;
}

.navbar input:checked~.hamburger {
    background: transparent;
}

.navbar input:checked~.hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navbar input:checked~.hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navbar input:checked~.pages-section,
.navbar input:checked~.pages-section-container {
    display: flex;
}

.navbar input:not(:checked)~.pages-section,
.navbar input:not(:checked)~.pages-section-container {
    display: flex;
}

@media screen and (max-width: 992px) {

    .hamburger {
        top: 40px !important;
    }
    .navbar input:checked~.pages-section {
        animation: navbar-menu 0.5s linear;
        right: -1px;
    }

    .navbar input:not(:checked)~.pages-section {
        animation: navbar-menu-reverse 0.5s linear;
        right: -350px;
    }

    .header {
        background: var(--background-white);
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .sign-section {
        margin-right: 70px;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after,
    .hamburger-checkbox {
        position: absolute;
        right: 0px;
    }

    .hamburger,
    .hamburger-checkbox {
        display: block;
        right: 20px;
        top: 45px;
    }

    .hamburger-checkbox {
        top: -2px;
        opacity: 0;
    }

    .pages-section {
        display: none;
        justify-content: start;
        align-items: start;
        margin: 0;
        width: 300px;
        position: fixed;
        top: 80px;
        min-height: 100vh;
        padding: 10px 0;
        background-color: var(--background-white);
        box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    }

    .pages-section-container {
        display: flex;
        flex-flow: column;
        width: 100%;
        gap: 10px;

        li {
            margin-left: 2rem;
            a {
                font-size: 1.3rem !important;
            }
        }
    }

    .header .logo-section {
        margin-left: 0.5rem;
    }
}

@keyframes navbar-menu {
    0% {
        right: -350px;
    }

    100% {
        right: -1px;
    }
}

@keyframes navbar-menu-reverse {
    0% {
        right: -1px;
    }

    100% {
        right: -350px;
    }
}

@media screen and (max-width: 600px) {
    .navbar input:checked~.pages-section {
        animation: navbar-menu-mobile 0.4s linear;
        right: 0;
    }

    .navbar input:not(:checked)~.pages-section {
        animation: navbar-menu-mobile-reverse 0.4s linear;
        right: -700px;
    }
    .pages-section {
        width: 101%;
        top: 75px;
        height: auto;
        min-height: 0;
    }

    .pages-section-container {
        justify-content: center;
        align-items: center;
    }

    .header .sign-section .sign-button button {
        display: none;
    }

    .header .sign-li {
        display: inline;
    }
}

@keyframes navbar-menu-mobile {
    0% {
        right: -700px;
    }

    100% {
        right: 0;
    }
}

@keyframes navbar-menu-mobile-reverse {
    0% {
        right: 0;
    }

    100% {
        right: -700px;
    }
}


@keyframes display {
    0% {
        display: none;
    }

    100% {
        display: flex;
    }
}