// Preloader
#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: linear-gradient(0deg, var(--background-purple) 0%, var(--background-white) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    overflow: hidden;
    gap: 2rem;
}


.hidden-preloader-text {
    position: relative;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: opacity 1s ease-out, transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 4rem;
    font-family: var(--poppins);
    letter-spacing: 4px;
    white-space: nowrap;
    color: var(--text-dark-blue);
    z-index: 1;
    animation: shift 1s ease-in-out infinite alternate;

    span {
        color: var(--text-white);
    }

    @media screen and (max-width: 600px) {
        font-size: 2.5rem;
    }
}

.hidden-preloader-text:before,
.hidden-preloader-text:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.hidden-preloader-text:before {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: var(--text-dark-blue);
    z-index: -1;
}

.hidden-preloader-text:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: var(--text-dark-blue);
    z-index: -2;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(-3px, -3px);
    }

    60% {
        transform: translate(3px, 3px);
    }

    80% {
        transform: translate(3px, -3px);
    }

    to {
        transform: translate(0);
    }
}

@keyframes shift {

    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(40deg) skewY(10deg);
    }

    60% {
        transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) skewY(-5deg);
    }

    70% {
        transform: skewX(-50deg) skewY(-20deg);
    }

    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}

.line-wobble {
    --uib-size: 15rem;
    --uib-speed: 1.55s;
    --uib-color: var(--text-dark-blue);
    --uib-line-weight: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    @media screen and (max-width: 600px) {
        --uib-size: 7.5rem;
        --uib-line-weight: 0.35rem;
    }
}

.line-wobble::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    opacity: 0.1;
}

.line-wobble::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: wobble var(--uib-speed) ease-in-out infinite;
    transform: translateX(-90%);
    background-color: var(--uib-color);
}

@keyframes wobble {

    0%,
    100% {
        transform: translateX(-90%);
    }

    50% {
        transform: translateX(90%);
    }
}