// GRADIENT SECTION START

.about-page-gradient-section {
    position: relative;
    background-image: url(../../images/layout/wave.svg);
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);
    background-position: center bottom;
    padding: 10.5rem 0;

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }
}

.about-page-gradient-main-container {
    display: flex;
    place-content: center;
    gap: 1rem;
}

.about-page-gradient-text-container {
    width: 50%;
    padding-left: 1rem;

    .about-page-gradient-title {
        @extend .dark-blue-text-center-grotext-family-4rem;
        @extend .text-align-start;
        color: var(--text-white) !important;
        font-size: 3.5rem !important;
        width: min(100%, 40rem);

        &::first-line {
            color: var(--text-purple)
        }
    }

    .about-page-gradient-text {
        @extend .chat-text-gray-1-125;
        color: var(--text-white) !important;
        margin: 1.25rem 0 3rem;
        width: min(100%, 28rem);
    }
}

.about-page-gradient-btn-container {
    a {
        .about-page-gradient-btn {
            @extend .onerem-tworem-purple-button;
        }
    }
}

.about-page-gradient-image-container {
    width: min(50%, 32rem);
    position: relative;
}

.about-page-gradient-image-column {
    width: 100%;

    .about-page-gradient-image {
        width: 100%;
        height: 100%;
        border-radius: 1.25rem;
        object-fit: cover;
    }
}

.about-page-gradient-image-column-info-container-border {
    position: absolute;
    background: var(--background-white);
    border-radius: 1.25rem;
    padding: 1.25rem;
    width: min(100%, 18rem);
    bottom: -1rem;
    left: -6rem;
}

.about-page-gradient-image-column-info-container {
    background: var(--carousel-image-background);
    border-radius: 1.25rem;
    padding: 1rem;

    .about-page-gradient-image-column-title {
        @extend .dark-blue-text-center-grotext-family-1rem;
        margin-bottom: 1rem;
    }
}

.about-page-gradient-image-column-task {
    background: var(--background-white);
    border-radius: 0.5rem;
    padding: 1rem;
}

.about-page-gradient-image-tasks-user-category-container {
    display: flex;
    justify-content: space-between;

    .about-page-gradient-image-tasks-category {
        padding: 0.25rem 0.5rem;
        background: var(--gray-button);
        height: fit-content;
        font-size: 0.7rem;
        color: var(--text-purple);
        border-radius: 3.875rem;
        text-align: center;
        font-family: var(--nunito);
    }
}

.about-page-gradient-image-tasks-users-image-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 0;
        border-radius: 50%;

        &:nth-child(1) {
            right: 1.5rem;
            z-index: var(--z-index-2);
        }
    }
}

.about-page-gradient-image-column-task-title {
    @extend .dark-blue-text-center-grotext-family-1rem;
    @extend .text-align-start;
    font-size: 0.87rem !important;
    margin: 1rem 0;
}

.about-page-gradient-image-column-task-date {
    @extend .chat-text-gray;
    font-size: 0.75rem !important;

    i {
        color: var(--text-purple);
    }
}

@media screen and (max-width: 1430px) {
    .about-page-gradient-text-container {
        .about-page-gradient-title {
            font-size: 3rem !important;
        }

        .about-page-gradient-text {
            width: min(100%, 20rem);
        }
    }
}

@media screen and (max-width: 1200px) {
    .about-page-gradient-text-container {
        width: 80%;
        padding: 0 10%;
    }

    .about-page-gradient-image-container {
        width: min(50%, 25rem);
    }

    .about-page-gradient-image-column-info-container-border {
        transform: scale(0.8);
        bottom: 4rem;
    }

}

@media screen and (max-width: 975px) {
    .about-page-gradient-main-container {
        flex-flow: column;
    }

    .about-page-gradient-text-container {
        width: 90%;
        margin: 0 5%;

        .about-page-gradient-text {
            width: min(100%, 28rem);
        }
    }

    .about-page-gradient-image-container {
        width: 70%;
        margin: 2rem 15%;

        .about-page-gradient-image-column-info-container-border {
            width: min(100%, 20rem);
            transform: scale(1);
            bottom: -5rem;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

@media screen and (max-width: 600px) {
    .about-page-gradient-image-container {
        .about-page-gradient-image-column-info-container-border {
            width: 90%;
            min-width: 15rem;
            bottom: -5rem;
            left: -20%;
            transform: scale(0.8);
        }
    }

    .about-page-gradient-text-container {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;

        .about-page-gradient-title {
            font-size: 2.5rem !important;
        }

        .about-page-gradient-text {
            font-size: 1rem !important;
        }
    }

    @media screen and (max-width: 450px) {
        .about-page-gradient-image-container {
            width: 90%;
            margin-inline: 5%;
        }

        .about-page-gradient-image-container {
            .about-page-gradient-image-column-info-container-border {
                bottom: -8rem;
                left: 5%;
            }
        }
    }
}

// GRADIENT SECTION END

// WEBSITE TECHNOLOGIES SECTION START

.website-technologies-section {
    position: relative;
    margin: 10rem 0;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5rem;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/about-us/leftcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 600px) {
            width: 8rem;
            height: 300px;
            top: -3rem;
        }
    }
}

.website-technologies-title-container {
    padding-inline: 1rem;
}

.website-technologies-main-title {
    @extend .dark-blue-text-center-grotext-family-3rem;
}


.website-technologies-main-text {
    @extend .info-text-gray-1-125rem;
}

.website-technologies-main-title,
.website-technologies-main-text {
    text-align: center;
    width: min(100%, 45rem);
    margin: 1.25rem auto;
}

@media screen and (max-width: 500px) {
    .website-technologies-main-title {
        font-size: 2rem !important;
    }

    .website-technologies-main-text {
        font-size: 1rem !important;
    }
}

.website-technologies-container {
    @extend .flex-row-justify-align-center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 10rem;
}

.website-technologies-column,
.job-column {
    display: grid;
    place-items: center;
    background: var(--background-white);
    border-radius: 1.25rem;
    width: min(100%, 25rem);
    padding: 2rem 1.5rem;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
    min-height: 20rem;
    border: 2px solid transparent;
    transition: all 0.5s;

    .website-technologies-image-container {
        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover
        }
    }

    .website-technologies-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        margin: 1rem 0 0.5rem;
    }

    .website-technologies-type {
        @extend .info-text-gray-1-125rem;
        color: var(--text-purple) !important;
        text-align: center;
    }

    .website-technologies-text {
        @extend .chat-text-gray-1-125;
        text-align: center;
        margin-top: 1rem;
    }
}

.job-column:hover {
    border-color: var(--background-purple);
}

@media screen and (max-width: 600px) {
    .website-technologies-container {
        gap: 2rem;
        margin-top: 5rem;
    }

    .website-technologies-column,
    .job-column {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        width: 100%;
        min-height: 15rem;

        .website-technologies-image-container {
            img {
                width: 4rem;
                height: 4rem;
                border-radius: 1rem;
            }
        }

        .website-technologies-title {
            margin: 0rem 0 0;
        }

        .website-technologies-type,
        .website-technologies-title,
        .website-technologies-text {
            text-align: start !important;
            margin: 0rem 0 0;
        }
    }
}

@media screen and (max-width: 450px) {

    .website-technologies-column,
    .job-column {
        min-height: auto;
        gap: 0.5rem 1rem;

        .website-technologies-image-container {
            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.5rem;
            }
        }

        .website-technologies-title {
            font-size: 1.125rem !important;
        }

        .website-technologies-type,
        .website-technologies-text {
            font-size: 1rem !important;
        }
    }
}

// WEBSITE TECHNOLOGIES SECTION END

// CLIENTS SECTION START

.clienst-section {
    position: relative;
    background: var(--package-background);
    background-position: center bottom;
    padding: 15rem 0;

    &::before {
        content: "";
        position: absolute;
        background: url(../../images/about-us/percentwavetop.svg);
        width: 100%;
        height: 300px;
        background-position: top center;
        top: 0px;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }
}

.clients-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding-inline: 1rem;
}

.clients-column {
    display: grid;
    place-items: center;
    height: fit-content;
    width: min(100%, 20rem);

    .client-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        margin: 1.5rem 0 1rem;
    }

    .client-text {
        @extend .info-text-gray-1-125rem;
        text-align: center;
    }
}

.clients-column.first {
    margin-top: -4rem;
}

.clients-column.second {
    margin-top: 1rem;
}

.clients-column.third {
    margin-top: 4rem;
}

.clients-column.fourth {
    margin-top: 7rem;
}

.client-sphere {
    display: grid;
    place-content: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: var(--background-purple);

    .client-sphere-info {
        text-align: center;
        @extend .white-1rem-grotext;
        font-size: 1.75rem !important;
    }
}

@media screen and (max-width: 992px) {
    .clients-container {
        flex-wrap: wrap;
        gap: 3rem;

        .clients-column {
            .client-title {
                font-size: 1.25rem;
            }

            .client-text {
                font-size: 1rem;
            }
        }

        .client-sphere {
            width: 7rem;
            height: 7rem;

            .client-sphere-info {
                font-size: 1.4rem !important;
            }
        }
    }

    .clients-column.first,
    .clients-column.second,
    .clients-column.third,
    .clients-column.fourth {
        margin-top: 0rem;
    }
}

// CLIENTS SECTION END

.team-members-section {
    position: relative;
    margin: 10rem 0;

    &::before {
        content: "";
        position: absolute;
        top: -10rem;
        right: 0;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/main-page/rightcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 600px) {
            width: 7rem;
            height: 300px;
            top: -5rem;
        }
    }
}

.team-members-container {
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    gap: 3rem;

    @media screen and (max-width: 992px) {
        flex-flow: column-reverse;
        align-items: center;
        padding-inline: 1rem;
    }
}

.team-members-image-column {
    position: relative;
    width: min(100%, 30rem);

    img {
        width: 100%;
        height: 100%;
        border-radius: 1.25rem;
        object-fit: cover;
    }

    @media screen and (max-width: 992px) {
        width: min(100%, 35rem);
    }
}

.team-members-info-container {
    position: absolute;
    display: grid;
    place-items: center;
    background: var(--background-white);
    bottom: 0;
    right: 0;
    padding: 1rem;
    border-radius: 0.5rem 0 0 0;

    .team-members-icon {
        color: var(--background-purple);
    }

    .team-members-count {
        font-family: var(--grotext-sans);
        font-size: 2.25rem;
        color: var(--text-purple);
    }

    .team-members-count-text {
        @extend .dark-blue-text-center-grotext-family-1rem;
    }

    @media screen and (max-width: 600px) {
        .team-members-count {
            font-family: var(--grotext-sans);
            font-size: 1.5rem;
            color: var(--text-purple);
        }

        .team-members-count-text {
            font-size: 0.8rem !important;
        }
    }
}

.team-members-info-column {
    width: min(100%, 35rem);

    .team-members-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .team-members-info-text {
        @extend .info-text-gray-1-125rem;
        margin: 1.5rem 0 2.75rem;
    }

    @media screen and (max-width: 600px) {
        .team-members-title {
            font-size: 2.5rem !important;
        }

        .team-members-info-text {
            font-size: 1rem !important;
        }
    }
}

.team-members-btn-container {
    a {
        .team-members-btn {
            @extend .onerem-tworem-purple-button;
        }
    }
}

// OUR TEAM MEMBERS SECTION START

// OUR SYSTEM SECTION START

.system-section {
    position: relative;
    margin: 1rem 0;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5rem;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/about-us/leftcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 600px) {
            width: 8rem;
            height: 300px;
            top: -3rem;
        }
    }

    &::after {
        content: "";
        display: none;
        position: absolute;
        top: 0rem;
        right: 0;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/main-page/rightcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 600px) {
            width: 7rem;
            height: 300px;
            top: 10rem;
        }
    }
}

.system-container {
    @extend .flex-row-justify-align-center;
    gap: 1rem;
}

.system-info-container {
    padding: 0 1rem;
    width: min(100%, 28rem);

    .system-info-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .system-info-text {
        @extend .info-text-gray-1-125rem;
        margin: 1.5rem 0 2.75rem;
    }
}

.system-info-btn-container {
    a {
        .system-info-btn {
            @extend .onerem-tworem-purple-button;
        }
    }
}

.system-icon-text-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    width: min(100%, 40rem);
    background: url('../../images/about-us/systemcircle.svg') no-repeat;
    background-position: center;
    background-size: 50%;
}

.system-column {
    display: grid;
    place-items: center;
    background: var(--background-white);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    padding: 1.5rem;
    width: 18rem;
    height: fit-content;

    .system-icon-container {
        display: grid;
        place-items: center;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background: var(--gray-button);

        .system-icon {
            font-size: 3rem;
            color: var(--background-purple)
        }
    }

    .system-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        margin: 0.5rem 0 0.75rem;
    }

    .system-text {
        @extend .info-text-gray-1-125rem;
        text-align: center;
        width: min(100%, 15rem);
    }
}

.system-column.first {
    margin-left: 2rem;
}

.system-column.second {
    margin: 4rem 0 0 4rem;
}

.system-column.fourth {
    margin: 4rem 2rem;
}

@media screen and (max-width: 1600px) {
    .system-section {
        &::after {
            display: block;
        }
    }

    .system-container {
        flex-flow: column;
    }

    .system-info-container {
        width: 100%;

        .system-info-title {
            font-size: 3.5rem !important;
            width: min(100%, 50rem);
        }

        .system-info-text {
            width: min(100%, 28rem);
            margin: 1.5rem 0 2.75rem;
        }
    }

    .system-icon-text-wrapper {
        width: 100%;
        place-content: center;
        margin-top: 5rem;
        background-size: 25rem;
    }
}

@media screen and (max-width: 820px) {
    .system-icon-text-wrapper {
        margin-top: 0;
        background-size: 15rem;
    }

    .system-column {
        width: 100%;
        max-width: 18rem;
        transform: scale(0.8);

        .system-icon-container {
            width: 4rem;
            height: 4rem;

            .system-icon {
                font-size: 2rem;
            }
        }

        .system-title {
            font-size: 1.25rem !important;
        }

        .system-text {
            font-size: 1rem !important;
        }
    }

    .system-column.first,
    .system-column.second,
    .system-column.third,
    .system-column.fourth {
        margin: 0;
    }
}

@media screen and (max-width: 650px) {
    .system-column {
        transform: scale(0.6);
    }

    .system-container {
        .system-info-container {
            .system-info-title {
                font-size: 2.5rem !important;
            }

            .system-info-text {
                font-size: 1rem !important;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .system-icon-text-wrapper {
        background-repeat: repeat-y;
    }

    .system-icon-text-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .system-column {
        transform: scale(1);
        width: 100% !important;
    }
}

// OUR SYSTEM SECTION END

// ABOUT PAGE GET IN TOUCH SECTION START

.about-get-in-touch-section {
    margin-top: 5rem;
    padding: 7.5rem 1rem 7.5rem 5rem;
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 115, 255, 1) 33%, rgba(193, 188, 255, 1) 96%);
}

.about-get-in-touch-container {
    @extend .flex-row-center-between;
    gap: 2rem;
}

.about-get-in-touch-text-column {
    width: min(100%, 22rem);

    .about-get-in-touch-title {
        @extend .white-1rem-grotext;
        font-size: 3rem !important;
        line-height: 100% !important;
    }

    .about-get-in-touch-text {
        @extend .white-1rem-grotext;
        margin-top: 1rem;
    }
}

.about-get-in-touch-info-container {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
    width: fit-content;
}

.about-get-in-touch-info-column {
    @extend .flex-row-justify-align-center;
    gap: 2.5rem;
    padding: 2rem;
    background: var(--background-white);
    border-radius: 1.25rem;
}

.about-get-in-touch-icon-container {
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background: var(--gray-button);

    i {
        font-size: 2rem;
        color: var(--background-purple)
    }
}

.about-get-in-touch-email-phone-container {
    .about-get-in-touch-email-phone-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        @extend .text-align-start;
    }

    .about-get-in-touch-email-phone-info {
        @extend .info-text-gray-1-125rem;
    }
}

@media screen and (max-width: 850px) {
    .about-get-in-touch-section {
        margin-top: 5rem;
        padding: 7.5rem 1rem;
    }

    .about-get-in-touch-text-column {
        width: 100%;
    }

    .about-get-in-touch-container {
        flex-flow: column;
    }

    .about-get-in-touch-info-container {
        justify-content: center;
    }

    .about-get-in-touch-info-column,
    .about-get-in-touch-text-column {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {

    .about-get-in-touch-info-column,
    .about-get-in-touch-text-column {
        width: 100%;
    }

    .about-get-in-touch-info-column {
        gap: 1.5rem;
    }

    .about-get-in-touch-icon-container {
        width: fit-content;
        height: fit-content;
        padding: 1rem;

        i {
            font-size: 1.5rem;
        }
    }

    .about-get-in-touch-email-phone-container {
        .about-get-in-touch-email-phone-title {
            font-size: 1.25rem !important;
        }

        .about-get-in-touch-email-phone-info {
            font-size: 1rem !important;
        }
    }
}

// ABOUT PAGE GET IN TOUCH SECTION END