.blog-main {
    overflow-x: hidden;
}

// START GRADIENT CONTENT

.blog-gradient-section {
    position: relative;
    background-image: url(../../images/layout/wave.svg);
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);
    background-position: center bottom;
    padding: 10.5rem 0;

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }
}

.blog-gradient-container {
    padding-inline: 3rem 1rem;

    @media screen and (max-width: 600px) {
        padding-inline: 1rem;
    }
}

.blog-gradient-title {
    @extend .dark-blue-text-center-grotext-family-4rem;
    @extend .text-align-start;
    color: var(--text-white) !important;
    width: min(100%, 51rem);

    &::first-line {
        color: var(--text-purple);
    }

    @media screen and (max-width: 800px) {
        font-size: 3rem !important;
    }

    @media screen and (max-width: 600px) {
        font-size: 2rem !important;
    }
}

// END GRADIENT CONTENT

// START LATEST POSTS SECTION

.latest-posts-section {
    margin: 3rem 0;
}

.latest-posts-container {
    width: 90%;
    margin: 0 auto;

    .latest-posts-title {
        font-size: 2.25rem;
        font-family: var(--grotext-sans);
        font-weight: 700;
        line-height: 120%;
        text-transform: capitalize;
        color: var(--text-purple);
    }
}

.latest-post-wrapper {
    display: flex;
    margin: 2rem auto 0;
    gap: 2rem;
}

.post-image-container {
    width: min(100%, 35rem);
    height: 21rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.25rem;
    }
}

.post-text-container {
    width: min(100%, 35rem);

    .post-title {
        @extend .dark-blue-text-center-grotext-family-2rem;
        @extend .text-align-start;
        font-size: 2.25rem !important;
    }

    .post-text {
        @extend .info-text-gray-1-125rem;
        margin: 1.25rem 0 2.5rem;
    }

    .post-posted {
        @extend .dark-blue-text-center-grotext-family-1rem;
        font-size: 1.125rem !important;
    }

    .post-date {
        @extend .white-1rem-grotext;
        color: var(--text-purple) !important;
        margin-top: 0.3rem;
    }
}

@media screen and (max-width: 1100px) {
    .post-text-container {
        width: min(100%, 35rem);

        .post-title {
            font-size: 1.75rem !important;
        }

        .post-text {
            margin: 1.25rem 0 2.5rem;
            font-size: 1rem !important;
        }
    }
}

@media screen and (max-width: 800px) {
    .latest-post-wrapper {
        flex-wrap: wrap;
    }

    .post-text-container,
    .post-image-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .post-text-container {
        .post-title {
            font-size: 1.25rem !important;
        }
    }

    .post-image-container {
        height: 12rem;
    }

    .latest-posts-container {
        .latest-posts-title {
            font-size: 1.5rem;
        }
    }
}

// END LATEST POSTS SECTION

// START FEAUTURED POSTS SECTION

.featured-posts-section {
    margin: 10rem 0;
    padding: 0 1rem;
}

.featured-posts-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 3rem;
    margin: 3rem auto 0;
}

.blog-form {
    width: min(100%, 20rem);
}

.featured-posts-search-container {
    gap: 2rem;
}

.search-container {
    @extend .flex-row-center-between;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 0.7rem 0.5rem 0.7rem 1rem;
    width: 90%;
    margin-inline: auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

    &:has(.featured-search-input:focus) {
        border-color: var(--background-purple);
    }

    @media screen and (max-width: 600px) {
        width: 20rem;
    }

    &:has(.featured-search-input:focus) .search-icon {
        color: var(--text-purple);
    }

    .search-icon {
        color: var(--text-light-gray);
        transition: all 0.2s;
    }

    .featured-search-input {
        border: none;
        outline: none;
        background: transparent;
        font-family: var(--grotext-sans);
        width: 100%;
        color: var(--text-purple);
        font-size: 1rem;
        caret-color: var(--background-purple);

        &::placeholder {
            color: var(--text-light-gray);
        }

        &::selection {
            color: var(--text-white);
            background: var(--background-purple)
        }
    }
}

.featured-search-title,
.featured-posts-category-title {
    @extend .dark-blue-text-center-grotext-family-4rem;
    @extend .text-align-start;
    font-size: 1.125rem !important;
    margin: 1rem 0;
}

.blog-form {
    @media screen and (max-width: 1250px) {
        border-bottom: 0.125rem solid var(--background-purple);
        border-right: none;
        padding-right: 0;
        padding-bottom: 1rem;
    }

    border-right: 0.125rem solid var(--background-purple);
    padding-right: 1rem
}

.featured-categories-wrapper {
    display: grid;
    gap: 1rem;

    .featured-category-column {
        button {
            display: inline-flex;
            justify-content: space-between;
            padding: 0.5rem 0.75rem;
            background: #f0f0f0;
            border: none;
            font-size: 1rem !important;
            border-radius: 0.5rem;
            width: 100%;
            font-family: var(--grotext-sans);
            cursor: pointer;
            color: var(--text-dark-blue);
            transition: all 0.4s ease;
            gap: 2rem;
            white-space: normal;
            word-wrap: break-word;
            word-break: break-word;
            text-align: start;

            &:hover {
                background: var(--background-purple);
                color: var(--text-white);
            }
        }
    }
}

.featured-posts-wrapper {
    width: 60%;
}

.featured-posts-column-container {
    display: grid;
    gap: 2rem;
}

.featured-posts-column {
    padding: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 0.25rem;

    &:hover {
        background-color: #f8f8f8;
    }
}

.featured-posts-column {
    display: flex;
    gap: 2rem;
    position: relative;

    .featured-post-column-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        @extend .text-align-start;
    }

    .featured-post-column-text {
        @extend .info-text-gray-1-125rem;
        margin: 1rem 0 1.5rem;
    }

    .featured-post-column-posted {
        @extend .dark-blue-text-center-grotext-family-1rem;
    }

    .featured-post-column-date {
        @extend .white-1rem-grotext;
        color: var(--text-purple) !important;
        margin-top: 0.3rem;
    }
}

.similar-popular-posts-column {
    position: relative;

    &:first-child::before {
        content: attr(data-context);
        position: absolute;
        top: -6rem;
        left: 0;
        font-size: 2.25rem;
        font-family: var(--grotext-sans);
        font-weight: 700;
        line-height: 120%;
        text-transform: capitalize;
        color: var(--text-purple);

        @media screen and (max-width: 992px) {
            font-size: 2rem;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
        }
    }
}

.feautered-posts-image-container {
    img {
        width: 20rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}

@media screen and (max-width: 1400px) {

    .featured-posts-container,
    .search-container {
        width: 100%;
    }
}

@media screen and (max-width: 1250px) {
    .blog-form {
        width: 100%;
    }

    .featured-posts-container {
        flex-flow: column;
    }

    .featured-posts-category {
        width: 100%;
        margin-block: 0 3rem;
    }

    .featured-categories-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .featured-category-column {
            min-width: 10rem;
        }
    }

    .featured-posts-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .feautered-posts-image-container {
        img {
            width: 7rem;
            height: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    .feautered-posts-content {
        .featured-post-column-title {
            font-size: 1.125rem !important;
        }

        .featured-post-column-text {
            font-size: 1rem !important;
        }
    }

    .feautered-posts-image-container {
        img {
            width: 5rem;
            height: 5rem;
        }
    }
}

@media screen and (max-width: 400px) {
    .featured-categories-wrapper {
        .featured-category-column {
            width: 100%;
        }
    }
}

.featured-posts-column-container:has(.empty-posts-container) {
    padding: 0;
}

.featured-category-column {
    .post-category-element {
        width: 8rem;
    }
}

.featured-posts-section {

    .post-tags-element.active,
    .post-category-element.active {
        background: var(--background-purple);
        color: var(--text-white);
    }
}

// END FEAUTURED POSTS SECTION

// START POSTS TAGS SECTION

.posts-tags-section {
    margin-bottom: 10rem;
}

.posts-tags-container {
    padding: 0 4rem;

    @media screen and (max-width: 992px) {
        padding-inline: 1rem;
    }
}

.posts-tags-title {
    @extend .dark-blue-text-center-grotext-family-4rem;
    @extend .text-align-start;
    font-size: 2.25rem !important;
    margin-bottom: 2.5rem;
}

.posts-tags-wrapper {
    display: flex;
    gap: 1rem 1.5rem;
    flex-wrap: wrap;

    @media screen and (max-width: 700px) {
        column-gap: 1rem;
    }
}

.posts-tags-column {
    .post-tags-element {
        @extend .gray-button-purple-1rem-2rem;
        font-size: 1rem !important;

        @media screen and (max-width: 700px) {
            padding: 0.5rem 1rem !important;
            font-size: 0.7rem !important;
        }
    }
}

.clear-posts-container {
    margin-top: 2rem;

    .clear-posts-clear {
        @extend .onerem-tworem-purple-button;

        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 500px) {
        margin-inline: auto;
    }
}

// END POSTS TAGS SECTION

.website-pagination-container {
    margin-block: 2rem;
}

.website-pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.website-pagination-item {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-dark-blue);
        background: var(--gray-button);
        border-radius: 50%;
        font-family: var(--grotext-sans);
        font-size: 1rem;
        font-weight: 500;
        width: 3rem;
        height: 3rem;
        transition: all 0.3s ease;
        &:hover,
        &.active {
            color: var(--text-white);
            background: var(--background-purple);
        }

        &:hover {
            i {
                color: var(--text-white);
            }
        }

        i {
            color: var(--text-dark-blue);
            transition: all 0.3s ease;
        }
    }
}