.change-password-form-section {
    padding: 8rem 1rem;
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(242,235,243,1) 0%, rgba(234,241,249,1) 90.1% );
}

.change-password-form-container {
    display: flex;
    flex-flow: column;
    width: min(100%, 32rem);
    margin-inline: auto;
    border-radius: 1rem;
    padding: 1rem 1rem 2rem;
    background: var(--background-white);

    .forgot-password-link {
        color: var(--text-purple);
        font-family: var(--grotext-sans);
        font-size: 0.9rem;
        margin: 0.5rem 0.2rem 0;
    }
}

.change-password-back-link {
    color: var(--text-purple);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;

    i {
        font-size: 1.125rem
    }
}

.change-password-form-user {
    @extend .dark-blue-text-center-grotext-family-1rem;
    @extend .text-align-start;
    text-transform: none !important;
    font-weight: 400 !important;

    span {
        color: var(--text-purple)
    }
}

.change-password-form-title {
    @extend .dark-blue-text-center-grotext-family-1-5rem;
    @extend .text-align-start;
    margin-block: 1rem 0.5rem;
    font-size: 1.25rem !important;
}

.change-password-form-text {
    @extend .info-text-gray-1rem;
    margin-top: 0.5rem;
}

.change-password-form {
    display: grid;
    gap: 0.7rem;
    margin-top: 2rem;

    &:has(.change-password-error.currentpassword) .change-password-input.currentpassword,
    &:has(.change-password-error.newpassword1) .change-password-input.newpassword1,
    &:has(.change-password-error.newpassword2) .change-password-input.newpassword2 {
        border-color: var(--error);
    }
}

.change-password-form-input-container {
    position: relative;
    .placeholder {
        @extend .info-text-gray-1rem;
        position: absolute;
        left: 0;
        top: 50%;
        translate: 0 -50%;
        font-size: 0.8rem !important;
        padding-inline: 0.5rem;
        transition: 0.3s;
        pointer-events: none;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .change-password-input:focus+.placeholder,
    .change-password-input:not(:placeholder-shown)+.placeholder {
        top: 0.6rem;
        font-size: 0.7rem !important;
        color: var(--text-purple) !important;
    }

    .change-password-input {
        border: 1px solid var(--profile-input-border);
        padding: 1rem 0.5rem 0.5rem;
        border-radius: 0.5rem;
        color: var(--text-dark-blue);
        font-size: 0.8rem;
        font-family: var(--grotext-sans);
        transition: 0.4s all;
        width: 100%;
        caret-color: var(--text-purple);

        &:focus {
            border-color: var(--background-purple);
        }
    }
}

.change-password-form-btn {
    @extend .onerem-tworem-purple-button;
    padding: 0.5rem 1rem !important;
    font-size: 0.9rem !important;
    margin-top: 0.5rem;
}

.change-password-error {
    color: var(--error);
    font-family: var(--grotext-sans);
    font-weight: 500;
    font-size: 0.9rem;
}

@media screen and (max-width: 450px) {
    .change-password-form-container {
        .change-password-form-user {
            font-size: 0.9rem;
        }
        
        .change-password-form-title {
            font-size: 1.125rem !important;
        }
        
        .change-password-form-text {
            font-size: 0.9rem;
        }
    }

    .change-password-form-input-container {
        .change-password-input {
            font-size: 1rem;
        }
    }
}