// START IMAGE PART

.contact-main-image-container {
    @extend .flex-row-center-between;
    width: 100%;
    height: 26rem;
    background: url(../../images/contactus/discord-main.svg) center center no-repeat;
    background-size: cover;
}

.contact-main-image-column {
    @extend .flex-row-justify-align-end;
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        background-size: cover;
    }
}

.contact-main-text-column {
    width: 100%;

    h1 {
        font-size: 2.6rem;
        text-align: center;
        font-family: var(--poppins);
        font-weight: 900;
        color: var(--text-white);
    }
}

.touch-div {
    display: inline-block;
    background: var(--background-light-purple);
    border-radius: 32px;
    transform: rotate(7deg);
    padding: 0rem 0.5rem;

    .touch {
        transform: rotate(-7deg);
    }
}

@media screen and (max-width: 992px) {
    .contact-main-image-column {
        display: none !important;
    }
}

// END IMAGE PART

// START HERO INFO

.contact-us-hero-info {
    padding: 3rem 0;
}

.contact-us-hero-column {
    @extend .flex-column-center-evenly;
}

.contact-us-hero-text-container {
    .contact-us-hero-column-title {
        @extend .dark-blue-text-center-grotext-family-4rem;
    }

    .contact-us-hero-column-info {
        @extend .chat-text-gray-1-125;
        text-align: center;
        margin-bottom: 2rem;
    }
}

.contact-us-hero-get-in-touch-main-container {
    @extend .flex-row-justify-align-center;
    gap: 1rem;
    width: 96%;
}

.contact-us-hero-get-in-touch-container {
    @extend .flex-row-align-center;
    gap: 2.63rem;
    width: 25rem;
    border-radius: 1.25rem;
    background: var(--background-purple);
    padding: 1.5rem 1rem;

    .contact-us-hero-logo-image-container {
        @extend .flex-row-justify-align-center;
        width: 3rem;
        height: 3rem;
        background: var(--background-white);
        border-radius: 50%;

        i {
            font-size: 1.5rem;
        }
    }

    .contact-us-hero-info-container {
        .contact-us-hero-info-title {
            @extend .dark-blue-text-center-grotext-family-1-5rem;
            @extend .text-align-start;
            font-weight: 700;
            color: var(--text-white) !important;
            margin-bottom: 0.4rem;
        }

        .contact-us-hero-info-detail {
            @extend .info-text-gray-1-125rem;
            color: var(--text-light-purple) !important;
        }
    }
}

@media screen and (max-width: 992px) {
    .contact-us-hero-get-in-touch-container {
        width: 50%;
    }

}

@media screen and (max-width: 775px) {
    .contact-us-hero-column-title {
        font-size: 3rem !important;
    }

    .contact-us-hero-column-info {
        font-size: 1rem !important;
        width: 80%;
        margin: 0 auto;
    }

    .contact-us-hero-get-in-touch-main-container {
        flex-flow: column;
    }

    .contact-us-hero-get-in-touch-container {
        width: 100%;
    }

}

// END HERO INFO

// START CONTACT FORM

.contact-form {
    .contact-form__wrapper {
        @extend .flex-row-center-evenly;
    }
}

.contact-form-image-column {
    width: 24rem;
    height: 24rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contact-form-column-form {
    display: grid;
    grid-template-areas:
        "name email"
        "phone company"
        "message message"
        "button button";
    gap: 1rem 0.7rem;
    width: 27rem;
}

.contact-form-column-input-container:nth-child(1) {
    grid-area: name;
}

.contact-form-column-input-container:nth-child(2) {
    grid-area: email;
}

.contact-form-column-input-container:nth-child(3) {
    grid-area: phone;
}

.contact-form-column-input-container:nth-child(4) {
    grid-area: company;
}

.contact-form-column-big-input-container {
    grid-area: message;
}

.contact-form-column-input-container,
.contact-form-column-big-input-container {
    position: relative;
    width: 100%;

    .contact-form-column-input {
        width: 100%;
        padding: 1rem 1rem 1rem;
        font-size: 1rem;
        border-radius: 16px;
        outline: none;
        color: var(--text-purple);
        border: 1px solid var(--background-purple);

        &::selection {
            background: var(--background-purple);
            color: var(--text-white);
        }
    }

    .placeholder {
        position: absolute;
        left: 8px;
        top: 1rem;
        font-size: 1rem;
        padding: 0px 0.5rem;
        color: var(--text-purple);
        font-family: var(--grotext-sans);
        transition: 0.3s;
        pointer-events: none;
    }

    .contact-form-column-input:focus+.placeholder,
    .contact-form-column-input:not(:placeholder-shown)+.placeholder {
        top: -15px;
        background: var(--background-white);
    }
}

.contact-form-column-big-input-container {
    width: 100%;

    input {
        width: 100%;
        padding: 2.5rem 1rem !important;
    }

    .placeholder {
        top: 2.6rem;
    }
}

.contact-form-column-btn-container {
    @extend .flex-row-justify-align-center;
    width: 100%;
    grid-area: button;
    .contact-form-column-btn {
        @extend .onerem-tworem-purple-button;
        cursor: pointer;
        padding: 1rem 2rem !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px) {
    .contact-form__wrapper {
        flex-flow: column-reverse;
        ;
    }
}

@media screen and (max-width: 500px) {
    .contact-form-column {
        width: 96%;
        margin: 0 2%;
    }

    .contact-form-column-form {
        grid-template-areas:
            "name"
            "email"
            "phone"
            "company"
            "message"
            "button";
        gap: 1rem 0.7rem;
        width: 100%;
    }

    .contact-form-image-column {
        width: 96%;
        height: 100%;
        margin: 0 2%;
    }

    .contact-form-column-input {
        border-radius: 8px !important;
    }
}


// END CONTACT FORM


// START FAQ SECTION

.faq-section {
    margin-top: 5rem;
}

.faq-main-title {
    @extend .dark-blue-text-center-grotext-family-3rem;
}

.faq-main-info {
    @extend .info-text-gray-1-125rem;
    text-align: center;
    margin: 1rem 0;
}

.faq-container {
    @extend .flex-column-justify-align-center;
}

.faq {
    position: relative;
    margin: 0.3rem 0;
}

.faq-btn-container {
    padding: 1.5rem;
    background: #F9F9FB;
    border-radius: 1.25rem;
    width: 54rem;
}

.faq-card-title {
    @extend .dark-blue-text-center-grotext-family-1rem;
    @extend .text-align-start;
    margin-left: 2rem;
}

.faq-icon {
    color: var(--text-purple);
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.faq-toggle-btn {
    position: absolute;
    top: 1.4rem;
    left: 1.5rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}

.faq.active .faq-toggle-btn {
    top: 0.85rem;
    left: 25px;
    transform: rotate(-45deg);
}

.faq.active .faq-card-title {
    color: var(--text-purple);
}

.faq-text {
    @extend .info-text-gray-1rem;
    width: 47rem;
    margin: 30px 1.5rem 0;
    display: none;  
}

.faq.active .faq-text {
    display: block;
}

@media screen and (max-width: 1100px) {
    .faq-btn-container {
        width: 96%;
        margin: 0 2%;
    }

    .faq {
        width: 100%;
    }
    
    .faq-toggle-btn {
        left: 2rem;
    }

    .faq.active .faq-toggle-btn {
        top: 0.85rem;
        left: 1.8rem;
        transform: rotate(-45deg);
    }

    .faq-text {
        width: 80%;
        margin: 30px 4.5% 0;
    }
}

@media screen and (max-width: 600px) {
    .faq-toggle-btn {
        left: 1.5rem;
    }

    .faq.active .faq-toggle-btn {
        left: 1.3rem;
    }

    .faq-main-title {
        font-size: 2rem !important;
    }
    
    .faq-main-info {
        font-size: 1rem !important;
    }

    .faq-btn-container {
        border-radius: 0.625rem;
    }

    .faq-text {
        width: 90%;
        margin: 30px 5% 0;
    }
}

// END FAQ SECTION