// START JOB VACANCIES SECTION

.job-openings-list-section {
    position: relative;
    margin-top: 10rem;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5rem;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/about-us/leftcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 600px) {
            width: 8rem;
            height: 300px;
            top: -3rem;
        }
    }
}

.job-openings-list-title-container {
    .job-openings-list-main-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
    }

    .job-openings-list-main-text {
        @extend .info-text-gray-1-125rem;
        text-align: center;
        margin-block: 1rem 3rem;
    }

    .job-openings-list-main-title,
    .job-openings-list-main-text {
        width: min(100%, 45rem);
        margin-inline: auto;
        padding-inline: 1rem;
    }
    @media screen and (max-width: 600px) {
        .job-openings-list-main-title {
            font-size: 2rem !important;
        } 

        .job-openings-list-main-text {
            font-size: 1rem !important;
        }
    }
}

.job-openings-list-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 7rem 1rem 3rem;
    a {
        color: unset;
    }
}


.job-openings-list-column {
    display: grid;
    background-color: #f8f8f8;
    width: min(100%, 70rem);
    height: 100%; 
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
    min-height: 10rem;
    margin-inline: auto;

    &:hover {
        background-color: var(--background-purple);
        .job-openings-list-title,
        .job-openings-list-text {
            color: var(--text-white);
        }
        .knowledges-you-need-to-know-column {
            background: var(--gray-button);
        
            .knowledges-you-need-to-know-text {
                color: var(--text-dark-blue);
            }
        }
        .job-date-place-container {
            i {
                color: var(--text-light-purple);
            }
        
            .job-date,
            .job-place {
                color: var(--text-white);
            }
        }
    }
}

.job-openings-list-type-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-inline: 1rem 0;
    margin-bottom: 1.25rem;

    .job-openings-list-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        @extend .text-align-start;
        margin-top: 2rem;
        transition: all 0.3s ease-in;
    }

    .job-openings-list-type {
        background: var(--background-purple);
        padding: 0.5rem 1rem;
        border-radius: 1rem 1rem 1rem 2rem;
        color: var(--text-white);
        font-family: var(--poppins);
        font-size: 1rem;
        font-weight: 600;
        margin-top: -3rem;
        min-width: 10rem;
        border: 0.25rem solid var(--text-white);
    }
}

.job-openings-list-text {
    @extend .info-text-gray-1rem;
    padding-inline: 1rem;
    transition: all 0.3s ease-in;
}

.job-date-place-container {
    display: flex;
    gap: 1rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;

    i {
        color: var(--text-purple);
        transition: all 0.3s ease-in;
    }

    .job-date,
    .job-place {
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        line-height: 140%;
        font-size: 1rem;
        color: var(--text-dark-blue);
        font-family: var(--poppins);
        font-weight: 600;
        transition: all 0.3s ease-in;
    }

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        .job-date,
        .job-place {
            font-size: 0.9rem;
        }
    } 
}

.knowledges-you-need-to-know-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.5rem;
    margin-top: 2rem;
    padding: 0 1rem 1rem;
    overflow: hidden;
}

.knowledges-you-need-to-know-column {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: var(--background-purple);
    transition: all 0.3s ease-in;
    width: fit-content;

    .knowledges-you-need-to-know-text {
        color: var(--text-white);
        font-size: 0.9rem;
        font-family: var(--nunito);
        font-weight: 500;
        transition: all 0.3s ease-in;
    }
}

@media screen and (max-width: 500px) {    
    .knowledges-you-need-to-know-column {
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        background: var(--background-purple);
        transition: all 0.3s ease-in;
        width: fit-content;
    
        .knowledges-you-need-to-know-text {
            color: var(--text-white);
            font-size: 0.8rem;
            font-family: var(--nunito);
            font-weight: 500;
            transition: all 0.3s ease-in;
        }
    }
    
}


// END JOB VACANCIES SECTION

// START JOIN OUR TEAM SECTION

.join-our-team-section {
    margin: 0 0 5rem;

    @media screen and (max-width: 600px) {
        margin-bottom: 0;
    }
}

.join-our-team-container {
    width: 90%;
    padding: 5rem 3.5rem;
    border-radius: 1.875rem;
    margin: 0 auto;
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);

    @media screen and (max-width: 600px) {
        width: 100%;
        border-radius: 0;
        padding-inline: 1rem;
    }
}

.join-our-team-title {
    @extend .dark-blue-text-center-grotext-family-3rem;
    @extend .text-align-start;
    max-width: 38rem;
    color: var(--text-white) !important;
}

.join-our-team-text {
    @extend .white-1-125rem-grotext;
    margin: 1.25rem 0 2rem;
    max-width: 38rem;
}

.join-our-team-btn-container {
    button {
        @extend .onerem-tworem-purple-button;
    }
}

@media screen and (max-width: 992px) {
    .join-our-team-title {
        font-size: 2.25rem !important;
    }

    .join-our-team-text {
        font-size: 1rem !important;
    }
}

// END JOIN OUR TEAM SECTION