.sign-body {
    background: var(--background-white) !important;
}

.sign-section {
    position: relative;
    height: 100vh;
    overflow-y: hidden;

    @media screen and (max-width: 1199px) {
        overflow-y: auto;
    }
}

.sign-section,
.sign-body {

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar {
        background: var(--background-white);
        margin-block: 0;
        width: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
        background: #D8E0F0;
    }
}

.sign-container {
    width: 100%;
    display: flex;
    height: min(100%, 100%);
}

.sign-image-container {
    width: 50%;
    background: var(--background-white);
    background: linear-gradient(90deg, rgba(136, 40, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);

    .sign-image-logo-container {
        width: 100%;

        .sign-image-logo-text {
            font-size: 2rem;
            color: var(--text-white);
            font-family: var(--poppins);
            margin: 1rem 0 0 1rem;
        }
    }

    .sign-image-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        @extend .text-align-start;
        color: var(--text-white) !important;
        font-family: var(--poppins) !important;
        margin: 1rem;
    }

    .sign-image-wrapper {
        width: 100%;
        height: 25rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 0 0 0 1.5rem;
        }
    }
}

.sign-info-container {
    position: relative;
    width: 50%;
    padding: 5rem;

    .sign-info-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        margin-bottom: 1rem;
    }
}

.sign-return-back-link {
    position: absolute;
    color: var(--text-purple);
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1.25rem;
}

.sign-info-input-container {
    .sign-info-input-column {
        display: flex;
        flex-flow: column;

        .sign-info-label {
            @extend .dark-blue-text-center-grotext-family-1rem;
            @extend .text-align-start;
            margin: 0.5rem 0;
        }

        .sign-info-input {
            border: 1px solid var(--profile-input-border);
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: var(--text-dark-blue);
            font-size: 0.8rem;
            font-family: var(--grotext-sans);
            transition: 0.4s all;

            &:focus {
                border-color: var(--background-dark-blue);
            }
        }

        ul {
            li {
                color: #fb4d4d !important;
                font-size: 1rem;
                font-family: var(--grotext-sans);
                font-weight: 500;
                margin: 0.25rem 0;
            }
        }
    }
}

.sign-info-extra-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.sign-info-extra-container {
    .sign-info-extra-remember-container {
        display: inline-flex;
        gap: 0.5rem;

        input[type=checkbox] {
            position: relative;
            padding: 0.5rem;
            transform: scale(1.5)
        }

        .sign-info-extra-remember-text {
            @extend .dark-blue-text-center-grotext-family-1rem;
            @extend .text-align-start;
        }
    }
}

.sign-info-extra-password-container {
    .sign-info-extra-password-text {
        @extend .dark-blue-text-center-grotext-family-1rem;
        @extend .text-align-start;
    }
}

.sign-info-btn-container {
    display: grid;
    place-items: center;
    margin: 2rem 0;

    .sign-info-btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem 2rem;
        border: none;
        outline: none;
        background: var(--background-purple);
        font-size: 1rem;
        font-family: var(--grotext-sans);
        color: var(--text-white);
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            color: var(--text-purple);
            background: transparent;
            border-color: var(--background-purple);
        }

        i {
            font-size: 0.8rem;
            margin-top: 0.1rem;
        }
    }

    .sign-info-check-account {
        @extend .dark-blue-text-center-grotext-family-1rem;
        margin: 2rem 0 1rem;
        color: var(--text-purple) !important;
    }
}

@media screen and (max-width: 1200px) {
    .sign-image-container {
        display: none;
    }

    .sign-info-container {
        width: 100%;
        padding: 10rem;
    }
}

@media screen and (max-width: 800px) {
    .sign-info-container {
        width: 100%;
        padding-inline: 5rem;
    }
}

@media screen and (max-width: 550px) {
    .sign-info-container {
        width: 100%;
        padding: 12.5rem 1rem;

        .sign-info-title {
            font-size: 1.25rem !important;
        }
    }

    .sign-info-input-container {
        .sign-info-input-column {
            .sign-info-label {
                font-size: 0.9rem !important;
            }

            .sign-info-input {
                font-size: 1rem;

                &::placeholder {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .sign-info-extra-container {
        .sign-info-extra-remember-container {
            input[type=checkbox] {
                transform: scale(1);
                margin-top: -0.33rem;
            }

            .sign-info-extra-remember-text {
                font-size: 0.8rem !important;
            }
        }
    }

    .sign-info-extra-password-container {
        .sign-info-extra-password-text {
            font-size: 0.8rem !important;
        }
    }

    .sign-info-btn-container {
        .sign-info-check-account {
            font-size: 0.9rem !important;
        }
    }
}

.error-message {
    display: none;
    color: var(--error);
    font-family: var(--grotext-sans);
    font-weight: 500;
    font-size: 1rem;
}

.error-message.active {
    display: block;
    margin-block: 0.25rem;
}

.sign-info-text {
    @extend .info-text-gray-1rem;
    font-size: 0.9rem !important;
    margin-bottom: 0.5rem;
    text-align: center;

    i {
        color: var(--text-dark-blue);
    }
}