// GRADIENT CONTENT START

.index-main {
    overflow-x: hidden;
}

.gradient-container {
    @extend .flex-row-justify-align-center;
    position: relative;
    gap: 1rem;
    background-image: url(../../images/layout/wave.svg);
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);
    background-position: center bottom;
    padding: 10.5rem 0;

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }
}

.gradient-text-container {
    padding-left: 5rem;

    .gradient-title {
        color: var(--text-white);
        font-size: 3.5rem;
        font-family: var(--grotext-sans);
        font-weight: 700;
        line-height: 120%;
        text-transform: capitalize;

        &::first-line {
            color: var(--text-purple);
        }
    }

    .gradient-text {
        color: var(--text-white);
        font-size: 1.05rem;
        font-family: var(--grotext-sans);
        line-height: 160%;
        margin: 0.5rem 0 0 0.3rem;
    }

}

.gradient-image-container {
    width: 40%;
    margin-right: 1rem;

    img {
        width: 100%;
        max-width: 37.5rem;
        object-fit: cover;
    }
}

.gradient-buttons-container {
    display: flex;
    margin-top: 1rem;

    .gradient-btn-column {
        a {
            .gradient-button {
                @extend .onerem-tworem-purple-button;
            }

            .gradient-button-without-background {
                @extend .onerem-tworem-purple-button-without-background;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .gradient-text-container {
        padding-left: 1rem;
        .gradient-title {
            font-size: 2.5rem;
        }
    }

    .gradient-image-container {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .gradient-container {
        flex-wrap: wrap;
    }
    
    .gradient-text-container {
        width: 100%;

        .gradient-title {
            font-size: 3rem;
        }

        .gradient-text {
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    .gradient-image-container {
        width: 80%;
        margin: 3rem 0;
    } 
}

@media screen and (max-width: 760px) {
    .gradient-image-container {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .gradient-text-container {
        .gradient-title {
            font-size: 2.5rem;
        }

        .gradient-text {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }

    .gradient-buttons-container {
        .gradient-btn-column {
            a {

                .gradient-button,
                .gradient-button-without-background {
                    padding: 0.5rem 1rem !important;
                    font-size: 1rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .gradient-text-container {
        .gradient-title {
            font-size: 2rem;
        }

    }
}


// GRADIENT CONTENT END

// TASKS START

.tasks {
    @extend .flex-row-center-around;
    margin: 8rem auto;
    gap: 1rem;
}

.task-image-column {
    img {
        width: 100%;
        max-width: 37.5rem;
        object-fit: cover;
    }
}

.task-content-column {
    .task-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .task-text {
        @extend .chat-text-gray-1-125;
        margin-left: 0.3rem;
        margin-top: 1rem;
    }

    .task-button-a {
        margin-left: 0.3rem;

        .task-button {
            @extend .gray-button-purple-1rem-2rem;
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .task-content-column {
        margin-right: 0.5rem;

        .task-title {
            font-size: 2rem !important;
        }

        .task-text {
            font-size: 1rem !important;
        }

        .task-button-a {
            .task-button {
                padding: 0.7rem 1.2rem !important;
                font-size: 1rem !important;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .tasks {
        flex-flow: column-reverse;
    }

    .task-content-column {
        margin: 0 0.5rem;
    }
}

// TASKS END

// CHAT START

.chat {
    @extend .flex-row-center-around;
    position: relative;
    padding-top: 12rem;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        top: -15rem;
        right: 0;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/main-page/rightcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (max-width:1200px) {
        &::before {
            top: -7rem;
            width: 8rem;
            height: 300px;
        }
    }
}

.static-info {
    .static-info-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .static-info-text {
        @extend .info-text-gray-1-125rem;
        margin-top: 1rem;
    }
}

.chats {
    @extend .flex-column-justify-between;
    gap: 2.31rem;
}

.message-container {
    position: relative;
    border-radius: 16px;
    background: var(--background-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-column:nth-child(odd) {
    .message-container {
        &::after {
            content: "";
            position: absolute;
            left: -24px;
            bottom: 1px;
            border-top: 18px solid transparent;
            border-right: 35px solid var(--background-white);
            border-bottom: 18px solid transparent;
            filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
        }

        &::before {
            content: "";
            position: absolute;
            width: 2.5rem;
            height: 0.5rem;
            background: var(--background-purple);
            border-radius: 3.5625rem;
            bottom: -1rem;
            left: 0;
        }
    }
}

.chat-column:nth-child(even) {
    .profile {
        order: 2;
    }

    .message-container {
        &::after {
            content: "";
            position: absolute;
            right: -24px;
            bottom: 1px;
            border-top: 18px solid transparent;
            border-left: 35px solid var(--background-white);
            border-bottom: 18px solid transparent;
            filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
        }

        &::before {
            content: "";
            position: absolute;
            width: 2.5rem;
            height: 0.5rem;
            background: var(--background-purple);
            border-radius: 3.5625rem;
            bottom: -1rem;
            right: 0;
        }
    }
}

.chat-column {
    @extend .flex-row-justify-align-end;
    column-gap: 2.25rem;

    .profile {
        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid var(--background-purple);
        }
    }

    .message-container {
        .chat-message-text {
            @extend .chat-text-gray;
            padding: 1rem 1rem 0.5rem;
            max-width: 20.5rem;
        }

        .message-creating-details {
            @extend .flex-row-center-between;
            padding: 0 1.5rem;

            .message-user {
                @extend .chat-creator-text;
                font-size: 0.9rem !important;
            }

            .message-date {
                color: var(--text-light-gray);
                font-size: 0.75rem;
                font-family: var(--nunito);
                line-height: 140%;
            }
        }
    }
}


@media screen and (max-width: 1140px) {
    .chats {
        gap: 1rem;
    }

    .static-info {
        margin-left: 0.5rem;

        .static-info-title {
            font-size: 2rem !important;
        }

        .static-info-text {
            font-size: 1rem !important;
        }
    }

    .chat-column:nth-child(odd) {
        .message-container {
            &::after {
                left: -13px;
                border-top: 15px solid transparent;
                border-right: 25px solid var(--background-white);
                border-bottom: 15px solid transparent;
                filter: none;
            }

            &::before {
                width: 1.5rem;
                height: 0.35rem;
                bottom: -0.5rem;
            }
        }
    }

    .chat-column:nth-child(even) {
        .message-container {
            &::after {
                right: -13px;
                border-top: 15px solid transparent;
                border-left: 25px solid var(--background-white);
                border-bottom: 15px solid transparent;
                filter: none;
            }

            &::before {
                width: 1.5rem;
                height: 0.35rem;
                bottom: -0.5rem;
            }
        }
    }

    .chat-column {
        transform: scale(0.9);

        

        .message-container {
            .chat-message-text {
                font-size: 0.7rem !important;
                padding: 0.8rem 0.8rem 0.5rem;
            }

            .message-creating-details {
                .message-user {
                    font-size: 0.7rem !important;
                }

                .message-date {
                    font-size: 0.65rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .chat {
        flex-flow: column;
        gap: 2rem;
    }

    .chats {
        gap: 1rem;
    }

    .chat-column {
        transform: scale(1);
        margin: 0 0.5rem;
    }

    .static-info {
        .static-info-title {
            font-size: 2.5rem !important;
        }

        .static-info-text {
            font-size: 1rem !important;
        }
    }
}

// CHAT END

// PACKAGE START

.package {
    position: relative;
    margin-top: 12.5rem;
    background: var(--package-background);
    padding-top: 9.6rem;

    &::before {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave-top.svg);
        width: 100%;
        height: 200px;
        background-position: top center;
        top: 0px;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }

    .package-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
    }

    .package-info {
        @extend .chat-text-gray-1-125;
        @extend .text-align-center;
        margin-top: 1.125rem;
    }
}

@media screen and (max-width: 660px) {
    .package {
        &::before {
            height: 100px;
        }
    }
}

.package-choices-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
    padding-bottom: 10rem;
}

.choices-column {
    width: 24rem;

    .price-column {
        position: relative;
        background: linear-gradient(168deg, rgba(136, 40, 255, 1) 0%, rgba(136, 40, 255, 1) 36%, rgba(171, 124, 208, 1) 80%);
        padding: 2rem 2.5rem 3rem;
        border-radius: 1.25rem 1.25rem 0rem 0rem;

        .choice-type {
            @extend .white-1rem-grotext;
        }

        .price {
            @extend .dark-blue-text-center-grotext-family-2rem;
            color: var(--text-white) !important;
        }

        .date {
            @extend .info-text-gray-1rem;
            color: var(--text-white) !important;
        }

        .recommended {
            position: absolute;
            top: 0;
            right: 1.5rem;
            background: var(--recommended);
            padding: 0.7rem 1.4rem;
            border-radius: 0 0 1rem 1rem;

            h1 {
                @extend .dark-blue-text-center-grotext-family-1rem;
            }
        }
    }

    .abilities {
        position: relative;
        background: var(--background-white);
        border-radius: 0rem 0rem 1.25rem 1.25rem;
        padding: 2.5rem 5rem 2.5rem 2.5rem;

        .abilities-ul {
            @extend .flex-column-justify-align-start;
            gap: 0.6rem;

            .abilities-li {
                & {
                    position: relative;
                    @extend .flex-row-align-center;
                    @extend .info-text-gray-1-125rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../../images/main-page/arrow.svg);
                    width: 20px;
                    height: 20px;
                    left: -1.25rem;
                }
            }
        }

        .abilities-btn {
            @extend .gray-button-purple-1rem-2rem;
            transform: scale(0.9);
            margin-top: 1rem;
        }
    }
}

.choices-column:nth-child(even) {
    background: linear-gradient(168deg, rgba(136, 40, 255, 1) 0%, rgba(136, 40, 255, 1) 36%, rgba(171, 124, 208, 1) 80%);
    border-radius: 1.25rem;

    .price-column,
    .abilities {
        background: none;

        .abilities-ul {
            .abilities-li {
                & {
                    @extend .flex-row-align-center;
                    @extend .info-text-gray-1-125rem;
                    color: var(--text-white) !important;
                }

                &::before {
                    background: url(../../images/main-page/arrow-white.svg);
                }
            }
        }

        .abilities-btn {
            @extend .gray-button-purple-1rem-2rem;
            transform: scale(0.9);
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 660px) {
    .package {
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;

        .package-title {
            font-size: 2rem !important;
        }

        .package-info {
            font-size: 1rem !important;
            width: 60%;
            margin-inline: 20%;
        }
    }

    .choices-column {
        width: 22rem;
    }

    @media screen and (max-width: 400px) {
        .choices-column {
            width: 96%;
            margin: 0 2%;

            .abilities-ul {
                .abilities-li {
                    & {
                        font-size: 0.9rem !important;
                    }
                }
            }
        }
    }
}


// PACKAGE END


// CAROUSEL START

.carousel-section {
    margin: 3rem 0;
}

.carousel-title-container {
    @extend .flex-row-center-between;
    flex-wrap: wrap;
    gap: 2rem 0.5rem;
    margin: 0 1rem 2rem;

    .carousel-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
        max-width: 27rem;
    }

    .carousel-text {
        @extend .info-text-gray-1-125rem;
        max-width: 23rem;
    }

    .carousel-link-container {
        .carousel-link {
            @extend .onerem-tworem-purple-button;
        }
    }
}

.carousel-slide-container {
    display: flex;
    width: 100vw;
}

.carousel-slide {
    width: 95%;
    max-width: 30rem;
    position: relative;
    display: flex;
    gap: 2rem;
    min-height: 18rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: var(--carousel-background);
    border-radius: 1.25rem;
    padding: 1.5rem;
    margin: 1rem;
}

.carousel-image-container {
    max-width: 50%;
    height: 12rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.25rem;
    }
}

.carousel-text-container {
    max-width: 50%;

    .carousel-slide-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        @extend .text-align-start;
        font-size: 1.25rem !important;
    }

    .carousel-slide-text {
        @extend .chat-text-gray;
        margin-top: 0.5rem;
    }
}

.carousel-date-container {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;

    .carousel-date-posted,
    .carousel-date {
        @extend .chat-text-gray;
        font-size: 0.875rem !important;
    }

    .carousel-date {
        color: var(--text-purple) !important;
    }
}

.carouselPrev,
.carouselNext {
    position: absolute;
    color: var(--background-purple);
    font-size: 1.25rem;
    right: 8rem;
    margin-top: 3rem;
}

.carouselNext {
    right: 6rem;
}

@media screen and (max-width: 600px) {
    .carousel-slide {
        width: 100%;
        max-width: 90%;
        flex-flow: column;
    }

    .carousel-image-container {
        max-width: 100%;
        height: 10rem;

        img {
            border-radius: 0.5rem;
        }
    }

    .carousel-text-container {
        max-width: 100%;
        margin-bottom: 3rem;

        .carousel-slide-title {
            margin-bottom: 1rem;
        }
    }

    .carousel-container {
        .carousel-title-container {
            gap: 1rem 0.5rem;

            .carousel-title {
                max-width: 100%;
                font-size: 2.5rem;
            }

            .carousel-text {
                max-width: 100%;
                font-size: 1rem;
                margin-bottom: 2rem;
            }
        }
    }

    .carouselPrev,
    .carouselNext {
        font-size: 1.5rem;
        right: 6rem;
    }

    .carouselNext {
        right: 3.5rem;
    }
}

// CAROUSEL END


// USED BY SECTION START

.used-by-section {
    margin-top: 15rem;
    background: var(--carousel-white);
    padding: 1rem 0;
}

.used-by-title {
    @extend .dark-blue-text-center-grotext-family-3rem;
}

.used-technologies-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-content: center;
    gap: 1rem;
    margin: 5rem auto;

    .used-technologies-column {
        position: relative;
        display: flex;
        flex-flow: column;
        width: 15rem;
        height: fit-content;
        min-height: 15rem;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin: 1rem 0;
        border-radius: 8px;

        &:hover {
            background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);
        }

        &:hover p {
            color: var(--text-white);
            transition: all 0.2s;
        }

        .used-technologies-text {
            @extend .dark-blue-text-center-grotext-family-1rem;
            margin-bottom: 1rem;
        }
    }
}

.used-technologies-image-container {
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 1rem;

    img {
        margin-top: -1.5rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--background-purple);
        padding: 0.2rem;
    }
}

@media screen and (max-width: 1350px) {
    .used-technologies-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-inline: 1rem;
    }
}

@media screen and (max-width: 850px) {
    .used-by-section {
        .used-by-title {
            font-size: 2.5rem;
        }
    }
}


// USED BY SECTION END


// FEEDBACK SECTION START

.feedback-list-section {
    position: relative;
    background: url(../../images/main-page/feedback.svg) no-repeat;
    background-size: cover;
    padding: 10rem 0rem 10rem 3rem;
    margin-top: 5rem;
    overflow: hidden;
}

.feedback-list-container {
    position: relative;
    display: flex;
    gap: 3rem;
}

.feedback-list-text-column {
    width: 50%;

    .feedback-list-text-column-title {
        @extend .white-1rem-grotext;
        font-size: 3rem !important;
        line-height: 100% !important;
    }

    .feedback-list-text-column-text {
        @extend .white-1rem-grotext;
        max-width: 27rem;
        margin-top: 1rem;
    }
}

.feedback-container {
    width: 50%;
}

.feedback-slide {
    width: 100%;
    max-width: 30rem;
    background: var(--carousel-image-background);
    border-radius: 1.25rem;
    padding: 2rem 1rem 1rem;

    .feedback-content {
        @extend .info-text-gray-1rem;
    }
}

.feedback-user {
    @extend .flex-row-align-center;
    gap: 0.5rem;
    margin-top: 1rem;

    .feedback-user-container {
        width: 3rem;
        height: 3rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .feedback-username {
        @extend .info-text-gray-1-125rem;
        color: var(--text-purple) !important;
    }
}

.feedbackPrev,
.feedbackNext {
    position: absolute;
    color: var(--background-purple);
    font-size: 1.25rem;
    right: 6rem;
    margin-top: 3rem;
}

.feedbackPrev {
    right: 8rem;
}

@media screen and (max-width: 992px) {
    .feedback-list-section {
        padding-inline: 0;
    }

    .feedback-list-container {
        flex-flow: column;
        justify-content: center;
    }

    .feedback-list-text-column {
        padding-left: 3rem;
    }

    .feedback-list-text-column,
    .feedback-container {
        width: 100%;
    }

    @media screen and (max-width: 600px) {
        .feedback-list-section {
            background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 115, 255, 1) 33%, rgba(193, 188, 255, 1) 96%);
        }

        .feedback-list-container {
            .feedback-list-text-column-title {
                font-size: 2rem !important;
            }
        }

        .feedback-list-text-column {
            padding-left: 1rem;
        }

        .feedbackPrev,
        .feedbackNext {
            font-size: 1.5rem;
            right: 2rem;
        }

        .feedbackPrev {
            right: 4.5rem;
        }
    }
}

// FEEDBACK SECTION END