// GRADIENT CONTENT START

.gradient-container {
    @extend .flex-row-justify-align-center;
    position: relative;
    gap: 1rem;
    background-image: url(../../images/layout/wave.svg);
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);
    background-position: center bottom;
    padding: 10.5rem 0;

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }
}

.gradient-text-container {
    padding-left: 5rem;

    .gradient-title {
        color: var(--text-white);
        font-size: 3.5rem;
        font-family: var(--grotext-sans);
        font-weight: 700;
        line-height: 120%;
        text-transform: capitalize;

        &::first-line {
            color: var(--text-purple);
        }
    }

    .gradient-text {
        color: var(--text-white);
        font-size: 1.05rem;
        font-family: var(--grotext-sans);
        line-height: 2rem;
        margin: 0.5rem 0 0 0.3rem;
    }

}

.gradient-image-container {
    width: 40%;
    margin-right: 1rem;

    img {
        width: 100%;
        max-width: 37.5rem;
        object-fit: cover;
    }
}

.gradient-buttons-container {
    display: flex;
    margin-top: 1rem;

    .gradient-btn-column {
        a {
            .gradient-button {
                @extend .onerem-tworem-purple-button;
            }

            .gradient-button-without-background {
                @extend .onerem-tworem-purple-button-without-background;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .gradient-text-container {
        .gradient-title {
            font-size: 2.5rem;
        }
    }

    .gradient-image-container {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .gradient-text-container {
        .gradient-title {
            font-size: 2rem;
        }

        .gradient-text {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }

    .gradient-image-container {
        width: 60%;
    }

    .gradient-buttons-container {
        .gradient-btn-column {
            a {

                .gradient-button,
                .gradient-button-without-background {
                    padding: 0.5rem 1rem !important;
                    font-size: 1rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .gradient-text-container {
        padding-left: 3rem;
    }

    .gradient-container {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .gradient-text-container {
        .gradient-title {
            font-size: 3rem;
        }

        .gradient-text {
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    .gradient-image-container {
        width: 90%;
        margin: 3rem 0;
    }

    .gradient-buttons-container {
        .gradient-btn-column {
            a {

                .gradient-button,
                .gradient-button-without-background {
                    padding: 1rem 2rem !important;
                    font-size: 1.125rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .gradient-text-container {
        padding-left: 1rem;

        .gradient-title {
            font-size: 2.1rem;
        }

        .gradient-text {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }

    .gradient-buttons-container {
        .gradient-btn-column {
            a {

                .gradient-button,
                .gradient-button-without-background {
                    padding: 0.5rem 1rem !important;
                    font-size: 1rem !important;
                }
            }
        }
    }
}

// GRADIENT CONTENT END

// TASKS START

.tasks {
    @extend .flex-row-center-around;
    margin: 8rem 0;
    gap: 1rem;
}

.task-image-column {
    img {
        width: 100%;
        max-width: 37.5rem;
        object-fit: cover;
    }
}

.task-content-column {
    .task-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .task-text {
        @extend .chat-text-gray-1-125;
        margin-left: 0.3rem;
    }

    .task-button-a {
        margin-left: 0.3rem;

        .task-button {
            @extend .gray-button-purple-1rem-2rem;
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .task-content-column {
        margin-right: 0.5rem;

        .task-title {
            font-size: 2rem !important;
        }

        .task-text {
            font-size: 1rem !important;
        }

        .task-button-a {
            .task-button {
                padding: 0.7rem 1.2rem !important;
                font-size: 1rem !important;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .tasks {
        flex-flow: column-reverse;
    }

    .task-content-column {
        margin: 0 0.5rem;
    }
}

// TASKS END

// CHAT START

.chat {
    @extend .flex-row-center-around;
    position: relative;
    padding-top: 12rem;

    &::before {
        content: "";
        position: absolute;
        top: -15rem;
        right: 0;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/main-page/rightcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (max-width:1200px) {
        &::before {
            top: -7rem;
            width: 8rem;
            height: 300px;
        }
    }
}

.static-info {
    .static-info-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .static-info-text {
        @extend .info-text-gray-1-125rem;
        margin-top: 1rem;
    }
}

.chats {
    @extend .flex-column-justify-between;
    gap: 2.31rem;
}

.message-container {
    position: relative;
    border-radius: 16px;
    background: var(--background-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-column:nth-child(odd) {
    .message-container {
        &::after {
            content: "";
            position: absolute;
            left: -24px;
            bottom: 1px;
            border-top: 18px solid transparent;
            border-right: 35px solid var(--background-white);
            border-bottom: 18px solid transparent;
            filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
        }
    }
}

.chat-column:nth-child(even) {
    .profile {
        order: 2;
    }

    .message-container {
        &::after {
            content: "";
            position: absolute;
            right: -24px;
            bottom: 1px;
            border-top: 18px solid transparent;
            border-left: 35px solid var(--background-white);
            border-bottom: 18px solid transparent;
            filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
        }
    }
}

.chat-column {
    @extend .flex-row-justify-align-end;
    column-gap: 2.25rem;

    .profile {
        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid var(--background-purple);
        }
    }

    .message-container {
        .chat-message-text {
            @extend .chat-text-gray;
            padding: 1rem 1rem 0.5rem;
            max-width: 20.5rem;
        }

        .message-creating-details {
            @extend .flex-row-center-between;
            padding: 0 1.5rem;

            .message-user {
                @extend .chat-creator-text;
                font-size: 0.9rem !important;
            }

            .message-date {
                color: var(--text-light-gray);
                font-size: 0.75rem;
                font-family: var(--nunito);
                line-height: 140%;
            }
        }
    }
}


@media screen and (max-width: 1140px) {
    .chats {
        gap: 1rem;
    }

    .static-info {
        margin-left: 0.5rem;

        .static-info-title {
            font-size: 2rem !important;
        }

        .static-info-text {
            font-size: 1rem !important;
        }
    }

    .chat-column:nth-child(odd) {
        .message-container {
            &::after {
                left: -13px;
                border-top: 15px solid transparent;
                border-right: 25px solid var(--background-white);
                border-bottom: 15px solid transparent;
                filter: none;
            }
        }
    }

    .chat-column:nth-child(even) {
        .message-container {
            &::after {
                right: -13px;
                border-top: 15px solid transparent;
                border-left: 25px solid var(--background-white);
                border-bottom: 15px solid transparent;
                filter: none;
            }
        }
    }

    .chat-column {
        transform: scale(0.9);

        .message-container {
            .chat-message-text {
                font-size: 0.7rem !important;
                padding: 0.8rem 0.8rem 0.5rem;
            }

            .message-creating-details {
                .message-user {
                    font-size: 0.7rem !important;
                }

                .message-date {
                    font-size: 0.65rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .chat {
        flex-flow: column;
        gap: 2rem;
    }

    .chats {
        gap: 1rem;
    }

    .chat-column {
        transform: scale(1);
        margin: 0 0.5rem;
    }

    .static-info {
        .static-info-title {
            font-size: 2.5rem !important;
        }

        .static-info-text {
            font-size: 1rem !important;
        }
    }
}

// CHAT END

// PACKAGE START

.package {
    position: relative;
    margin-top: 12.5rem;
    background: var(--package-background);
    padding-top: 9.6rem;

    &::before {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave-top.svg);
        width: 100%;
        height: 200px;
        background-position: top center;
        top: 0px;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }

    .package-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
    }

    .package-info {
        @extend .chat-text-gray-1-125;
        @extend .text-align-center;
        margin-top: 1.125rem;
    }
}

@media screen and (max-width: 660px) {
    .package {
        &::before {
            height: 100px;
        }
    }
}

.package-choices-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
    padding-bottom: 10rem;
}

.choices-column {
    width: 24rem;

    .price-column {
        position: relative;
        background: linear-gradient(168deg, rgba(136, 40, 255, 1) 0%, rgba(136, 40, 255, 1) 36%, rgba(171, 124, 208, 1) 80%);
        padding: 2rem 2.5rem 3rem;
        border-radius: 1.25rem 1.25rem 0rem 0rem;

        .choice-type {
            @extend .white-1rem-grotext;
        }

        .price {
            @extend .dark-blue-text-center-grotext-family-2rem;
            color: var(--text-white) !important;
        }

        .date {
            @extend .info-text-gray-1rem;
            color: var(--text-white) !important;
        }

        .recommended {
            position: absolute;
            top: 0;
            right: 1.5rem;
            background: var(--recommended);
            padding: 0.7rem 1.4rem;
            border-radius: 0 0 1rem 1rem;

            h1 {
                @extend .dark-blue-text-center-grotext-family-1rem;
            }
        }
    }

    .abilities {
        position: relative;
        background: var(--background-white);
        border-radius: 0rem 0rem 1.25rem 1.25rem;
        padding: 2.5rem 5rem 2.5rem 2.5rem;

        .abilities-ul {
            @extend .flex-column-justify-align-start;
            gap: 0.6rem;

            .abilities-li {
                & {
                    position: relative;
                    @extend .flex-row-align-center;
                    @extend .info-text-gray-1-125rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../../images/main-page/arrow.svg);
                    width: 20px;
                    height: 20px;
                    left: -1.25rem;
                }
            }
        }

        .abilities-btn {
            @extend .gray-button-purple-1rem-2rem;
            transform: scale(0.9);
            margin-top: 1rem;
        }
    }
}

.choices-column:nth-child(even) {
    background: linear-gradient(168deg, rgba(136, 40, 255, 1) 0%, rgba(136, 40, 255, 1) 36%, rgba(171, 124, 208, 1) 80%);
    border-radius: 1.25rem;

    .price-column,
    .abilities {
        background: none;

        .abilities-ul {
            .abilities-li {
                & {
                    @extend .flex-row-align-center;
                    @extend .info-text-gray-1-125rem;
                    color: var(--text-white) !important;
                }

                &::before {
                    background: url(../../images/main-page/arrow-white.svg);
                }
            }
        }

        .abilities-btn {
            @extend .gray-button-purple-1rem-2rem;
            transform: scale(0.9);
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 660px) {
    .package {
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;

        .package-title {
            font-size: 2rem !important;
        }

        .package-info {
            font-size: 1rem !important;
            width: 60%;
            margin-inline: 20%;
        }
    }

    .choices-column {
        width: 22rem;
    }

    @media screen and (max-width: 400px) {
        .choices-column {
            width: 96%;
            margin: 0 2%;

            .abilities-ul {
                .abilities-li {
                    & {
                        font-size: 0.9rem !important;
                    }
                }
            }
        }
    }
}


// PACKAGE END


// CAROUSEL START


// GRADIENT CONTENT START

.gradient-container {
    @extend .flex-row-justify-align-center;
    position: relative;
    gap: 1rem;
    background-image: url(../../images/layout/wave.svg);
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);
    background-position: center bottom;
    padding: 10.5rem 0;

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }
}

.gradient-text-container {
    padding-left: 5rem;

    .gradient-title {
        color: var(--text-white);
        font-size: 3.5rem;
        font-family: var(--grotext-sans);
        font-weight: 700;
        line-height: 120%;
        text-transform: capitalize;

        &::first-line {
            color: var(--text-purple);
        }
    }

    .gradient-text {
        color: var(--text-white);
        font-size: 1.05rem;
        font-family: var(--grotext-sans);
        line-height: 2rem;
        margin: 0.5rem 0 0 0.3rem;
    }

}

.gradient-image-container {
    width: 40%;
    margin-right: 1rem;

    img {
        width: 100%;
        max-width: 37.5rem;
        object-fit: cover;
    }
}

.gradient-buttons-container {
    display: flex;
    margin-top: 1rem;

    .gradient-btn-column {
        a {
            .gradient-button {
                @extend .onerem-tworem-purple-button;
            }

            .gradient-button-without-background {
                @extend .onerem-tworem-purple-button-without-background;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .gradient-text-container {
        .gradient-title {
            font-size: 2.5rem;
        }
    }

    .gradient-image-container {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .gradient-text-container {
        .gradient-title {
            font-size: 2rem;
        }

        .gradient-text {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }

    .gradient-image-container {
        width: 60%;
    }

    .gradient-buttons-container {
        .gradient-btn-column {
            a {

                .gradient-button,
                .gradient-button-without-background {
                    padding: 0.5rem 1rem !important;
                    font-size: 1rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .gradient-text-container {
        padding-left: 3rem;
    }

    .gradient-container {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .gradient-text-container {
        .gradient-title {
            font-size: 3rem;
        }

        .gradient-text {
            font-size: 1rem;
            line-height: 2rem;
        }
    }

    .gradient-image-container {
        width: 90%;
        margin: 3rem 0;
    }

    .gradient-buttons-container {
        .gradient-btn-column {
            a {

                .gradient-button,
                .gradient-button-without-background {
                    padding: 1rem 2rem !important;
                    font-size: 1.125rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .gradient-text-container {
        padding-left: 1rem;

        .gradient-title {
            font-size: 2.1rem;
        }

        .gradient-text {
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }

    .gradient-buttons-container {
        .gradient-btn-column {
            a {

                .gradient-button,
                .gradient-button-without-background {
                    padding: 0.5rem 1rem !important;
                    font-size: 1rem !important;
                }
            }
        }
    }
}

// GRADIENT CONTENT END

// TASKS START

.tasks {
    @extend .flex-row-center-around;
    margin: 8rem 0;
    gap: 1rem;
}

.task-image-column {
    img {
        width: 100%;
        max-width: 37.5rem;
        object-fit: cover;
    }
}

.task-content-column {
    .task-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .task-text {
        @extend .chat-text-gray-1-125;
        margin-left: 0.3rem;
    }

    .task-button-a {
        margin-left: 0.3rem;

        .task-button {
            @extend .gray-button-purple-1rem-2rem;
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .task-content-column {
        margin-right: 0.5rem;

        .task-title {
            font-size: 2rem !important;
        }

        .task-text {
            font-size: 1rem !important;
        }

        .task-button-a {
            .task-button {
                padding: 0.7rem 1.2rem !important;
                font-size: 1rem !important;
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .tasks {
        flex-flow: column-reverse;
    }

    .task-content-column {
        margin: 0 0.5rem;
    }
}

// TASKS END

// CHAT START

.chat {
    @extend .flex-row-center-around;
    position: relative;
    padding-top: 12rem;

    &::before {
        content: "";
        position: absolute;
        top: -15rem;
        right: 0;
        width: 10rem;
        height: 500px;
        background-image: url('../../images/main-page/rightcircle.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (max-width:1200px) {
        &::before {
            top: -7rem;
            width: 8rem;
            height: 300px;
        }
    }
}

.static-info {
    .static-info-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
    }

    .static-info-text {
        @extend .info-text-gray-1-125rem;
        margin-top: 1rem;
    }
}

.chats {
    @extend .flex-column-justify-between;
    gap: 2.31rem;
}

.message-container {
    position: relative;
    border-radius: 16px;
    background: var(--background-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.chat-column:nth-child(odd) {
    .message-container {
        &::after {
            content: "";
            position: absolute;
            left: -24px;
            bottom: 1px;
            border-top: 18px solid transparent;
            border-right: 35px solid var(--background-white);
            border-bottom: 18px solid transparent;
            filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
        }
    }
}

.chat-column:nth-child(even) {
    .profile {
        order: 2;
    }

    .message-container {
        &::after {
            content: "";
            position: absolute;
            right: -24px;
            bottom: 1px;
            border-top: 18px solid transparent;
            border-left: 35px solid var(--background-white);
            border-bottom: 18px solid transparent;
            filter: drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.1));
        }
    }
}

.chat-column {
    @extend .flex-row-justify-align-end;
    column-gap: 2.25rem;

    .profile {
        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid var(--background-purple);
        }
    }

    .message-container {
        .chat-message-text {
            @extend .chat-text-gray;
            padding: 1rem 1rem 0.5rem;
            max-width: 20.5rem;
        }

        .message-creating-details {
            @extend .flex-row-center-between;
            padding: 0 1.5rem;

            .message-user {
                @extend .chat-creator-text;
                font-size: 0.9rem !important;
            }

            .message-date {
                color: var(--text-light-gray);
                font-size: 0.75rem;
                font-family: var(--nunito);
                line-height: 140%;
            }
        }
    }
}


@media screen and (max-width: 1140px) {
    .chats {
        gap: 1rem;
    }

    .static-info {
        margin-left: 0.5rem;

        .static-info-title {
            font-size: 2rem !important;
        }

        .static-info-text {
            font-size: 1rem !important;
        }
    }

    .chat-column:nth-child(odd) {
        .message-container {
            &::after {
                left: -13px;
                border-top: 15px solid transparent;
                border-right: 25px solid var(--background-white);
                border-bottom: 15px solid transparent;
                filter: none;
            }
        }
    }

    .chat-column:nth-child(even) {
        .message-container {
            &::after {
                right: -13px;
                border-top: 15px solid transparent;
                border-left: 25px solid var(--background-white);
                border-bottom: 15px solid transparent;
                filter: none;
            }
        }
    }

    .chat-column {
        transform: scale(0.9);

        .message-container {
            .chat-message-text {
                font-size: 0.7rem !important;
                padding: 0.8rem 0.8rem 0.5rem;
            }

            .message-creating-details {
                .message-user {
                    font-size: 0.7rem !important;
                }

                .message-date {
                    font-size: 0.65rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 660px) {
    .chat {
        flex-flow: column;
        gap: 2rem;
    }

    .chats {
        gap: 1rem;
    }

    .chat-column {
        transform: scale(1);
        margin: 0 0.5rem;
    }

    .static-info {
        .static-info-title {
            font-size: 2.5rem !important;
        }

        .static-info-text {
            font-size: 1rem !important;
        }
    }
}

// CHAT END

// PACKAGE START

.package {
    position: relative;
    margin-top: 12.5rem;
    background: var(--package-background);
    padding-top: 9.6rem;

    &::before {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave-top.svg);
        width: 100%;
        height: 200px;
        background-position: top center;
        top: 0px;
        background-size: cover;
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }

    .package-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
    }

    .package-info {
        @extend .chat-text-gray-1-125;
        @extend .text-align-center;
        margin-top: 1.125rem;
    }
}

@media screen and (max-width: 660px) {
    .package {
        &::before {
            height: 100px;
        }
    }
}

.package-choices-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
    padding-bottom: 10rem;
}

.choices-column {
    width: 24rem;

    .price-column {
        position: relative;
        background: linear-gradient(168deg, rgba(136, 40, 255, 1) 0%, rgba(136, 40, 255, 1) 36%, rgba(171, 124, 208, 1) 80%);
        padding: 2rem 2.5rem 3rem;
        border-radius: 1.25rem 1.25rem 0rem 0rem;

        .choice-type {
            @extend .white-1rem-grotext;
        }

        .price {
            @extend .dark-blue-text-center-grotext-family-2rem;
            color: var(--text-white) !important;
        }

        .date {
            @extend .info-text-gray-1rem;
            color: var(--text-white) !important;
        }

        .recommended {
            position: absolute;
            top: 0;
            right: 1.5rem;
            background: var(--recommended);
            padding: 0.7rem 1.4rem;
            border-radius: 0 0 1rem 1rem;

            h1 {
                @extend .dark-blue-text-center-grotext-family-1rem;
            }
        }
    }

    .abilities {
        position: relative;
        background: var(--background-white);
        border-radius: 0rem 0rem 1.25rem 1.25rem;
        padding: 2.5rem 5rem 2.5rem 2.5rem;

        .abilities-ul {
            @extend .flex-column-justify-align-start;
            gap: 0.6rem;

            .abilities-li {
                & {
                    position: relative;
                    @extend .flex-row-align-center;
                    @extend .info-text-gray-1-125rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../../images/main-page/arrow.svg);
                    width: 20px;
                    height: 20px;
                    left: -1.25rem;
                }
            }
        }

        .abilities-btn {
            @extend .gray-button-purple-1rem-2rem;
            transform: scale(0.9);
            margin-top: 1rem;
        }
    }
}

.choices-column:nth-child(even) {
    background: linear-gradient(168deg, rgba(136, 40, 255, 1) 0%, rgba(136, 40, 255, 1) 36%, rgba(171, 124, 208, 1) 80%);
    border-radius: 1.25rem;

    .price-column,
    .abilities {
        background: none;

        .abilities-ul {
            .abilities-li {
                & {
                    @extend .flex-row-align-center;
                    @extend .info-text-gray-1-125rem;
                    color: var(--text-white) !important;
                }

                &::before {
                    background: url(../../images/main-page/arrow-white.svg);
                }
            }
        }

        .abilities-btn {
            @extend .gray-button-purple-1rem-2rem;
            transform: scale(0.9);
            margin-top: 1rem;
        }
    }
}

@media screen and (max-width: 660px) {
    .package {
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;

        .package-title {
            font-size: 2rem !important;
        }

        .package-info {
            font-size: 1rem !important;
            width: 60%;
            margin-inline: 20%;
        }
    }

    .choices-column {
        width: 22rem;
    }

    @media screen and (max-width: 400px) {
        .choices-column {
            width: 96%;
            margin: 0 2%;

            .abilities-ul {
                .abilities-li {
                    & {
                        font-size: 0.9rem !important;
                    }
                }
            }
        }
    }
}


// PACKAGE END


// CAROUSEL START

.carousel-outer-container {
    overflow: hidden;
    width: 100vw;
    position: relative;
    background: #f3f3f3;
    margin-top: 5rem;
    padding: 2rem 0;
}



.carousel-container {
    width: 100%;
    position: relative;
    margin: 3rem 0;
    overflow: hidden;
}

.carousel {
    position: relative;
    display: flex;
    transition: transform 0.3s ease-in-out;
    max-width: 1800px;
    margin: 0 auto 3rem;
}

.carousel-slide {
    display: flex;
    gap: 2rem;
    background: var(--carousel-background);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
    text-align: center;
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.carousel-image-info-container {
    display: flex;
    flex-flow: column;
    width: 10rem;

    img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        border-radius: 1.25rem;
    }
}

.carousel-data-container {
    text-align: start;
    margin-top: 1rem;

    span,
    p {
        @extend .chat-date-text;
    }

    .carousel-data {
        color: var(--text-purple);
    }
}

.carousel-slide-content {
    .carousel-title {
        @extend .dark-blue-text-center-grotext-family-1-5rem;
        @extend .text-align-start;
        width: 13rem;
    }

    .carousel-text {
        @extend .chat-text-gray;
        @extend .text-align-start;
        width: 13rem;
    }
}

.carousel-controls {
    position: absolute;
    right: 5rem;
    bottom: 0;
}

.controls-container {
    position: relative;
    width: 100%;
    height: 20px;
}

.carousel-prev,
.carousel-next {
    border: none;
    background: none;
    margin: 0 0.4rem;
    cursor: pointer;

    i {
        font-size: 1.5rem;
        color: var(--text-purple);
    }
}

@media screen and (max-width: 600px) {
    .carousel-container {
        width: 100%;
        position: relative;
        margin: 3rem 0.5rem;
        overflow: hidden;
    }

    .carousel {
        position: relative;
        gap: 1rem;
        grid-auto-rows: 1fr;
        transition: transform 0.3s ease-in-out;
        max-width: 1800px;
        margin: 0 auto 3rem;
    }

    .carousel-image-info-container {
        width: 8rem;

        img {
            height: 9rem;
        }
    }

    .carousel-slide-content {
        margin: auto 0;

        .carousel-title {
            font-size: 1.25rem !important;
        }
    }
}

// CAROUSEL END