.project-detail-section {
    padding-block: 4rem;
}

.project-detail-image-container {
    width: 100%;

    img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }
}

.project-detail-article {
    width: 100%;
    height: 20rem;
    background: url('../../images/project-detail/wave.svg') no-repeat;
    background-size: cover;
    margin-top: -0.33rem;
    padding: 2rem 1rem;

    .project-detail-title {
        @extend .dark-blue-text-center-grotext-family-2rem;
        @extend .text-align-start;
        color: var(--text-white) !important;
    }
}

.project-detail-creaters {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;

    .project-detail-category {
        color: var(--text-purple);
        text-align: center;
        font-size: 1.125rem;
        font-family: var(--grotext-sans);
        font-weight: 500;
        padding: 1rem 2rem;
        border-radius: 40px;
        border: none;
        background: var(--gray-button);

        i {
            font-size: 1rem;
        }
    }
}

.project-detail-devs {
    display: flex;
    background: var(--background-white);
    padding: 0.65rem 1rem;
    border-radius: 40px;

    img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;

        &:not(:first-child) {
            margin-left: -0.5rem;
        }
    }
}

.project-detail-description-container {
    padding-inline: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 750px) {
    .project-detail-creaters {
        .project-detail-category {
            font-size: 1rem;
            padding: 0.75rem 1rem;

            i {
                font-size: 0.9rem;
            }
        }
    }

    .project-detail-devs {
        padding: 0.25rem 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .project-detail-image-container {
        img {
            height: 18rem;
        }
    }

    .project-detail-article {
        height: 25rem;

        .project-detail-title {
            font-size: 1.75rem !important;
        }
    }

    .project-detail-creaters {
        flex-wrap: wrap;
    }
}