// START PRICING LIST SECTION

.pricing-list-section {
    position: relative;
    background-image: url(../../images/layout/wave.svg);
    background: linear-gradient(168deg, rgba(170, 235, 255, 1) 0%, rgba(255, 217, 221, 1) 0%, rgba(222, 181, 255, 1) 16%, rgba(193, 188, 255, 1) 33%, rgba(193, 115, 255, 1) 96%);
    background-position: center bottom;
    margin-bottom: 10rem;

    &::after {
        content: "";
        position: absolute;
        background: url(../../images/layout/wave.svg);
        width: 100%;
        height: 200px;
        background-position: bottom center;
        bottom: -10px;
        background-size: cover;
    }
}

.pricing-list-container {
    @extend .flex-row-justify-align-center;
    gap: 1rem;
    padding-inline: 1rem;
}

.pricing-list-text-container {
    padding: 10.5rem 0;
    width: 50%;

    .pricing-list-title {
        @extend .dark-blue-text-center-grotext-family-3rem;
        @extend .text-align-start;
        color: var(--text-white) !important;

        &::first-line {
            color: var(--text-purple)
        }
    }

    .pricing-list-text {
        @extend .info-text-gray-1rem;
        color: var(--text-white) !important;
        width: min(100%, 35rem);
        margin: 1rem 0 2rem;
    }
}

.pricing-list-btn-container {
    .pricing-list-btn {
        @extend .onerem-tworem-purple-button;
    }
}

.pricing-list-image-container {
    display: flex;
    justify-content: end;
    width: min(100%, 35rem);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.25rem;
    }

    .pricing-list-first-image {
        z-index: var(--z-index-2);
        margin: 5rem -5rem 0 0;
    }
}

@media screen and (max-width: 1200px) {
    .pricing-list-container {
        flex-flow: column;
        align-items: start !important;
    }

    .pricing-list-text-container {
        padding: 10.5rem 0 0;
        width: 100%;

        .pricing-list-text {
            width: 100%;
        }
    }

    .pricing-list-image-container {
        display: flex;
        width: min(100%, 40rem);
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .pricing-list-image-container {
        width: 90%;
        flex-flow: column;
        gap: 1rem;

        img {
            z-index: var(--z-index-2);
        }
    }

    .pricing-list-title {
        font-size: 2.5rem !important;
    }
}

// END PRICING LIST SECTION

// START PRICING CATEGORIES SECTION

.pricing-categories-section {
    margin: 1rem 0 5rem;
}

.pricing-categories-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    margin-top: 5rem;
}

.pricing-categories-column {
    width: 24rem;
}

.categorie-column {
    position: relative;
    background: linear-gradient(168deg, rgba(136, 40, 255, 1) 0%, rgba(136, 40, 255, 1) 36%, rgba(171, 124, 208, 1) 80%);
    padding: 2rem 2.5rem 3rem;
    border-radius: 1.25rem 1.25rem 0rem 0rem;

    .pricing-popular-type {
        @extend .white-1rem-grotext;
    }

    .pricing-popular-price {
        @extend .dark-blue-text-center-grotext-family-2rem;
        color: var(--text-white) !important;
    }

    .pricing-popular-date {
        @extend .info-text-gray-1rem;
        color: var(--text-white) !important;
    }
}

.pricing-categories-abilities {
    position: relative;
    background: var(--background-white);
    border-radius: 0rem 0rem 1.25rem 1.25rem;
    padding: 2.5rem 5rem 2.5rem 2.5rem;
}

.pricing-categories-abilities-ul {
    @extend .flex-column-justify-align-start;
    gap: 0.6rem;

    .categories-abilities-li {
        & {
            position: relative;
            @extend .flex-row-align-center;
            @extend .info-text-gray-1-125rem;
        }

        &::before {
            content: "";
            position: absolute;
            background: url(../../images/main-page/arrow.svg);
            width: 20px;
            height: 20px;
            left: -1.25rem;
        }
    }
}

.categories-abilities-btn {
    @extend .gray-button-purple-1rem-2rem;
    transform: scale(0.9);
    margin-top: 1rem;
}

@media screen and (max-width: 660px) {
    .pricing-categories-column {
        width: 22rem;
    }

    @media screen and (max-width: 400px) {
        .pricing-categories-column {
            width: 96%;
            margin: 0 2%;

            .pricing-categories-abilities-u {
                .categories-abilities-li {
                    & {
                        font-size: 0.9rem !important;
                    }
                }
            }
        }
    }
}

// END PRICING CATEGORIES SECTION