{% load static %}
<footer class="footer">
    <section class="footer-links fade fadeInUp">
        <section class="website-information">
            <div class="footer-logo-section">
                <h1>Cyber<span>Code</span></h1>
            </div>
            <div class="footer-info-section">
                <p class="footer-info">
                    For businesses who need clarity, productive communication, prioritisation and accountability.
                </p>
                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=61552090107755"><i class="fab fa-facebook"></i></a>
                    <a href="https://t.me/CyberCodeOwner"><i class="fab fa-telegram"></i></a>
                    <a href="https://www.instagram.com/i.really_miss.you_/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/shaxobiddin-zuxriddinov-473110294/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </section>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Useful links</h1>
            <ul class="footer-links-container">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'main:profile' %}">Profile</a></li>
                {% else %}
                <li><a href="{% url 'main:login' %}">Profile</a></li>
                {% endif %}
                <li><a href="{% url 'main:job' %}">Job</a></li>
                <li><a href="{% url 'main:contact' %}">Contact</a></li>
                <li><a href="{% url 'main:page404' %}">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Our product</h1>
            <ul class="footer-links-container">
                <li><a href="{% url 'main:pricing' %}">Pricing</a></li>
                <li><a href="{% url 'main:pricinglist' %}">Pricing list</a></li>
                <li><a href="{% url 'main:blog' %}">Blog</a></li>
                <li><a href="{% url 'main:about' %}">About us</a></li>
            </ul>
        </div>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Useful links</h1>
            <ul class="footer-links-container">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'main:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'main:login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'main:job' %}">Job Application</a></li>
                <li><a href="{% url 'main:faqlist' %}">Faq List</a></li>
                <li><a href="mailto:cybercodesp@gmail.com">Our Email</a></li>
            </ul>
        </div>
    </section>
    <section class="footer-privacy fade fadeInUp">
        <h1 class="footer-privacy-text">Made with <span style="color: var(--text-purple);">💜</span> by Cyber Code Team</h1>
        <h1 class="footer-privacy-text">Copyright © Cyber Code, 2023</h1>
        <h1 class="footer-privacy-text">
            <a href="tel:+998331701706">Call us</a>
        </h1>
    </section>
</footer>