{% load static %}
<footer class="footer">
    <section class="footer-links">
        <section class="website-information">
            <div class="footer-logo-section">
                <img src="{% static 'main/images/layout/codecraftfooter.svg' %}" alt="">
                <h1>yber<span>Code</span></h1>
            </div>
            <div class="footer-info-section">
                <p class="footer-info">
                    For businesses who need clarity, productive communication, prioritisation and accountability.
                </p>
                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=61552090107755"><i class="fab fa-facebook" style="color: var(--text-white);";></i></a>
                    <a href="https://web.telegram.org/k/#@ccdigitalcompany"><i class="fab fa-telegram" style="color: var(--text-white);"></i></a>
                    <a href="https://www.instagram.com/dev_cybercode/"><i class="fab fa-instagram" style="color: var(--text-white)"></i></a>
                    <a href="https://www.linkedin.com/in/%D1%81%D0%B0%D0%BB%D0%BE%D1%85%D0%B8%D0%B4%D0%B4%D0%B8%D0%BD-%D0%B5%D1%80%D0%BC%D1%83%D1%85%D0%B0%D0%BC%D0%B5%D0%B4%D0%BE%D0%B2-746401294"><i class="fab fa-linkedin" style="color: var(--text-white);"></i></a>
                </div>
            </div>
        </section>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Useful links</h1>
            <ul class="footer-links-container">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'main:profile' %}">Profile</a></li>
                {% else %}
                <li><a href="{% url 'main:login' %}">Profile</a></li>
                {% endif %}
                <li><a href="{% url 'main:job' %}">Job</a></li>
                <li><a href="{% url 'main:contact' %}">Contact</a></li>
                <li><a href="{% url 'main:documentation' %}">Documentation</a></li>
            </ul>
        </div>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Our product</h1>
            <ul class="footer-links-container">
                <li><a href="{% url 'main:pricing' %}">Pricing</a></li>
                <li><a href="{% url 'main:pricinglist' %}">Pricing list</a></li>
                <li><a href="{% url 'main:blog' %}">Blog</a></li>
                <li><a href="{% url 'main:about' %}">About us</a></li>
            </ul>
        </div>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Useful links</h1>
            <ul class="footer-links-container">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'main:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'main:login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'main:job' %}">Job Application</a></li>
                <li><a href="{% url 'main:faqlist' %}">Faq List</a></li>
                <li><a href="mailto:supportcybercode@gmail.com">Our Email</a></li>
            </ul>
        </div>
    </section>
    <section class="footer-privacy">
        <h1 class="footer-privacy-text">Made with ❤ by Cyber Code Team</h1>
        <h1 class="footer-privacy-text">Copyright © Cyber Code, 2023</h1>
        <h1 class="footer-privacy-text">
            <a href="tel:+998950540790">Call us</a>
        </h1>
    </section>
</footer>