{% load static %}
<footer class="footer">
    <section class="footer-links">
        <section class="website-information">
            <div class="footer-logo-section">
                <img src="{% static 'main/images/layout/codecraftfooter.svg' %}" alt="">
                <h1>yber<span>Code</span></h1>
            </div>
            <div class="footer-info-section">
                <p class="footer-info">
                    For businesses who need clarity, productive communication, prioritisation and accountability.
                </p>
                <div class="icons">
                    <a href=""><i class="fab fa-facebook" style="color: var(--text-white);";></i></a>
                    <a href=""><i class="fab fa-twitter" style="color: var(--text-white);"></i></a>
                    <a href=""><i class="fab fa-instagram" style="color: var(--text-white)"></i></a>
                    <a href=""><i class="fab fa-linkedin" style="color: var(--text-white);"></i></a>
                </div>
            </div>
        </section>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Useful links</h1>
            <ul class="footer-links-container">
                <li><a href="">Try free trial</a></li>
                <li><a href="">Pricing plan</a></li>
                <li><a href="">Features updates</a></li>
                <li><a href="">Chrome extentions</a></li>
            </ul>
        </div>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Our product</h1>
            <ul class="footer-links-container">
                <li><a href="">Task management</a></li>
                <li><a href="">Document management</a></li>
                <li><a href="">Client management</a></li>
                <li><a href="">Integration apps</a></li>
            </ul>
        </div>
        <div class="footer-links-section">
            <h1 class="footer-link-title">Useful links</h1>
            <ul class="footer-links-container">
                <li><a href="">Try free trial</a></li>
                <li><a href="">Pricing plan</a></li>
                <li><a href="">Features updates</a></li>
                <li><a href="">Chrome extentions</a></li>
            </ul>
        </div>
    </section>
    <section class="footer-privacy">
        <h1 class="footer-privacy-text">Made with ❤ by Code Code Team</h1>
        <h1 class="footer-privacy-text">Copyright © Cyber Code, 2023</h1>
        <h1 class="footer-privacy-text">
            <a href="">Help center</a>
        </h1>
    </section>
</footer>