{% load static %}
<header class="header" id="header">
    <nav class="navbar">
        <section class="logo-section">
            <a href="{% url 'main:index' %}" class="logo">
                <img src="{% static 'main/images/layout/codecraftheader.svg' %}" alt="">
            </a>
        </section>
        <input type="checkbox" class="hamburger-checkbox">
        <div class="hamburger" id="hamburger"></div>
        <section class="pages-section">
            <div class="pages-section-container">
                <ul class="pages-section-ul">
                    <li class="nav-link {% if request.path == '/' %}active{% endif %}">
                        <a href="{% url 'main:index' %}"><i class="fa-solid fa-house"></i> Home</a>
                    </li>
                    <li class="nav-link {% if request.path == '/about/us/' %}active{% endif %}">
                        <a href="{% url 'main:about' %}"><i class="fas fa-info-circle"></i> About</a>
                    </li>
                    <li class="nav-link {% if request.path == '/contact/us/' %}active{% endif %}">
                        <a href="{% url 'main:contact' %}"><i class="fas fa-address-card"></i> Contact</a>
                    </li>
                    <li class="nav-link {% if request.path == '/package/prices/' or request.path == '/package/prices/list' %}active{% endif %}">
                        <a href="{% url 'main:pricing' %}"><i class="fas fa-wallet"></i> Pricing</a>
                    </li>
                    <li class="nav-link {% if request.path == '' %}active{% endif %}">
                        <a href=""><i class="fas fa-book-open"></i> Blog</a>
                    </li>
                </ul>
                <div class="hidden-content">
                    <div class="hidden-btn-container">
                        <a href="">
                            <button class="hidden-login">Login</button>
                        </a>
                        <a href="">
                            <button>Get started</button>
                        </a>
                    </div>
                    <div class="hiddent-text-container">
                        <div class="hiddent-text-column">
                            <a href=""><i class="fas fa-question-circle"></i> Help Center</a>
                            <a href="tel:+998331701706">+998 33 170 17 06</a>
                            <a href="mailto:supportcybercraft@gmail.com">supportcybercraft@gmail.com</a>
                        </div>
                    </div>
                    <div class="hidden-social-media-icons">
                        <a href="">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="login-part-header">
                <a href="">
                    <button class="sign-button login">Login</button>
                </a>
                <a href="">
                    <button class="sign-button get-started">Get started</button>
                </a>
            </div>
        </section>
    </nav>
</header>